{
  "Module00cTest.test_name": "test_baf_from_vcf",
  "Module00cTest.base_metrics" : {{ test_batch.base_metrics_module00c | tojson }},
  "Module00cTest.samples": {{ test_batch.samples | tojson }},

  "Module00cTest.PlotMetrics.sv_pipeline_base_docker": {{ dockers.sv_pipeline_base_docker | tojson }},
  "Module00cTest.Module00cMetrics.sv_pipeline_base_docker": {{ dockers.sv_pipeline_base_docker | tojson }},
  "Module00cTest.Module00cMetrics.linux_docker" : {{ dockers.linux_docker | tojson }},
  "Module00cTest.Module00cMetrics.contig_list" : {{ reference_resources.primary_contigs_list | tojson }},

  "Module00cTest.Module00cMetrics.baseline_merged_dels" : {{ test_batch.baseline_merged_dels | tojson }},
  "Module00cTest.Module00cMetrics.baseline_merged_dups" : {{ test_batch.baseline_merged_dups | tojson }},
  "Module00cTest.Module00cMetrics.baseline_median_cov" : {{ test_batch.baseline_median_cov | tojson }},
  "Module00cTest.Module00cMetrics.baseline_std_manta_vcf": {{ test_batch.baseline_std_manta_vcf | tojson }},
  "Module00cTest.Module00cMetrics.baseline_std_melt_vcf": {{ test_batch.baseline_std_melt_vcf | tojson }},
  "Module00cTest.Module00cMetrics.baseline_std_wham_vcf": {{ test_batch.baseline_std_wham_vcf | tojson }},

  "Module00cTest.Module00c.sv_base_mini_docker":{{ dockers.sv_base_mini_docker | tojson }},
  "Module00cTest.Module00c.sv_base_docker": {{ dockers.sv_base_docker | tojson }},
  "Module00cTest.Module00c.sv_pipeline_docker": {{ dockers.sv_pipeline_docker | tojson }},
  "Module00cTest.Module00c.sv_pipeline_qc_docker": {{ dockers.sv_pipeline_qc_docker | tojson }},
  "Module00cTest.Module00c.cnmops_docker": {{ dockers.cnmops_docker | tojson }},
  "Module00cTest.Module00c.linux_docker" : {{ dockers.linux_docker | tojson }},
  "Module00cTest.Module00c.gatk_docker": {{ dockers.gatk_docker | tojson }},
  "Module00cTest.Module00c.condense_counts_docker" : {{ dockers.condense_counts_docker | tojson }},

  "Module00cTest.Module00c.cytoband":{{ reference_resources.cytobands | tojson }},
  "Module00cTest.Module00c.mei_bed":{{ reference_resources.mei_bed | tojson }},
  "Module00cTest.Module00c.cnmops_allo_file": {{ reference_resources.allosome_file | tojson }},
  "Module00cTest.Module00c.cnmops_exclude_list": {{ reference_resources.cnmops_exclude_list | tojson }},
  "Module00cTest.Module00c.cnmops_chrom_file": {{ reference_resources.autosome_file | tojson }},
  "Module00cTest.Module00c.primary_contigs_fai": {{ reference_resources.primary_contigs_fai | tojson }},
  "Module00cTest.Module00c.genome_file": {{ reference_resources.genome_file | tojson }},
  "Module00cTest.Module00c.inclusion_bed": {{ reference_resources.inclusion_bed | tojson }},
  "Module00cTest.Module00c.ref_fasta": {{ reference_resources.reference_fasta | tojson }},
  "Module00cTest.Module00c.ref_fasta_index": {{ reference_resources.reference_index | tojson }},
  "Module00cTest.Module00c.ref_dict": {{ reference_resources.reference_dict | tojson }},
  "Module00cTest.Module00c.matrix_qc_distance": "1000000",
  "Module00cTest.Module00c.min_svsize": "50",
  "Module00cTest.Module00c.ped_file": {{ test_batch.ped_file | tojson }},
  "Module00cTest.Module00c.run_matrix_qc": "true",

  "Module00cTest.Module00c.ploidy_sample_psi_scale": "0.001",
  "Module00cTest.Module00c.contig_ploidy_model_tar" : {{ test_batch.contig_ploidy_model_tar | tojson }},
  "Module00cTest.Module00c.gcnv_learning_rate" : 0.03,
  "Module00cTest.Module00c.gcnv_num_thermal_advi_iters" : 250,
  "Module00cTest.Module00c.gcnv_max_advi_iter_first_epoch" : 1000,
  "Module00cTest.Module00c.gcnv_max_advi_iter_subsequent_epochs" : 200,
  "Module00cTest.Module00c.gcnv_max_training_epochs" : 5,
  "Module00cTest.Module00c.gcnv_min_training_epochs" : 1,
  "Module00cTest.Module00c.gcnv_convergence_snr_averaging_window" : 100,
  "Module00cTest.Module00c.gcnv_convergence_snr_countdown_window" : 10,
  "Module00cTest.Module00c.gcnv_cnv_coherence_length" : 1000,
  "Module00cTest.Module00c.gcnv_copy_number_posterior_expectation_mode" : "EXACT",
  "Module00cTest.Module00c.gcnv_log_emission_sampling_rounds" : 20,
  "Module00cTest.Module00c.gcnv_p_alt" : 0.000001,
  "Module00cTest.Module00c.gcnv_sample_psi_scale" : 0.000001,
  "Module00cTest.Module00c.ref_copy_number_autosomal_contigs": {{ reference_resources.copy_number_autosomal_contigs | tojson }},
  "Module00cTest.Module00c.allosomal_contigs": {{ reference_resources.allosomal_contigs | tojson }},
  "Module00cTest.Module00c.gcnv_caller_internal_admixing_rate": "0.5",
  "Module00cTest.Module00c.gcnv_caller_update_convergence_threshold": "0.000001",
  "Module00cTest.Module00c.gcnv_convergence_snr_trigger_threshold": "0.2",
  "Module00cTest.Module00c.gcnv_depth_correction_tau": "10000",
  "Module00cTest.Module00c.gcnv_log_emission_sampling_median_rel_error": "0.001",
  "Module00cTest.Module00c.gcnv_qs_cutoff": "30",

  "Module00cTest.Module00c.batch": {{ test_batch.batch_name | tojson }},
  "Module00cTest.Module00c.gcnv_model_tars" : {{ test_batch.gcnv_model_tars | tojson }},
  "Module00cTest.Module00c.PE_files": {{ test_batch.PE_files | tojson }},
  "Module00cTest.Module00c.SR_files": {{ test_batch.SR_files | tojson }},
  "Module00cTest.Module00c.counts": {{ test_batch.counts | tojson }},
  "Module00cTest.Module00c.manta_vcfs": {{ test_batch.manta_vcfs | tojson }},
  "Module00cTest.Module00c.melt_vcfs": {{ test_batch.melt_vcfs | tojson }},
  "Module00cTest.Module00c.wham_vcfs": {{ test_batch.wham_vcfs | tojson }},
  "Module00cTest.Module00c.snp_vcfs": {{ test_batch.snp_vcfs | tojson }}
}
