{
  "ClusterBatch.sv_base_mini_docker":{{ dockers.sv_base_mini_docker | tojson }},
  "ClusterBatch.sv_pipeline_docker": {{ dockers.sv_pipeline_docker | tojson }},

  "ClusterBatch.contig_list": {{ reference_resources.primary_contigs_list | tojson }},
  "ClusterBatch.reference_fasta": {{ reference_resources.reference_fasta | tojson }},
  "ClusterBatch.reference_fasta_fai": {{ reference_resources.reference_index | tojson }},
  "ClusterBatch.reference_dict": {{ reference_resources.reference_dict | tojson }},
  "ClusterBatch.chr_x": {{ reference_resources.chr_x | tojson }},
  "ClusterBatch.chr_y": {{ reference_resources.chr_y | tojson }},

  "ClusterBatch.pesr_exclude_intervals": {{ reference_resources.pesr_exclude_list | tojson }},
  "ClusterBatch.pesr_interval_overlap": "0.1",
  "ClusterBatch.pesr_breakend_window": "300",
  "ClusterBatch.pesr_clustering_algorithm": "SINGLE_LINKAGE",

  "ClusterBatch.depth_exclude_intervals": {{ reference_resources.depth_exclude_list | tojson }},
  "ClusterBatch.depth_exclude_overlap_fraction": "0.5",
  "ClusterBatch.depth_interval_overlap": "0.8",
  "ClusterBatch.depth_clustering_algorithm": "SINGLE_LINKAGE",

  "ClusterBatch.gatk_docker": {{ dockers.gatk_docker | tojson }},
  "ClusterBatch.linux_docker": {{ dockers.linux_docker | tojson }},

  "ClusterBatch.batch": {{ test_batch.name | tojson }},
  "ClusterBatch.del_bed": {{ test_batch.del_bed| tojson }},
  "ClusterBatch.dup_bed": {{ test_batch.dup_bed | tojson }},
  "ClusterBatch.wham_vcf_tar": {{ test_batch.std_wham_vcf_tar | tojson }},
  "ClusterBatch.manta_vcf_tar": {{ test_batch.std_manta_vcf_tar | tojson }},
  "ClusterBatch.scramble_vcf_tar": {{ test_batch.std_scramble_vcf_tar | tojson }},
  "ClusterBatch.ped_file": {{ test_batch.ped_file | tojson }},
  "ClusterBatch.N_IQR_cutoff_plotting": "6"
}
