{
  "GenerateBatchMetrics.sv_pipeline_docker": {{ dockers.sv_pipeline_docker | tojson }},
  "GenerateBatchMetrics.sv_pipeline_rdtest_docker": {{ dockers.sv_pipeline_rdtest_docker | tojson }},
  "GenerateBatchMetrics.sv_base_mini_docker":{{ dockers.sv_base_mini_docker | tojson }},
  "GenerateBatchMetrics.sv_base_docker": {{ dockers.sv_base_docker | tojson }},
  "GenerateBatchMetrics.sv_pipeline_base_docker": {{ dockers.sv_pipeline_base_docker | tojson }},
  "GenerateBatchMetrics.linux_docker" : {{ dockers.linux_docker | tojson }},

  "GenerateBatchMetrics.BAF_split_size": "10000",
  "GenerateBatchMetrics.RD_split_size": "10000",
  "GenerateBatchMetrics.PE_split_size": "10000",
  "GenerateBatchMetrics.SR_split_size": "1000",
  "GenerateBatchMetrics.common_cnv_size_cutoff": "5000",
  "GenerateBatchMetrics.allosome_contigs": {{ reference_resources.allosome_file | tojson }},
  "GenerateBatchMetrics.autosome_contigs": {{ reference_resources.autosome_file | tojson }},
  "GenerateBatchMetrics.rmsk": {{ reference_resources.rmsk | tojson }},
  "GenerateBatchMetrics.segdups": {{ reference_resources.segdups | tojson }},
  "GenerateBatchMetrics.ref_dict": {{ reference_resources.reference_dict | tojson }},

  "GenerateBatchMetrics.primary_contigs_list": {{ reference_resources.primary_contigs_list | tojson }},

  "GenerateBatchMetrics.batch": {{ test_batch.batch_name | tojson }},
  "GenerateBatchMetrics.ped_file": {{ test_batch.ped_file | tojson }},
  "GenerateBatchMetrics.discfile": {{ test_batch.merged_disc_file | tojson }},
  "GenerateBatchMetrics.baf_metrics": {{ test_batch.merged_baf_file | tojson }},
  "GenerateBatchMetrics.coveragefile": {{ test_batch.merged_coverage_file | tojson }},
  "GenerateBatchMetrics.splitfile": {{ test_batch.merged_split_file | tojson }},
  "GenerateBatchMetrics.medianfile": {{ test_batch.medianfile | tojson }},
  "GenerateBatchMetrics.depth_vcf" : {{ test_batch.merged_depth_vcf | tojson }},
  "GenerateBatchMetrics.manta_vcf" : {{ test_batch.merged_manta_vcf | tojson }},
  "GenerateBatchMetrics.wham_vcf" : {{ test_batch.merged_wham_vcf | tojson }},
  "GenerateBatchMetrics.melt_vcf" : {{ test_batch.merged_melt_vcf | tojson }}
}
