{
  "AnnotateVcf.vcf" :   {{ test_batch.clean_vcf | tojson }},
  "AnnotateVcf.vcf_idx" : {{ test_batch.clean_vcf_idx | tojson }},

  "AnnotateVcf.protein_coding_gtf" : {{ reference_resources.protein_coding_gtf | tojson }},
  "AnnotateVcf.linc_rna_gtf" :       {{ reference_resources.linc_rna_gtf | tojson }},
  "AnnotateVcf.promoter_bed" :       {{ reference_resources.promoter_bed | tojson }},
  "AnnotateVcf.noncoding_bed" :       {{ reference_resources.noncoding_bed | tojson }},
  "AnnotateVcf.ref_bed" :       {{ reference_resources.external_af_ref_bed | tojson }},
  "AnnotateVcf.ref_prefix" :       {{ reference_resources.external_af_ref_bed_prefix | tojson }},
  "AnnotateVcf.population" :      {{ reference_resources.external_af_population | tojson }},


  "AnnotateVcf.contig_list" :  {{ reference_resources.primary_contigs_list | tojson }},
  "AnnotateVcf.ped_file":      {{ test_batch.ped_file | tojson }},
  "AnnotateVcf.sv_per_shard" : "5000",
  "AnnotateVcf.max_shards_per_chrom_step1" : 200,
  "AnnotateVcf.min_records_per_shard_step1" :  5000,

  "AnnotateVcf.prefix" : {{ test_batch.batch_name | tojson }},

  "AnnotateVcf.sv_base_mini_docker":{{ dockers.sv_base_mini_docker | tojson }},
  "AnnotateVcf.sv_pipeline_docker": {{ dockers.sv_pipeline_docker | tojson }}
}
