# GATK-SV
GATK-SV is a structural variation discovery pipeline for Illumina short-read whole-genome sequencing (WGS) data.
This workspace contains the GATK-SV joint calling pipeline; for the single-sample pipeline refer to [this workspace](https://app.terra.bio/#workspaces/help-gatk/GATK-Structural-Variants-Single-Sample).

Please refer to the GATK-SV [website](https://broadinstitute.github.io/gatk-sv/) for documentation.
The [joint calling pipeline execution page](https://broadinstitute.github.io/gatk-sv/docs/execution/joint) contains detailed information on this Terra workspace and how to apply the pipeline to your own data.
