workspace:cloud_sdk_docker	{{ dockers.cloud_sdk_docker }}
clustering_config_part1	{{ reference_resources.clustering_config_part1 }}
clustering_config_part2	{{ reference_resources.clustering_config_part2 }}
cnmops_docker	{{ dockers.cnmops_docker }}
condense_counts_docker	{{ dockers.condense_counts_docker }}
gatk_docker	{{ dockers.gatk_docker }}
gatk_docker_pesr_override	{{ dockers.gatk_docker_pesr_override }}
gcnv_gatk_docker	{{ dockers.gatk_docker }}
genomes_in_the_cloud_docker	{{ dockers.genomes_in_the_cloud_docker }}
gq_recalibrator_docker	{{ dockers.gq_recalibrator_docker }}
linux_docker	{{ dockers.linux_docker }}
manta_docker	{{ dockers.manta_docker }}
samtools_cloud_docker	{{ dockers.samtools_cloud_docker }}
sv_base_docker	{{ dockers.sv_base_docker }}
sv_base_mini_docker	{{ dockers.sv_base_mini_docker }}
sv_pipeline_docker	{{ dockers.sv_pipeline_docker }}
sv_pipeline_qc_docker	{{ dockers.sv_pipeline_qc_docker }}
wham_docker	{{ dockers.wham_docker }}
scramble_docker	{{ dockers.scramble_docker }}
allosome_file	{{ reference_resources.allosome_file }}
autosome_file	{{ reference_resources.autosome_file }}
bin_exclude	{{ reference_resources.bin_exclude }}
cnmops_exclude_list	{{ reference_resources.cnmops_exclude_list }}
contig_ploidy_priors	{{ reference_resources.contig_ploidy_priors }}
copy_number_autosomal_contigs	{{ reference_resources.copy_number_autosomal_contigs }}
cytobands	{{ reference_resources.cytobands }}
sd_locs_vcf	{{ reference_resources.sd_locs_vcf }}
depth_exclude_list	{{ reference_resources.depth_exclude_list }}
empty_file	{{ reference_resources.empty_file }}
exclude_intervals_for_gcnv_filter_intervals	{{ reference_resources.exclude_intervals_for_gcnv_filter_intervals }}
external_af_ref_bed	{{ reference_resources.external_af_ref_bed }}
external_af_ref_bed_prefix	{{ reference_resources.external_af_ref_bed_prefix }}
genome_file	{{ reference_resources.genome_file }}
HERVK_reference	{{ reference_resources.hervk_reference }}
LINE1_reference	{{ reference_resources.line1_reference }}
intron_reference {{ reference_resources.intron_reference }}
manta_region_bed	{{ reference_resources.manta_region_bed }}
manta_region_bed_index	{{ reference_resources.manta_region_bed_index }}
mei_bed	{{ reference_resources.mei_bed }}
melt_standard_vcf_header	{{ reference_resources.melt_std_vcf_header }}
noncoding_bed	{{ reference_resources.noncoding_bed }}
par_bed	{{ reference_resources.par_bed }}
pesr_exclude_list	{{ reference_resources.pesr_exclude_list }}
preprocessed_intervals	{{ reference_resources.preprocessed_intervals }}
primary_contigs_fai	{{ reference_resources.primary_contigs_fai }}
primary_contigs_list	{{ reference_resources.primary_contigs_list }}
protein_coding_gtf	{{ reference_resources.protein_coding_gtf }}
recalibrate_gq_model_file	{{ reference_resources.aou_recalibrate_gq_model_file }}
reference_build	{{ reference_resources.reference_build }}
reference_bwa_alt	{{ reference_resources.reference_bwa_alt }}
reference_bwa_amb	{{ reference_resources.reference_bwa_amb }}
reference_bwa_ann	{{ reference_resources.reference_bwa_ann }}
reference_bwa_bwt	{{ reference_resources.reference_bwa_bwt }}
reference_bwa_pac	{{ reference_resources.reference_bwa_pac }}
reference_bwa_sa	{{ reference_resources.reference_bwa_sa }}
reference_dict	{{ reference_resources.reference_dict }}
reference_fasta	{{ reference_resources.reference_fasta }}
reference_index	{{ reference_resources.reference_index }}
reference_version	{{ reference_resources.reference_version }}
rmsk	{{ reference_resources.rmsk }}
segdups	{{ reference_resources.segdups }}
seed_cutoffs	{{ reference_resources.seed_cutoffs }}
sl_cutoff_table	{{ reference_resources.sl_cutoff_table }}
stratification_config_part1	{{ reference_resources.stratification_config_part1 }}
stratification_config_part2	{{ reference_resources.stratification_config_part2 }}
wgd_scoring_mask	{{ reference_resources.wgd_scoring_mask }}
wham_include_list_bed_file	{{ reference_resources.wham_include_list_bed_file }}
chr_x	{{ reference_resources.chr_x }}
chr_y	{{ reference_resources.chr_y }}
