{
  "ClusterBatch.delly_vcf":"${this.clustered_delly_vcf}",
  "ClusterBatch.depth_vcf":"${this.clustered_depth_vcf}",
  "ClusterBatch.manta_vcf":"${this.clustered_manta_vcf}",
  "ClusterBatch.melt_vcf":"${this.clustered_melt_vcf}",
  "ClusterBatch.wham_vcf":"${this.clustered_wham_vcf}",
  "ClusterBatch.metrics_file_clusterbatch": "${this.metrics_file_clusterbatch}"
}
