{
  "Module01.delly_vcf":"${this.clustered_delly_vcf}",
  "Module01.depth_vcf":"${this.clustered_depth_vcf}",
  "Module01.manta_vcf":"${this.clustered_manta_vcf}",
  "Module01.melt_vcf":"${this.clustered_melt_vcf}",
  "Module01.wham_vcf":"${this.clustered_wham_vcf}"
}
