{
  "GATKSVPipelineSingleSample.sample_id" : {{ single_sample.sample_id | tojson }},
  "GATKSVPipelineSingleSample.batch" : {{ single_sample.name | tojson }},
  "GATKSVPipelineSingleSample.bam_or_cram_file" : {{ single_sample.bam_or_cram_file | tojson }},
  "GATKSVPipelineSingleSample.requester_pays_cram": {{ single_sample.requester_pays_cram | tojson }},

  "GATKSVPipelineSingleSample.use_melt": "false",

  "GATKSVPipelineSingleSample.cutoffs" : {{ ref_panel.cutoffs | tojson }},

  "GATKSVPipelineSingleSample.genotype_pesr_pesr_sepcutoff" : {{ ref_panel.genotype_pesr_pesr_sepcutoff | tojson }},
  "GATKSVPipelineSingleSample.genotype_pesr_depth_sepcutoff" : {{ ref_panel.genotype_pesr_depth_sepcutoff | tojson }},
  "GATKSVPipelineSingleSample.genotype_depth_pesr_sepcutoff" : {{ ref_panel.genotype_depth_pesr_sepcutoff | tojson }},
  "GATKSVPipelineSingleSample.genotype_depth_depth_sepcutoff" : {{ ref_panel.genotype_depth_depth_sepcutoff | tojson }},

  "GATKSVPipelineSingleSample.contig_ploidy_model_tar" : {{ ref_panel.contig_ploidy_model_tar | tojson }},
  "GATKSVPipelineSingleSample.ref_ped_file" : {{ ref_panel.ped_file | tojson }},
  "GATKSVPipelineSingleSample.ref_panel_bincov_matrix": {{ ref_panel.bincov_matrix | tojson }},
  "GATKSVPipelineSingleSample.ref_panel_del_bed" : {{ ref_panel.del_bed | tojson }},
  "GATKSVPipelineSingleSample.ref_panel_dup_bed" : {{ ref_panel.dup_bed | tojson }},
  "GATKSVPipelineSingleSample.ref_panel_vcf" : {{ ref_panel.vcf | tojson }},
  "GATKSVPipelineSingleSample.PE_metrics" : {{ ref_panel.PE_metrics | tojson }},
  "GATKSVPipelineSingleSample.SR_metrics" : {{ ref_panel.SR_metrics | tojson }},

  "GATKSVPipelineSingleSample.bin_exclude": {{ reference_resources.bin_exclude | tojson }},

  "GATKSVPipelineSingleSample.cnmops_docker": {{ dockers.cnmops_docker | tojson }},
  "GATKSVPipelineSingleSample.condense_counts_docker" : {{ dockers.condense_counts_docker | tojson }},
  "GATKSVPipelineSingleSample.gatk_docker": {{ dockers.gatk_docker | tojson }},
  "GATKSVPipelineSingleSample.gatk_docker_pesr_override" : {{ dockers.gatk_docker | tojson }},
  "GATKSVPipelineSingleSample.genomes_in_the_cloud_docker" : {{ dockers.genomes_in_the_cloud_docker | tojson }},

  "GATKSVPipelineSingleSample.linux_docker" : {{ dockers.linux_docker | tojson }},
  "GATKSVPipelineSingleSample.manta_docker": {{ dockers.manta_docker | tojson }},
  "GATKSVPipelineSingleSample.sv_base_docker": {{ dockers.sv_base_docker | tojson }},
  "GATKSVPipelineSingleSample.sv_pipeline_base_docker": {{ dockers.sv_pipeline_base_docker | tojson }},
  "GATKSVPipelineSingleSample.sv_base_mini_docker": {{ dockers.sv_base_mini_docker | tojson }},
  "GATKSVPipelineSingleSample.sv_pipeline_docker": {{ dockers.sv_pipeline_docker | tojson }},
  "GATKSVPipelineSingleSample.sv_pipeline_qc_docker": {{ dockers.sv_pipeline_qc_docker | tojson }},
  "GATKSVPipelineSingleSample.sv_pipeline_rdtest_docker": {{ dockers.sv_pipeline_rdtest_docker | tojson }},
  "GATKSVPipelineSingleSample.wham_docker": {{ dockers.wham_docker | tojson }},
  "GATKSVPipelineSingleSample.samtools_cloud_docker": {{ dockers.samtools_cloud_docker | tojson }},
  "GATKSVPipelineSingleSample.cloud_sdk_docker": {{ dockers.cloud_sdk_docker | tojson }},

  "GATKSVPipelineSingleSample.allosome_file" : {{ reference_resources.allosome_file | tojson }},
  "GATKSVPipelineSingleSample.cnmops_exclude_list" : {{ reference_resources.cnmops_exclude_list | tojson }},
  "GATKSVPipelineSingleSample.autosome_file" : {{ reference_resources.autosome_file | tojson }},
  "GATKSVPipelineSingleSample.primary_contigs_list" : {{ reference_resources.primary_contigs_list | tojson }},
  "GATKSVPipelineSingleSample.primary_contigs_fai" : {{ reference_resources.primary_contigs_fai | tojson }},
  "GATKSVPipelineSingleSample.empty_file" : {{ reference_resources.empty_file | tojson }},
  "GATKSVPipelineSingleSample.genome_file" : {{ reference_resources.genome_file | tojson }},
  "GATKSVPipelineSingleSample.inclusion_bed" : {{ reference_resources.inclusion_bed | tojson }},
  "GATKSVPipelineSingleSample.max_ref_panel_carrier_freq": 0.03,
  "GATKSVPipelineSingleSample.manta_region_bed" : {{ reference_resources.manta_region_bed | tojson }},
  "GATKSVPipelineSingleSample.pesr_exclude_list" : {{ reference_resources.pesr_exclude_list | tojson }},
  "GATKSVPipelineSingleSample.reference_dict" : {{ reference_resources.reference_dict | tojson }},
  "GATKSVPipelineSingleSample.reference_fasta" : {{ reference_resources.reference_fasta | tojson }},
  "GATKSVPipelineSingleSample.reference_index" : {{ reference_resources.reference_index | tojson }},
  "GATKSVPipelineSingleSample.rmsk": {{ reference_resources.rmsk | tojson }},
  "GATKSVPipelineSingleSample.segdups": {{ reference_resources.segdups | tojson }},
  "GATKSVPipelineSingleSample.cytobands": {{ reference_resources.cytobands | tojson }},
  "GATKSVPipelineSingleSample.mei_bed": {{ reference_resources.mei_bed | tojson }},
  "GATKSVPipelineSingleSample.pe_exclude_list": {{ reference_resources.pesr_exclude_list | tojson }},
  "GATKSVPipelineSingleSample.qc_definitions": {{ ref_panel.qc_definitions | tojson }},
  "GATKSVPipelineSingleSample.depth_exclude_list": {{ reference_resources.depth_exclude_list | tojson }},

  "GATKSVPipelineSingleSample.wgd_scoring_mask" : {{ reference_resources.wgd_scoring_mask | tojson }},

  "GATKSVPipelineSingleSample.wham_include_list_bed_file": {{ reference_resources.wham_include_list_bed_file | tojson }},
  "GATKSVPipelineSingleSample.preprocessed_intervals": {{ reference_resources.preprocessed_intervals | tojson }},

  "GATKSVPipelineSingleSample.depth_flags" : "--merge-coordinates",
  "GATKSVPipelineSingleSample.depth_frac" : 0.8,
  "GATKSVPipelineSingleSample.gcnv_qs_cutoff" : 30,
  "GATKSVPipelineSingleSample.genotyping_n_per_split" : 1000,
  "GATKSVPipelineSingleSample.matrix_qc_distance" : 1000000,
  "GATKSVPipelineSingleSample.min_svsize" : 50,
  "GATKSVPipelineSingleSample.n_RD_genotype_bins" : 100000,
  "GATKSVPipelineSingleSample.pesr_distance" : 300,
  "GATKSVPipelineSingleSample.pesr_flags" : "--preserve-ids",
  "GATKSVPipelineSingleSample.pesr_frac" : 0.1,
  "GATKSVPipelineSingleSample.pesr_svsize" : 0,
  "GATKSVPipelineSingleSample.ref_copy_number_autosomal_contigs" : {{ reference_resources.copy_number_autosomal_contigs | tojson }},
  "GATKSVPipelineSingleSample.clean_vcf_min_sr_background_fail_batches": 0.5,
  "GATKSVPipelineSingleSample.max_shard_size_resolve" : 500,
  "GATKSVPipelineSingleSample.clean_vcf_max_shards_per_chrom_clean_vcf_step1": 200,
  "GATKSVPipelineSingleSample.clean_vcf_min_records_per_shard_clean_vcf_step1": 5000,
  "GATKSVPipelineSingleSample.clean_vcf_samples_per_clean_vcf_step2_shard": 100,
  "GATKSVPipelineSingleSample.clean_vcf_random_seed": 0,
  "GATKSVPipelineSingleSample.clean_vcf5_records_per_shard": 5000,
  "GATKSVPipelineSingleSample.run_vcf_qc" : false,

  "GATKSVPipelineSingleSample.protein_coding_gtf" : {{ reference_resources.protein_coding_gtf | tojson }},
  "GATKSVPipelineSingleSample.linc_rna_gtf" :       {{ reference_resources.linc_rna_gtf | tojson }},
  "GATKSVPipelineSingleSample.promoter_bed" :       {{ reference_resources.promoter_bed | tojson }},
  "GATKSVPipelineSingleSample.noncoding_bed" :       {{ reference_resources.noncoding_bed | tojson }},
  "GATKSVPipelineSingleSample.external_af_ref_bed" :       {{ reference_resources.external_af_ref_bed | tojson }},
  "GATKSVPipelineSingleSample.external_af_ref_bed_prefix" :       {{ reference_resources.external_af_ref_bed_prefix | tojson }},
  "GATKSVPipelineSingleSample.external_af_population" :      {{ reference_resources.external_af_population | tojson }},

  "GATKSVPipelineSingleSample.annotation_sv_per_shard" : "5000",
  "GATKSVPipelineSingleSample.annotation_max_shards_per_chrom_step1" : 200,
  "GATKSVPipelineSingleSample.annotation_min_records_per_shard_step1" : 5000,

  "GATKSVPipelineSingleSample.cnmops_mem_gb_override_sample3": 24,

  "GATKSVPipelineSingleSample.ref_samples" : {{ ref_panel.samples | tojson }},
  "GATKSVPipelineSingleSample.ref_std_manta_vcfs" : {{ ref_panel.std_manta_vcfs | tojson }},
  "GATKSVPipelineSingleSample.ref_std_wham_vcfs" : {{ ref_panel.std_wham_vcfs | tojson }},
  "GATKSVPipelineSingleSample.ref_pesr_disc_files" : {{ ref_panel.pesr_disc_files | tojson }},
  "GATKSVPipelineSingleSample.ref_pesr_split_files" : {{ ref_panel.pesr_split_files | tojson }},
  "GATKSVPipelineSingleSample.gcnv_model_tars" : {{ ref_panel.gcnv_model_tars | tojson }}
}
