{
  "GATKSVPipelineBatch.use_delly": "false",
  "GATKSVPipelineBatch.use_manta": "true",
  "GATKSVPipelineBatch.use_wham": "true",
  "GATKSVPipelineBatch.use_melt": "true",

  "GATKSVPipelineBatch.GATKSVPipelinePhase1.gvcf_gcs_project_for_requester_pays" : "broad-dsde-methods",

  "GATKSVPipelineBatch.batch": {{ ref_panel.batch_name | tojson }},
  "GATKSVPipelineBatch.ped_file": {{ ref_panel.ped_file | tojson }},
  "GATKSVPipelineBatch.GatherSampleEvidenceBatch.requester_pays_crams": {{ ref_panel.requester_pays_crams | tojson }},
  "GATKSVPipelineBatch.sample_ids": {{ ref_panel.samples | tojson }},
  "GATKSVPipelineBatch.bam_or_cram_files": {{ ref_panel.bam_or_cram_files | tojson }},
  "GATKSVPipelineBatch.gvcfs": {{ ref_panel.gvcfs | tojson }},
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.gcnv_model_tars" : {{ ref_panel.gcnv_model_tars | tojson }},

  "GATKSVPipelineBatch.melt_docker" : {{ dockers.melt_docker | tojson }},

  "GATKSVPipelineBatch.manta_docker": {{ dockers.manta_docker | tojson }},
  "GATKSVPipelineBatch.wham_docker": {{ dockers.wham_docker | tojson }},
  "GATKSVPipelineBatch.cnmops_docker": {{ dockers.cnmops_docker | tojson }},
  "GATKSVPipelineBatch.linux_docker" : {{ dockers.linux_docker | tojson }},
  "GATKSVPipelineBatch.gatk_docker": {{ dockers.gatk_docker | tojson }},
  "GATKSVPipelineBatch.gatk_docker_pesr_override" : {{ dockers.gatk_docker | tojson }},
  "GATKSVPipelineBatch.condense_counts_docker" : {{ dockers.condense_counts_docker | tojson }},
  "GATKSVPipelineBatch.genomes_in_the_cloud_docker" : {{ dockers.genomes_in_the_cloud_docker | tojson }},
  "GATKSVPipelineBatch.sv_base_docker": {{ dockers.sv_base_docker | tojson }},
  "GATKSVPipelineBatch.sv_pipeline_base_docker": {{ dockers.sv_pipeline_base_docker | tojson }},
  "GATKSVPipelineBatch.sv_base_mini_docker": {{ dockers.sv_base_mini_docker | tojson }},
  "GATKSVPipelineBatch.sv_pipeline_docker": {{ dockers.sv_pipeline_docker | tojson }},
  "GATKSVPipelineBatch.sv_pipeline_qc_docker": {{ dockers.sv_pipeline_qc_docker | tojson }},
  "GATKSVPipelineBatch.sv_pipeline_rdtest_docker": {{ dockers.sv_pipeline_rdtest_docker | tojson }},
  "GATKSVPipelineBatch.samtools_cloud_docker": {{ dockers.samtools_cloud_docker | tojson }},
  "GATKSVPipelineBatch.cloud_sdk_docker": {{ dockers.cloud_sdk_docker | tojson }},

  "GATKSVPipelineBatch.reference_dict" : {{ reference_resources.reference_dict | tojson }},
  "GATKSVPipelineBatch.reference_fasta" : {{ reference_resources.reference_fasta | tojson }},
  "GATKSVPipelineBatch.reference_index" : {{ reference_resources.reference_index | tojson }},

  "GATKSVPipelineBatch.allosome_file" : {{ reference_resources.allosome_file | tojson }},
  "GATKSVPipelineBatch.autosome_file" : {{ reference_resources.autosome_file | tojson }},
  "GATKSVPipelineBatch.primary_contigs_list" : {{ reference_resources.primary_contigs_list | tojson }},
  "GATKSVPipelineBatch.primary_contigs_fai" : {{ reference_resources.primary_contigs_fai | tojson }},
  "GATKSVPipelineBatch.genome_file" : {{ reference_resources.genome_file | tojson }},

  "GATKSVPipelineBatch.GatherSampleEvidenceBatch.reference_version": {{ reference_resources.reference_version | tojson }},
  "GATKSVPipelineBatch.GatherSampleEvidenceBatch.delly_exclude_intervals_file": {{ reference_resources.delly_exclude_intervals_file | tojson }},
  "GATKSVPipelineBatch.GatherSampleEvidenceBatch.manta_region_bed": {{ reference_resources.manta_region_bed | tojson }},
  "GATKSVPipelineBatch.GatherSampleEvidenceBatch.melt_standard_vcf_header": {{ reference_resources.melt_std_vcf_header | tojson }},
  "GATKSVPipelineBatch.GatherSampleEvidenceBatch.wham_include_list_bed_file": {{ reference_resources.wham_include_list_bed_file | tojson }},
  "GATKSVPipelineBatch.GatherSampleEvidenceBatch.preprocessed_intervals": {{ reference_resources.preprocessed_intervals | tojson }},

  "GATKSVPipelineBatch.EvidenceQC.wgd_scoring_mask": {{ reference_resources.wgd_scoring_mask | tojson }},
  "GATKSVPipelineBatch.EvidenceQC.run_vcf_qc": "false",

  "GATKSVPipelineBatch.GATKSVPipelinePhase1.unpadded_intervals_file" : {{ reference_resources.unpadded_intervals_file | tojson }},
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.dbsnp_vcf" : {{ reference_resources.dbsnp_vcf | tojson }},
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.cnmops_exclude_list": {{ reference_resources.cnmops_exclude_list | tojson }},
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.inclusion_bed": {{ reference_resources.inclusion_bed | tojson }},
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.mei_bed": {{ reference_resources.mei_bed | tojson }},
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.cytoband": {{ reference_resources.cytobands | tojson }},
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.matrix_qc_distance": "1000000",
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.min_svsize": "50",
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.run_matrix_qc": "true",
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.ploidy_sample_psi_scale": "0.001",
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.contig_ploidy_model_tar" : "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/gcnv/ref_panel_1kg_v1-contig-ploidy-model.tar.gz",
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.gcnv_learning_rate" : 0.03,
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.gcnv_num_thermal_advi_iters" : 250,
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.gcnv_max_advi_iter_first_epoch" : 1000,
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.gcnv_max_advi_iter_subsequent_epochs" : 200,
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.gcnv_max_training_epochs" : 5,
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.gcnv_min_training_epochs" : 1,
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.gcnv_convergence_snr_averaging_window" : 100,
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.gcnv_convergence_snr_countdown_window" : 10,
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.gcnv_cnv_coherence_length" : 1000,
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.gcnv_copy_number_posterior_expectation_mode" : "EXACT",
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.gcnv_log_emission_sampling_rounds" : 20,
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.gcnv_p_alt" : 0.000001,
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.gcnv_sample_psi_scale" : 0.000001,
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.ref_copy_number_autosomal_contigs": {{ reference_resources.copy_number_autosomal_contigs | tojson }},
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.allosomal_contigs": {{ reference_resources.allosomal_contigs | tojson }},
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.gcnv_caller_internal_admixing_rate": "0.5",
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.gcnv_caller_update_convergence_threshold": "0.000001",
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.gcnv_convergence_snr_trigger_threshold": "0.2",
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.gcnv_depth_correction_tau": "10000",
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.gcnv_log_emission_sampling_median_rel_error": "0.001",
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.gcnv_qs_cutoff": "30",

  "GATKSVPipelineBatch.GATKSVPipelinePhase1.depth_flags": "--merge-coordinates",
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.depth_frac": "0.8",
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.pesr_svsize": "0",
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.pesr_frac": "0.1",
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.pesr_flags": "--preserve-ids",
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.pesr_exclude_list": {{ reference_resources.pesr_exclude_list | tojson }},
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.pesr_distance": "300",
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.depth_exclude_list": {{ reference_resources.depth_exclude_list | tojson }},
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.depth_exclude_list_frac_max": "0.5",

  "GATKSVPipelineBatch.GATKSVPipelinePhase1.BAF_split_size": "10000",
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.RD_split_size": "10000",
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.PE_split_size": "10000",
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.SR_split_size": "1000",
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.common_cnv_size_cutoff": "5000",
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.rmsk": {{ reference_resources.rmsk | tojson }},
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.segdups": {{ reference_resources.segdups | tojson }},

  "GATKSVPipelineBatch.GATKSVPipelinePhase1.outlier_cutoff_table" : {{ ref_panel.outlier_cutoff_table | tojson }},
  "GATKSVPipelineBatch.GATKSVPipelinePhase1.outlier_cutoff_nIQR": "999999",

  "GATKSVPipelineBatch.GenotypeBatch.n_RD_genotype_bins": "100000",
  "GATKSVPipelineBatch.GenotypeBatch.n_per_split": "5000",
  "GATKSVPipelineBatch.GenotypeBatch.pesr_exclude_list": {{ reference_resources.pesr_exclude_list | tojson }},
  "GATKSVPipelineBatch.GenotypeBatch.seed_cutoffs": {{ reference_resources.seed_cutoffs | tojson }},
  "GATKSVPipelineBatch.GenotypeBatch.reference_build": "hg38",
  "GATKSVPipelineBatch.GenotypeBatch.bin_exclude": {{ reference_resources.bin_exclude | tojson }},

  "GATKSVPipelineBatch.RegenotypeCNVs.n_RdTest_bins": "100000",
  "GATKSVPipelineBatch.RegenotypeCNVs.n_per_split": "5000",

  "GATKSVPipelineBatch.MakeCohortVcf.bin_exclude": {{ reference_resources.bin_exclude | tojson }},
  "GATKSVPipelineBatch.MakeCohortVcf.empty_file" : {{ reference_resources.empty_file | tojson }},
  "GATKSVPipelineBatch.MakeCohortVcf.cytobands": {{ reference_resources.cytobands | tojson }},
  "GATKSVPipelineBatch.MakeCohortVcf.mei_bed": {{ reference_resources.mei_bed | tojson }},
  "GATKSVPipelineBatch.MakeCohortVcf.pe_exclude_list": {{ reference_resources.pesr_exclude_list | tojson }},
  "GATKSVPipelineBatch.MakeCohortVcf.depth_exclude_list": {{ reference_resources.depth_exclude_list | tojson }},
  "GATKSVPipelineBatch.MakeCohortVcf.min_sr_background_fail_batches": 0.5,
  "GATKSVPipelineBatch.MakeCohortVcf.max_shards_per_chrom_clean_vcf_step1": 200,
  "GATKSVPipelineBatch.MakeCohortVcf.min_records_per_shard_clean_vcf_step1": 5000,
  "GATKSVPipelineBatch.MakeCohortVcf.samples_per_clean_vcf_step2_shard": 100,
  "GATKSVPipelineBatch.MakeCohortVcf.clean_vcf5_records_per_shard": 5000,
  "GATKSVPipelineBatch.MakeCohortVcf.random_seed": 0,
  "GATKSVPipelineBatch.MakeCohortVcf.max_shard_size_resolve": 500,

  "GATKSVPipelineBatch.BatchQC.qc_definitions" : "gs://gatk-sv-resources-public/test/batch/batch_sv.test_large.qc_definitions.tsv",

  "GATKSVPipelineBatch.GATKSVPipelinePhase1.runtime_attr_bundle": {
    "cpu_cores": 1,
    "mem_gb": 1.0,
    "disk_gb": 200,
    "boot_disk_gb": 10,
    "preemptible_tries": 3,
    "max_retries": 1
  },

  "GATKSVPipelineBatch.GATKSVPipelinePhase1.runtime_attr_postprocess": {
    "cpu_cores": 1,
    "mem_gb": 8.5,
    "disk_gb": 200,
    "boot_disk_gb": 10,
    "preemptible_tries": 3,
    "max_retries": 1
  }
}
