{
  "TrainGCNV.reference_dict" : {{ reference_resources.reference_dict | tojson }},
  "TrainGCNV.reference_fasta" : {{ reference_resources.reference_fasta | tojson }},
  "TrainGCNV.reference_index" : {{ reference_resources.reference_index | tojson }},

  "TrainGCNV.ref_copy_number_autosomal_contigs": {{ reference_resources.copy_number_autosomal_contigs | tojson }},
  "TrainGCNV.allosomal_contigs": {{ reference_resources.allosomal_contigs | tojson }},

  "TrainGCNV.contig_ploidy_priors": {{ reference_resources.contig_ploidy_priors | tojson }},
  "TrainGCNV.exclude_intervals_for_filter_intervals_ploidy": {{ reference_resources.exclude_intervals_for_gcnv_filter_intervals | tojson }},
  "TrainGCNV.exclude_intervals_for_filter_intervals_cnv": {{ reference_resources.exclude_intervals_for_gcnv_filter_intervals | tojson }},
  "TrainGCNV.num_intervals_per_scatter": "5000",
  "TrainGCNV.do_explicit_gc_correction": "true",
  "TrainGCNV.gcnv_enable_bias_factors": "false",

  "TrainGCNV.gcnv_caller_update_convergence_threshold": "0.000001",
  "TrainGCNV.gcnv_class_coherence_length": "1000",
  "TrainGCNV.gcnv_convergence_snr_trigger_threshold": "0.2",
  "TrainGCNV.gcnv_interval_psi_scale": "0.000001",
  "TrainGCNV.gcnv_log_mean_bias_standard_deviation": "0.01",
  "TrainGCNV.gcnv_max_bias_factors": "1",
  "TrainGCNV.gcnv_max_calling_iters": "20",
  "TrainGCNV.ploidy_global_psi_scale": "0.05",
  "TrainGCNV.ploidy_mean_bias_standard_deviation": "1",

  "TrainGCNV.gcnv_depth_correction_tau": "10000",
  "TrainGCNV.gcnv_log_emission_sampling_median_rel_error": "0.001",

  "TrainGCNV.sv_base_mini_docker": {{ dockers.sv_base_mini_docker | tojson }},
  "TrainGCNV.condense_counts_docker" : {{ dockers.condense_counts_docker | tojson }},
  "TrainGCNV.gatk_docker": {{ dockers.gatk_docker | tojson }},
  "TrainGCNV.linux_docker" : {{ dockers.linux_docker | tojson }},

  "TrainGCNV.gcnv_model_learning_rate" : 0.03,
  "TrainGCNV.gcnv_model_num_thermal_advi_iters" : 2500,
  "TrainGCNV.gcnv_model_max_advi_iter_first_epoch" : 5000,
  "TrainGCNV.gcnv_model_max_advi_iter_subsequent_epochs" : 200,
  "TrainGCNV.gcnv_model_max_training_epochs" : 50,
  "TrainGCNV.gcnv_model_min_training_epochs" : 5,
  "TrainGCNV.gcnv_model_convergence_snr_averaging_window" : 500,
  "TrainGCNV.gcnv_model_convergence_snr_countdown_window" : 10,
  "TrainGCNV.gcnv_model_cnv_coherence_length" : 1000,

  "TrainGCNV.gcnv_learning_rate" : 0.03,
  "TrainGCNV.gcnv_num_thermal_advi_iters" : 250,
  "TrainGCNV.gcnv_max_advi_iter_first_epoch" : 5000,
  "TrainGCNV.gcnv_max_advi_iter_subsequent_epochs" : 200,
  "TrainGCNV.gcnv_max_training_epochs" : 50,
  "TrainGCNV.gcnv_min_training_epochs" : 5,
  "TrainGCNV.gcnv_convergence_snr_averaging_window" : 100,
  "TrainGCNV.gcnv_convergence_snr_countdown_window" : 10,
  "TrainGCNV.gcnv_cnv_coherence_length" : 1000,
  "TrainGCNV.gcnv_copy_number_posterior_expectation_mode" : "EXACT",

  "TrainGCNV.gcnv_log_emission_sampling_rounds" : 20,
  "TrainGCNV.gcnv_p_alt" : 0.000001,
  "TrainGCNV.gcnv_sample_psi_scale" : 0.000001,
  "TrainGCNV.ploidy_sample_psi_scale" : 0.001,

  "TrainGCNV.runtime_attr_bundle": {
    "cpu_cores": 1,
    "mem_gb": 1.0,
    "disk_gb": 200,
    "boot_disk_gb": 10,
    "preemptible_tries": 3,
    "max_retries": 1
  },

  "TrainGCNV.cohort": {{ ref_panel.name | tojson }},
  "TrainGCNV.count_files": {{ ref_panel.count_files | tojson }},
  "TrainGCNV.samples": {{ ref_panel.samples | tojson }}
}
