{
  "TrainGCNV.reference_dict" : "gs://gcp-public-data--broad-references/hg38/v0/Homo_sapiens_assembly38.dict",
  "TrainGCNV.reference_fasta" : "gs://gcp-public-data--broad-references/hg38/v0/Homo_sapiens_assembly38.fasta",
  "TrainGCNV.reference_index" : "gs://gcp-public-data--broad-references/hg38/v0/Homo_sapiens_assembly38.fasta.fai",

  "TrainGCNV.ref_copy_number_autosomal_contigs": "2",
  "TrainGCNV.allosomal_contigs": ["chrX", "chrY"],

  "TrainGCNV.contig_ploidy_priors": "gs://gatk-sv-resources-public/hg38/v0/sv-resources/resources/v1/hg38.contig_ploidy_priors_homo_sapiens.tsv",
  "TrainGCNV.exclude_intervals_for_filter_intervals_ploidy": "gs://gatk-sv-resources-public/hg38/v0/sv-resources/resources/v1/hg38.wgs.blacklist.wPAR.bed",
  "TrainGCNV.exclude_intervals_for_filter_intervals_cnv": "gs://gatk-sv-resources-public/hg38/v0/sv-resources/resources/v1/hg38.wgs.blacklist.wPAR.bed",
  "TrainGCNV.num_intervals_per_scatter": "5000",
  "TrainGCNV.do_explicit_gc_correction": "true",
  "TrainGCNV.gcnv_enable_bias_factors": "false",

  "TrainGCNV.gcnv_caller_update_convergence_threshold": "0.000001",
  "TrainGCNV.gcnv_class_coherence_length": "1000",
  "TrainGCNV.gcnv_convergence_snr_trigger_threshold": "0.2",
  "TrainGCNV.gcnv_interval_psi_scale": "0.000001",
  "TrainGCNV.gcnv_log_mean_bias_standard_deviation": "0.01",
  "TrainGCNV.gcnv_max_bias_factors": "1",
  "TrainGCNV.gcnv_max_calling_iters": "20",
  "TrainGCNV.ploidy_global_psi_scale": "0.05",
  "TrainGCNV.ploidy_mean_bias_standard_deviation": "1",

  "TrainGCNV.gcnv_depth_correction_tau": "10000",
  "TrainGCNV.gcnv_log_emission_sampling_median_rel_error": "0.001",

  "TrainGCNV.sv_base_mini_docker": "us.gcr.io/broad-dsde-methods/gatk-sv/sv-base-mini:mw-gnomad-02-6a66c96",
  "TrainGCNV.condense_counts_docker" : "us.gcr.io/broad-dsde-methods/gatk:condensecounts-7396ae99aaab07e29c92b509a6515508fbe68158",
  "TrainGCNV.gatk_docker": "us.gcr.io/broad-gatk/gatk:4.1.8.1",
  "TrainGCNV.linux_docker" : "marketplace.gcr.io/google/ubuntu1804",

  "TrainGCNV.gcnv_model_learning_rate" : 0.03,
  "TrainGCNV.gcnv_model_num_thermal_advi_iters" : 2500,
  "TrainGCNV.gcnv_model_max_advi_iter_first_epoch" : 5000,
  "TrainGCNV.gcnv_model_max_advi_iter_subsequent_epochs" : 200,
  "TrainGCNV.gcnv_model_max_training_epochs" : 50,
  "TrainGCNV.gcnv_model_min_training_epochs" : 5,
  "TrainGCNV.gcnv_model_convergence_snr_averaging_window" : 500,
  "TrainGCNV.gcnv_model_convergence_snr_countdown_window" : 10,
  "TrainGCNV.gcnv_model_cnv_coherence_length" : 1000,
  "TrainGCNV.gcnv_copy_number_posterior_expectation_mode" : "EXACT",

  "TrainGCNV.gcnv_learning_rate" : 0.03,
  "TrainGCNV.gcnv_num_thermal_advi_iters" : 250,
  "TrainGCNV.gcnv_max_advi_iter_first_epoch" : 5000,
  "TrainGCNV.gcnv_max_advi_iter_subsequent_epochs" : 200,
  "TrainGCNV.gcnv_max_training_epochs" : 50,
  "TrainGCNV.gcnv_min_training_epochs" : 5,
  "TrainGCNV.gcnv_convergence_snr_averaging_window" : 100,
  "TrainGCNV.gcnv_convergence_snr_countdown_window" : 10,
  "TrainGCNV.gcnv_cnv_coherence_length" : 1000,
  "TrainGCNV.gcnv_copy_number_posterior_expectation_mode" : "EXACT",

  "TrainGCNV.gcnv_log_emission_sampling_rounds" : 20,
  "TrainGCNV.gcnv_p_alt" : 0.000001,
  "TrainGCNV.gcnv_sample_psi_scale" : 0.000001,
  "TrainGCNV.ploidy_sample_psi_scale" : 0.001,

  "TrainGCNV.runtime_attr_bundle": {
    "cpu_cores": 1,
    "mem_gb": 1.0,
    "disk_gb": 200,
    "boot_disk_gb": 10,
    "preemptible_tries": 3,
    "max_retries": 1
  },

  "TrainGCNV.cohort": "ref_panel_1kg_v2",
  "TrainGCNV.count_files": [
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG00096.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG00129.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG00140.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG00150.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG00187.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG00239.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG00277.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG00288.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG00337.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG00349.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG00375.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG00410.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG00457.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG00557.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG00599.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG00625.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG00701.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG00740.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG00844.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG01060.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG01085.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG01112.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG01275.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG01325.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG01344.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG01356.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG01384.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG01393.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG01396.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG01474.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG01507.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG01572.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG01607.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG01709.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG01747.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG01790.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG01794.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG01799.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG01861.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG01874.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG01880.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG01885.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG01958.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG01982.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG02002.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG02010.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG02019.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG02020.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG02069.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG02085.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG02186.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG02221.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG02235.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG02272.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG02275.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG02299.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG02332.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG02367.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG02374.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG02489.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG02490.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG02491.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG02586.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG02588.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG02611.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG02620.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG02642.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG02648.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG02658.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG02855.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG02953.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG03007.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG03009.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG03085.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG03099.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG03100.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG03111.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG03369.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG03370.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG03436.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG03449.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG03472.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG03476.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG03556.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG03604.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG03649.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG03684.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG03694.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG03709.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG03722.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG03727.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG03744.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG03756.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG03789.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG03850.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG03864.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG03872.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG03888.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG04118.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG04158.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG04161.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.HG04183.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA06984.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA10847.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA11894.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA12340.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA12489.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA12872.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA18499.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA18507.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA18530.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA18539.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA18549.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA18553.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA18560.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA18638.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA18923.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA18941.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA18945.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA18956.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA18995.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA19001.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA19035.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA19062.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA19102.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA19143.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA19184.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA19350.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA19351.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA19377.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA19443.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA19449.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA19661.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA19678.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA19679.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA19684.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA19746.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA19795.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA19818.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA19913.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA20126.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA20320.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA20321.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA20346.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA20509.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA20510.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA20522.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA20752.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA20764.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA20802.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA20845.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA20869.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA20895.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA21102.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA21122.tsv.gz",
    "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v2/counts/counts_100bp.NA21133.tsv.gz"
  ],
  "TrainGCNV.samples": [
    "HG00096",
    "HG00129",
    "HG00140",
    "HG00150",
    "HG00187",
    "HG00239",
    "HG00277",
    "HG00288",
    "HG00337",
    "HG00349",
    "HG00375",
    "HG00410",
    "HG00457",
    "HG00557",
    "HG00599",
    "HG00625",
    "HG00701",
    "HG00740",
    "HG00844",
    "HG01060",
    "HG01085",
    "HG01112",
    "HG01275",
    "HG01325",
    "HG01344",
    "HG01356",
    "HG01384",
    "HG01393",
    "HG01396",
    "HG01474",
    "HG01507",
    "HG01572",
    "HG01607",
    "HG01709",
    "HG01747",
    "HG01790",
    "HG01794",
    "HG01799",
    "HG01861",
    "HG01874",
    "HG01880",
    "HG01885",
    "HG01958",
    "HG01982",
    "HG02002",
    "HG02010",
    "HG02019",
    "HG02020",
    "HG02069",
    "HG02085",
    "HG02186",
    "HG02221",
    "HG02235",
    "HG02272",
    "HG02275",
    "HG02299",
    "HG02332",
    "HG02367",
    "HG02374",
    "HG02489",
    "HG02490",
    "HG02491",
    "HG02586",
    "HG02588",
    "HG02611",
    "HG02620",
    "HG02642",
    "HG02648",
    "HG02658",
    "HG02855",
    "HG02953",
    "HG03007",
    "HG03009",
    "HG03085",
    "HG03099",
    "HG03100",
    "HG03111",
    "HG03369",
    "HG03370",
    "HG03436",
    "HG03449",
    "HG03472",
    "HG03476",
    "HG03556",
    "HG03604",
    "HG03649",
    "HG03684",
    "HG03694",
    "HG03709",
    "HG03722",
    "HG03727",
    "HG03744",
    "HG03756",
    "HG03789",
    "HG03850",
    "HG03864",
    "HG03872",
    "HG03888",
    "HG04118",
    "HG04158",
    "HG04161",
    "HG04183",
    "NA06984",
    "NA10847",
    "NA11894",
    "NA12340",
    "NA12489",
    "NA12872",
    "NA18499",
    "NA18507",
    "NA18530",
    "NA18539",
    "NA18549",
    "NA18553",
    "NA18560",
    "NA18638",
    "NA18923",
    "NA18941",
    "NA18945",
    "NA18956",
    "NA18995",
    "NA19001",
    "NA19035",
    "NA19062",
    "NA19102",
    "NA19143",
    "NA19184",
    "NA19350",
    "NA19351",
    "NA19377",
    "NA19443",
    "NA19449",
    "NA19661",
    "NA19678",
    "NA19679",
    "NA19684",
    "NA19746",
    "NA19795",
    "NA19818",
    "NA19913",
    "NA20126",
    "NA20320",
    "NA20321",
    "NA20346",
    "NA20509",
    "NA20510",
    "NA20522",
    "NA20752",
    "NA20764",
    "NA20802",
    "NA20845",
    "NA20869",
    "NA20895",
    "NA21102",
    "NA21122",
    "NA21133"
  ]
}
