.DS_Store
.idea/
src/svqc/svqc/__pycache__/
src/svqc/svqc/tests/__pycache__/
src/svtest/svtest/__pycache__/
src/svtest/svtest/cli/__pycache__/
src/svtest/svtest/utils/__pycache__/
src/svqc/svqc.egg-info/
src/svtest/svtest.egg-info/
src/svtk/build/
src/svtk/svtk.egg-info/
src/svtk/svtk/__init__.pyc
src/svtk/svtk/__pycache__/
src/svtk/svtk/adjudicate/__pycache__/
src/svtk/svtk/annotation/__pycache__/
src/svtk/svtk/baf/__pycache__/
src/svtk/svtk/cli/__init__.pyc
src/svtk/svtk/cli/__pycache__/
src/svtk/svtk/cli/vcfcluster.pyc
src/svtk/svtk/cxsv/__pycache__/
src/svtk/svtk/pesr/__pycache__/
src/svtk/svtk/standardize/__pycache__/
src/svtk/svtk/svfile.pyc
src/svtk/svtk/utils/__init__.pyc
src/svtk/svtk/utils/__pycache__/
src/svtk/svtk/utils/bgzipfile.pyc
src/svtk/svtk/utils/helpers.c
src/svtk/svtk/utils/helpers.cpython-36m-darwin.so
src/svtk/svtk/utils/helpers.cpython-37m-darwin.so
src/svtk/svtk/utils/s3bam.pyc
src/svtk/svtk/utils/utils.pyc
src/svtk/svtk/vcfcluster.pyc
/test_inputs
/inputs/
