.DS_Store
.idea/
gatk-sv.iml
*.pyc
**.egg-info/
**__py_cache/
.tox/
src/svtk/build/
src/svtk/svtk/utils/helpers.c
src/svtk/svtk/utils/helpers.*.so
/test_inputs
/inputs/
/wdl_test/.runs.json
/wdl_test/.configs.json
