.DS_Store
.idea/
gatk-sv.iml
*.pyc
**.egg-info/
**__py_cache/
.tox/
src/svtk/build/
src/svtk/svtk/utils/helpers.c
src/svtk/svtk/utils/helpers.*.so
src/svtk/svtk/utils/helpers.cpython-36m-darwin.so
src/svtk/svtk/utils/helpers.cpython-37m-darwin.so
src/svtk/svtk/utils/s3bam.pyc
src/svtk/svtk/utils/utils.pyc
src/svtk/svtk/vcfcluster.pyc
/inputs/build/
/inputs/values/google_cloud.*.json
src/RdTest/RdTestV0.R