{
  "FilterBatchQc.contig_list": {{ reference_resources.primary_contigs_fai | tojson }},

  "FilterBatchQc.thousand_genomes_benchmark_calls": {{ reference_resources.thousand_genomes_benchmark_calls | tojson }},

  "FilterBatchQc.sv_pipeline_docker": {{ dockers.sv_pipeline_docker | tojson }},
  "FilterBatchQc.sv_base_mini_docker":{{ dockers.sv_base_mini_docker | tojson }},
  "FilterBatchQc.sv_pipeline_qc_docker": {{ dockers.sv_pipeline_qc_docker | tojson }},
  
  "FilterBatchQc.batch": {{ test_batch.name | tojson }},
  
  "FilterBatchQc.ped_file": {{ test_batch.ped_file | tojson }},
  "FilterBatchQc.depth_vcf_noOutliers": {{ test_batch.filtered_depth_vcf | tojson }},
  "FilterBatchQc.merged_pesr_vcf": {{ test_batch.filtered_pesr_vcf | tojson }}
}



