{
  "MosaicManualCheck.rare_cutoff":2,
  "MosaicManualCheck.outlier": "gs://gatk-sv-resources/resources/outlier.txt",
  "MosaicManualCheck.famfile": {{ test_batch.ped_file | tojson }},
  "MosaicManualCheck.sv_pipeline_rdtest_docker": {{ dockers.sv_pipeline_rdtest_docker | tojson }},
  "MosaicManualCheck.sv_pipeline_docker": {{ dockers.sv_pipeline_docker | tojson }},
  "MosaicManualCheck.agg_metrics": [{{ test_batch.evidence_metrics | tojson }}],
  "MosaicManualCheck.per_batch_clustered_pesr_vcf_list": ["gs://gatk-sv-resources/test/mosaic/pesr_list.txt"],
  "MosaicManualCheck.clustered_depth_vcfs": [{{ test_batch.merged_depth_vcf | tojson }}],
  "MosaicManualCheck.RF_cutoffs": [{{ test_batch.cutoffs | tojson }}],
  "MosaicManualCheck.coveragefile_idxs": [{{ test_batch.merged_coverage_file_index| tojson }}],
  "MosaicManualCheck.coveragefiles": [{{ test_batch.merged_coverage_file | tojson }}],
  "MosaicManualCheck.medianfiles": [{{ test_batch.medianfile | tojson }}]
}

