{
  "SubsetVcfBySamples.vcf": {{ test_batch.concordance_vcf | tojson }},
  "SubsetVcfBySamples.list_of_samples": {{ test_batch.pacbio_samples_list | tojson }},
  "SubsetVcfBySamples.sv_base_mini_docker": {{ dockers.sv_base_mini_docker | tojson }}
}
