{
  "Module08Annotation.vcf" :     "gs://fc-fae972fb-9dbf-41c7-926f-f419a767a1ab/61a7ce7c-3b3c-4716-977a-ffb6e34464b6/minGQ_filter_workflow_v2/d841eeb6-90c3-4ff2-8b99-7a793c85cfea/call-combine_vcfs/Talkowski_SV_PCR-free_WGS_144.minGQ_filtered.vcf.gz",
  "Module08Annotation.vcf_idx" : "gs://fc-fae972fb-9dbf-41c7-926f-f419a767a1ab/61a7ce7c-3b3c-4716-977a-ffb6e34464b6/minGQ_filter_workflow_v2/d841eeb6-90c3-4ff2-8b99-7a793c85cfea/call-combine_vcfs/Talkowski_SV_PCR-free_WGS_144.minGQ_filtered.vcf.gz.tbi",

  "Module08Annotation.protein_coding_gtf" : {{ reference_resources.protein_coding_gtf | tojson }},
  "Module08Annotation.linc_rna_gtf" :       {{ reference_resources.linc_rna_gtf | tojson }},
  "Module08Annotation.promoter_bed" :       {{ reference_resources.promoter_bed | tojson }},
  "Module08Annotation.noncoding_bed" :       {{ reference_resources.noncoding_bed | tojson }},
  "Module08Annotation.ref_bed" :       {{ reference_resources.external_af_ref_bed | tojson }},
  "Module08Annotation.ref_prefix" :       {{ reference_resources.external_af_ref_bed_prefix | tojson }},
  "Module08Annotation.population" :      {{ reference_resources.external_af_population | tojson }},


  "Module08Annotation.contig_list" :  {{ reference_resources.primary_contigs_list | tojson }},
  "Module08Annotation.ped_file":      "gs://fc-fae972fb-9dbf-41c7-926f-f419a767a1ab/FINAL_full_prenatal_dosage_sex.ped",
  "Module08Annotation.sv_per_shard" : "5000",
  "Module08Annotation.max_shards_per_chrom_step1" : 200,
  "Module08Annotation.min_records_per_shard_step1" :  5000,

  "Module08Annotation.prefix" : {{ test_batch.batch_name | tojson }},

  "Module08Annotation.sv_base_mini_docker":{{ dockers.sv_base_mini_docker | tojson }},
  "Module08Annotation.sv_pipeline_docker": {{ dockers.sv_pipeline_docker | tojson }}
}
