{
  "EvidenceQC.run_vcf_qc" : "true",
  "EvidenceQC.sv_base_mini_docker":{{ dockers.sv_base_mini_docker | tojson }},
  "EvidenceQC.sv_pipeline_docker": {{ dockers.sv_pipeline_docker | tojson }},
  "EvidenceQC.sv_pipeline_qc_docker": {{ dockers.sv_pipeline_qc_docker | tojson }},
  "EvidenceQC.sv_base_docker": {{ dockers.sv_base_docker | tojson }},
  "EvidenceQC.wgd_scoring_mask": {{ reference_resources.wgd_scoring_mask | tojson }},
  "EvidenceQC.genome_file": {{ reference_resources.genome_file | tojson }},

  "EvidenceQC.batch": {{ test_batch.batch_name | tojson }},
  "EvidenceQC.counts": {{ test_batch.counts | tojson }},
  "EvidenceQC.manta_vcfs": {{ test_batch.manta_vcfs | tojson }},
  "EvidenceQC.melt_vcfs": {{ test_batch.melt_vcfs | tojson }},
  "EvidenceQC.wham_vcfs": {{ test_batch.wham_vcfs | tojson }},
  "EvidenceQC.samples": {{ test_batch.samples | tojson }}
}
