{
  "GATKSVPipelineSingleSample.sample_id" : "${this.sample_id}",
  "GATKSVPipelineSingleSample.batch" : "${this.sample_id}",
  "GATKSVPipelineSingleSample.bam_or_cram_file" : "${this.bam_or_cram_file}",
  "GATKSVPipelineSingleSample.requester_pays_cram": "${this.requester_pays_cram}",

  "GATKSVPipelineSingleSample.use_melt": "false",

  "GATKSVPipelineSingleSample.cutoffs" : "${workspace.ref_panel_cutoffs}",

  "GATKSVPipelineSingleSample.genotype_pesr_pesr_sepcutoff" : "${workspace.ref_panel_genotype_pesr_pesr_sepcutoff}",
  "GATKSVPipelineSingleSample.genotype_pesr_depth_sepcutoff" : "${workspace.ref_panel_genotype_pesr_depth_sepcutoff}",
  "GATKSVPipelineSingleSample.genotype_depth_pesr_sepcutoff" : "${workspace.ref_panel_genotype_depth_pesr_sepcutoff}",
  "GATKSVPipelineSingleSample.genotype_depth_depth_sepcutoff" : "${workspace.ref_panel_genotype_depth_depth_sepcutoff}",

  "GATKSVPipelineSingleSample.contig_ploidy_model_tar" : "${workspace.ref_panel_contig_ploidy_model_tar}",
  "GATKSVPipelineSingleSample.ref_ped_file" : "${workspace.ref_panel_ped_file}",
  "GATKSVPipelineSingleSample.ref_panel_bincov_matrix": "${workspace.ref_panel_bincov_matrix}",
  "GATKSVPipelineSingleSample.ref_panel_del_bed" : "${workspace.ref_panel_del_bed}",
  "GATKSVPipelineSingleSample.ref_panel_dup_bed" : "${workspace.ref_panel_dup_bed}",
  "GATKSVPipelineSingleSample.ref_panel_vcf" : "${workspace.ref_panel_vcf}",
  "GATKSVPipelineSingleSample.PE_metrics" : "${workspace.ref_panel_PE_metrics}",
  "GATKSVPipelineSingleSample.SR_metrics" : "${workspace.ref_panel_SR_metrics}",

  "GATKSVPipelineSingleSample.bin_exclude": "${workspace.reference_bin_exclude}",

  "GATKSVPipelineSingleSample.cnmops_docker": "${workspace.cnmops_docker}",
  "GATKSVPipelineSingleSample.condense_counts_docker" : "${workspace.condense_counts_docker}",
  "GATKSVPipelineSingleSample.gatk_docker": "${workspace.gatk_docker}",
  "GATKSVPipelineSingleSample.gatk_docker_pesr_override" : "${workspace.gatk_docker}",
  "GATKSVPipelineSingleSample.genomes_in_the_cloud_docker" : "${workspace.genomes_in_the_cloud_docker}",

  "GATKSVPipelineSingleSample.linux_docker" : "${workspace.linux_docker}",
  "GATKSVPipelineSingleSample.manta_docker": "${workspace.manta_docker}",
  "GATKSVPipelineSingleSample.sv_base_docker": "${workspace.sv_base_docker}",
  "GATKSVPipelineSingleSample.sv_pipeline_base_docker": "${workspace.sv_pipeline_base_docker}",
  "GATKSVPipelineSingleSample.sv_base_mini_docker": "${workspace.sv_base_mini_docker}",
  "GATKSVPipelineSingleSample.sv_pipeline_docker": "${workspace.sv_pipeline_docker}",
  "GATKSVPipelineSingleSample.sv_pipeline_hail_docker": "${workspace.sv_pipeline_hail_docker}",
  "GATKSVPipelineSingleSample.sv_pipeline_updates_docker": "${workspace.sv_pipeline_updates_docker}",
  "GATKSVPipelineSingleSample.sv_pipeline_qc_docker": "${workspace.sv_pipeline_qc_docker}",
  "GATKSVPipelineSingleSample.sv_pipeline_rdtest_docker": "${workspace.sv_pipeline_rdtest_docker}",
  "GATKSVPipelineSingleSample.wham_docker": "${workspace.wham_docker}",
  "GATKSVPipelineSingleSample.samtools_cloud_docker": "${workspace.samtools_cloud_docker}",

  "GATKSVPipelineSingleSample.allosome_file" : "${workspace.reference_allosome_file}",
  "GATKSVPipelineSingleSample.cnmops_exclude_list" : "${workspace.reference_cnmops_exclude_list}",
  "GATKSVPipelineSingleSample.autosome_file" : "${workspace.reference_autosome_file}",
  "GATKSVPipelineSingleSample.primary_contigs_list" : "${workspace.reference_primary_contigs_list}",
  "GATKSVPipelineSingleSample.primary_contigs_fai" : "${workspace.reference_primary_contigs_fai}",
  "GATKSVPipelineSingleSample.empty_file" : "${workspace.reference_empty_file}",
  "GATKSVPipelineSingleSample.genome_file" : "${workspace.reference_genome_file}",
  "GATKSVPipelineSingleSample.inclusion_bed" : "${workspace.reference_inclusion_bed}",
  "GATKSVPipelineSingleSample.max_ref_panel_carrier_freq": 0.03,
  "GATKSVPipelineSingleSample.manta_region_bed" : "${workspace.reference_manta_region_bed}",
  "GATKSVPipelineSingleSample.pesr_exclude_list" : "${workspace.reference_pesr_exclude_list}",
  "GATKSVPipelineSingleSample.reference_dict" : "${workspace.reference_dict}",
  "GATKSVPipelineSingleSample.reference_fasta" : "${workspace.reference_fasta}",
  "GATKSVPipelineSingleSample.reference_index" : "${workspace.reference_index}",
  "GATKSVPipelineSingleSample.rmsk": "${workspace.reference_rmsk}",
  "GATKSVPipelineSingleSample.segdups": "${workspace.reference_segdups}",
  "GATKSVPipelineSingleSample.cytobands": "${workspace.reference_cytobands}",
  "GATKSVPipelineSingleSample.mei_bed": "${workspace.reference_mei_bed}",
  "GATKSVPipelineSingleSample.pe_exclude_list": "${workspace.reference_pesr_exclude_list}",
  "GATKSVPipelineSingleSample.qc_definitions": "${workspace.ref_panel_qc_definitions}",
  "GATKSVPipelineSingleSample.depth_exclude_list": "${workspace.reference_depth_exclude_list}",

  "GATKSVPipelineSingleSample.wgd_scoring_mask" : "${workspace.reference_wgd_scoring_mask}",

  "GATKSVPipelineSingleSample.wham_include_list_bed_file": "${workspace.reference_wham_include_list_bed_file}",
  "GATKSVPipelineSingleSample.preprocessed_intervals": "${workspace.reference_preprocessed_intervals}",

  "GATKSVPipelineSingleSample.depth_flags" : "--merge-coordinates",
  "GATKSVPipelineSingleSample.depth_frac" : 0.8,
  "GATKSVPipelineSingleSample.gcnv_qs_cutoff" : 30,
  "GATKSVPipelineSingleSample.genotyping_n_per_split" : 1000,
  "GATKSVPipelineSingleSample.matrix_qc_distance" : 1000000,
  "GATKSVPipelineSingleSample.min_svsize" : 50,
  "GATKSVPipelineSingleSample.n_RD_genotype_bins" : 100000,
  "GATKSVPipelineSingleSample.pesr_distance" : 300,
  "GATKSVPipelineSingleSample.pesr_flags" : "--preserve-ids",
  "GATKSVPipelineSingleSample.pesr_frac" : 0.1,
  "GATKSVPipelineSingleSample.pesr_svsize" : 0,
  "GATKSVPipelineSingleSample.ref_copy_number_autosomal_contigs" : 2,
  "GATKSVPipelineSingleSample.clean_vcf_min_sr_background_fail_batches": 0.5,
  "GATKSVPipelineSingleSample.max_shard_size_resolve" : 500,
  "GATKSVPipelineSingleSample.clean_vcf_max_shards_per_chrom_clean_vcf_step1": 200,
  "GATKSVPipelineSingleSample.clean_vcf_min_records_per_shard_clean_vcf_step1": 5000,
  "GATKSVPipelineSingleSample.clean_vcf1b_records_per_shard": 10000,
  "GATKSVPipelineSingleSample.clean_vcf_samples_per_clean_vcf_step2_shard": 100,
  "GATKSVPipelineSingleSample.clean_vcf_random_seed": 0,
  "GATKSVPipelineSingleSample.run_vcf_qc" : false,

  "GATKSVPipelineSingleSample.protein_coding_gtf" : "${workspace.reference_protein_coding_gtf}",
  "GATKSVPipelineSingleSample.linc_rna_gtf" :       "${workspace.reference_linc_rna_gtf}",
  "GATKSVPipelineSingleSample.promoter_bed" :       "${workspace.reference_promoter_bed}",
  "GATKSVPipelineSingleSample.noncoding_bed" :       "${workspace.reference_noncoding_bed}",
  "GATKSVPipelineSingleSample.external_af_ref_bed" :       "${workspace.reference_external_af_ref_bed}",
  "GATKSVPipelineSingleSample.external_af_ref_bed_prefix" :       "${workspace.reference_external_af_ref_bed_prefix}",
  "GATKSVPipelineSingleSample.external_af_population" :      {{ reference_resources.external_af_population | tojson }},

  "GATKSVPipelineSingleSample.annotation_sv_per_shard" : "5000",
  "GATKSVPipelineSingleSample.annotation_max_shards_per_chrom_step1" : 200,
  "GATKSVPipelineSingleSample.annotation_min_records_per_shard_step1" : 5000,

  "GATKSVPipelineSingleSample.cnmops_mem_gb_override_sample3": 24,

  "GATKSVPipelineSingleSample.ref_samples" : {{ ref_panel.samples | tojson }},
  "GATKSVPipelineSingleSample.ref_std_manta_vcfs" : {{ ref_panel.std_manta_vcfs | tojson }},
  "GATKSVPipelineSingleSample.ref_std_wham_vcfs" : {{ ref_panel.std_wham_vcfs | tojson }},
  "GATKSVPipelineSingleSample.ref_pesr_disc_files" : {{ ref_panel.pesr_disc_files | tojson }},
  "GATKSVPipelineSingleSample.ref_pesr_split_files" : {{ ref_panel.pesr_split_files | tojson }},
  "GATKSVPipelineSingleSample.gcnv_model_tars" : {{ ref_panel.gcnv_model_tars | tojson }}
}
