{
  "MergeCohortVcfs.sv_pipeline_docker": "${workspace.sv_pipeline_docker}",
  "MergeCohortVcfs.cohort": "${this.sample_set_set_id}",
  "MergeCohortVcfs.pesr_vcfs": "${this.sample_sets.filtered_pesr_vcf}",
  "MergeCohortVcfs.depth_vcfs": "${this.sample_sets.filtered_depth_vcf}"
}
