{
  "AnnotateVcf.vcf" : "${this.vcf}",
  "AnnotateVcf.vcf_idx" : "${this.vcf_index}",

  "AnnotateVcf.protein_coding_gtf" : "${workspace.protein_coding_gtf}",
  "AnnotateVcf.linc_rna_gtf" : "${workspace.linc_rna_gtf}",
  "AnnotateVcf.promoter_bed" : "${workspace.promoter_bed}",
  "AnnotateVcf.noncoding_bed" : "${workspace.noncoding_bed}",
  "AnnotateVcf.ref_bed" : "${workspace.external_af_ref_bed}",
  "AnnotateVcf.ref_prefix" : "${workspace.external_af_ref_bed_prefix}",
  "AnnotateVcf.population" : {{ reference_resources.external_af_population | tojson }},


  "AnnotateVcf.contig_list" : "${workspace.primary_contigs_list}",
  "AnnotateVcf.ped_file": "${workspace.cohort_ped_file}",
  "AnnotateVcf.sv_per_shard" : "5000",
  "AnnotateVcf.max_shards_per_chrom_step1" : 200,
  "AnnotateVcf.min_records_per_shard_step1" : 5000,

  "AnnotateVcf.prefix" : "${this.sample_set_id}",

  "AnnotateVcf.sv_base_mini_docker" : "${workspace.sv_base_mini_docker}",
  "AnnotateVcf.sv_pipeline_docker" : "${workspace.sv_pipeline_docker}"
}