{
  "CleanVcf.contig_list": "${workspace.primary_contigs_fai}",
  "CleanVcf.allosome_fai": "${workspace.allosome_file}",
  "CleanVcf.HERVK_reference": "${workspace.HERVK_reference}",
  "CleanVcf.LINE1_reference": "${workspace.LINE1_reference}",
  "CleanVcf.intron_reference": "${workspace.intron_reference}",
  "CleanVcf.chr_x": "${workspace.chr_x}",
  "CleanVcf.chr_y": "${workspace.chr_y}",

  "CleanVcf.max_shards_per_chrom_step1": 200,
  "CleanVcf.min_records_per_shard_step1": 5000,
  "CleanVcf.clean_vcf1b_records_per_shard": 10000,
  "CleanVcf.samples_per_step2_shard": 100,
  "CleanVcf.clean_vcf5_records_per_shard": 5000,

  "CleanVcf.primary_contigs_list": "${workspace.primary_contigs_list}",

  "CleanVcf.linux_docker": "${workspace.linux_docker}",
  "CleanVcf.sv_pipeline_docker": "${workspace.sv_pipeline_docker}",
  "CleanVcf.sv_base_mini_docker": "${workspace.sv_base_mini_docker}",

  "CleanVcf.cohort_name": "${this.sample_set_set_id}",
  "CleanVcf.ped_file": "${workspace.cohort_ped_file}",
  "CleanVcf.complex_genotype_vcfs": "${this.complex_genotype_vcfs}",
  "CleanVcf.complex_resolve_bothside_pass_list": "${this.complex_resolve_bothside_pass_list}",
  "CleanVcf.complex_resolve_background_fail_list": "${this.complex_resolve_background_fail_list}"

}
