{
  "EvidenceQC.run_vcf_qc" : "true",
  "EvidenceQC.sv_base_mini_docker": "${workspace.sv_base_mini_docker}",
  "EvidenceQC.sv_pipeline_docker": "${workspace.sv_pipeline_docker}",
  "EvidenceQC.sv_pipeline_qc_docker": "${workspace.sv_pipeline_qc_docker}",
  "EvidenceQC.sv_base_docker": "${workspace.sv_base_docker}",
  "EvidenceQC.wgd_scoring_mask": "${workspace.wgd_scoring_mask}",
  "EvidenceQC.genome_file": "${workspace.genome_file}",

  "EvidenceQC.batch": "${this.sample_set_id}",
  "EvidenceQC.counts": "${this.samples.coverage_counts}",
  "EvidenceQC.manta_vcfs": "${this.samples.manta_vcf}",
  "EvidenceQC.melt_vcfs": "${this.samples.melt_vcf}",
  "EvidenceQC.wham_vcfs": "${this.samples.wham_vcf}",
  "EvidenceQC.samples": "${this.samples.sample_id}"
}
