{
  "FilterBatchSamples.sv_pipeline_docker": "${workspace.sv_pipeline_docker}",
  "FilterBatchSamples.sv_base_mini_docker": "${workspace.sv_base_mini_docker}",
  "FilterBatchSamples.linux_docker" : "${workspace.linux_docker}",

  "FilterBatchSamples.N_IQR_cutoff": "10000",

  "FilterBatchSamples.batch": "${this.sample_set_id}",
  "FilterBatchSamples.manta_vcf" : "${this.sites_filtered_manta_vcf}",
  "FilterBatchSamples.delly_vcf" : "${this.sites_filtered_delly_vcf}",
  "FilterBatchSamples.wham_vcf" : "${this.sites_filtered_wham_vcf}",
  "FilterBatchSamples.melt_vcf" : "${this.sites_filtered_melt_vcf}",
  "FilterBatchSamples.depth_vcf" : "${this.sites_filtered_depth_vcf}"
}
