{
  "FilterGenotypes.vcf": "${this.concordance_vcf}",
  "FilterGenotypes.output_prefix": "${this.sample_set_set_id}",
  "FilterGenotypes.ploidy_table": "${this.ploidy_table}",
  
  "FilterGenotypes.sl_cutoff_table": "${workspace.sl_cutoff_table}",
  "FilterGenotypes.ped_file": "${workspace.cohort_ped_file}",
  "FilterGenotypes.primary_contigs_fai": "${workspace.primary_contigs_fai}",
  "FilterGenotypes.site_level_comparison_datasets": [
    {{ reference_resources.ccdg_abel_site_level_benchmarking_dataset | tojson }},
    {{ reference_resources.gnomad_v4_site_level_benchmarking_dataset | tojson }},
    {{ reference_resources.gnomad_v2_collins_site_level_benchmarking_dataset | tojson }},
    {{ reference_resources.hgsv_byrska_bishop_site_level_benchmarking_dataset | tojson }},
    {{ reference_resources.thousand_genomes_site_level_benchmarking_dataset | tojson }}
  ],
  "FilterGenotypes.runtime_override_plot_qc_per_family": {
    "mem_gb": 15,
    "disk_gb": 100
  },

  "FilterGenotypes.sv_base_mini_docker": "${workspace.sv_base_mini_docker}",
  "FilterGenotypes.sv_pipeline_docker": "${workspace.sv_pipeline_docker}"
}
