{
  "FilterGenotypes.vcf": "${this.concordance_vcf}",
  "FilterGenotypes.output_prefix": "${this.sample_set_set_id}",
  "FilterGenotypes.ploidy_table": "${this.ploidy_table}",
  "FilterGenotypes.gq_recalibrator_model_file": "${workspace.recalibrate_gq_model_file}",
  "FilterGenotypes.sl_filter_args": "--small-del-threshold 93 --medium-del-threshold 150 --small-dup-threshold -51 --medium-dup-threshold -4 --ins-threshold -13 --inv-threshold -19",

  "FilterGenotypes.genome_tracks": [
    {{ reference_resources.recalibrate_gq_genome_track_repeatmasker | tojson }},
    {{ reference_resources.recalibrate_gq_genome_track_segdup | tojson }},
    {{ reference_resources.recalibrate_gq_genome_track_simple_repeats | tojson }},
    {{ reference_resources.recalibrate_gq_genome_track_umap100 | tojson }},
    {{ reference_resources.recalibrate_gq_genome_track_umap24 | tojson }}
  ],
  "FilterGenotypes.recalibrate_gq_args": [
    "--keep-homvar false",
    "--keep-homref true",
    "--keep-multiallelic true",
    "--skip-genotype-filtering true",
    "--min-samples-to-estimate-allele-frequency -1"
  ],

  "FilterGenotypes.ped_file": "${workspace.cohort_ped_file}",
  "FilterGenotypes.primary_contigs_fai": "${workspace.primary_contigs_fai}",
  "FilterGenotypes.site_level_comparison_datasets": [
    {{ reference_resources.ccdg_abel_site_level_benchmarking_dataset | tojson }},
    {{ reference_resources.gnomad_v4_site_level_benchmarking_dataset | tojson }},
    {{ reference_resources.gnomad_v2_collins_site_level_benchmarking_dataset | tojson }},
    {{ reference_resources.hgsv_byrska_bishop_site_level_benchmarking_dataset | tojson }},
    {{ reference_resources.thousand_genomes_site_level_benchmarking_dataset | tojson }}
  ],
  "FilterGenotypes.runtime_override_plot_qc_per_family": {
    "mem_gb": 15,
    "disk_gb": 100
  },

  "FilterGenotypes.linux_docker": "${workspace.linux_docker}",
  "FilterGenotypes.gatk_docker": "${workspace.gq_recalibrator_docker}",
  "FilterGenotypes.sv_base_mini_docker": "${workspace.sv_base_mini_docker}",
  "FilterGenotypes.sv_pipeline_docker": "${workspace.sv_pipeline_docker}"
}
