{
  "GatherSampleEvidence.primary_contigs_list": "${workspace.primary_contigs_list}",
  "GatherSampleEvidence.reference_fasta": "${workspace.reference_fasta}",
  "GatherSampleEvidence.reference_index": "${workspace.reference_index}",
  "GatherSampleEvidence.reference_dict": "${workspace.reference_dict}",
  "GatherSampleEvidence.reference_version": "${workspace.reference_version}",

  "GatherSampleEvidence.collect_coverage": "true",
  "GatherSampleEvidence.collect_pesr": "true",

  "GatherSampleEvidence.preprocessed_intervals": "${workspace.preprocessed_intervals}",

  "GatherSampleEvidence.delly_exclude_intervals_file": "${workspace.delly_exclude_intervals_file}",
  "GatherSampleEvidence.manta_region_bed": "${workspace.manta_region_bed}",
  "GatherSampleEvidence.melt_standard_vcf_header": "${workspace.melt_standard_vcf_header}",

  "GatherSampleEvidence.wham_include_list_bed_file": "${workspace.wham_include_list_bed_file}",

  "GatherSampleEvidence.samtools_cloud_docker": "${workspace.samtools_cloud_docker}",
  "GatherSampleEvidence.sv_base_mini_docker": "${workspace.sv_base_mini_docker}",
  "GatherSampleEvidence.sv_pipeline_docker": "${workspace.sv_pipeline_docker}",
  "GatherSampleEvidence.manta_docker": "${workspace.manta_docker}",
  "GatherSampleEvidence.wham_docker": "${workspace.wham_docker}",
  "GatherSampleEvidence.genomes_in_the_cloud_docker" : "${workspace.genomes_in_the_cloud_docker}",
  "GatherSampleEvidence.gatk_docker" : "${workspace.gatk_docker}",
  "GatherSampleEvidence.gatk_docker_pesr_override": "${workspace.gatk_docker_pesr_override}",
  "GatherSampleEvidence.cloud_sdk_docker": "${workspace.cloud_sdk_docker}",

  "GatherSampleEvidence.primary_contigs_fai": "${workspace.primary_contigs_fai}",
  "GatherSampleEvidence.sv_pipeline_base_docker": "${workspace.sv_pipeline_base_docker}",

  "GatherSampleEvidence.bam_or_cram_file": "${this.bam_or_cram_file}",
  "GatherSampleEvidence.sample_id": "${this.sample_id}",

  "GatherSampleEvidence.requester_pays_crams": "${this.requester_pays_cram}"
}
