{
  "GatherBatchEvidence.sv_base_mini_docker": "${workspace.sv_base_mini_docker}",
  "GatherBatchEvidence.sv_base_docker": "${workspace.sv_base_docker}",
  "GatherBatchEvidence.sv_pipeline_docker": "${workspace.sv_pipeline_docker}",
  "GatherBatchEvidence.sv_pipeline_qc_docker": "${workspace.sv_pipeline_qc_docker}",
  "GatherBatchEvidence.cnmops_docker": "${workspace.cnmops_docker}",
  "GatherBatchEvidence.linux_docker" : "${workspace.linux_docker}",
  "GatherBatchEvidence.gatk_docker" : "${workspace.gatk_docker}",
  "GatherBatchEvidence.gcnv_gatk_docker" : "${workspace.gcnv_gatk_docker}",
  "GatherBatchEvidence.condense_counts_docker" : "${workspace.condense_counts_docker}",

  "GatherBatchEvidence.cytoband":"${workspace.cytobands}",
  "GatherBatchEvidence.mei_bed":"${workspace.mei_bed}",
  "GatherBatchEvidence.cnmops_allo_file": "${workspace.allosome_file}",
  "GatherBatchEvidence.cnmops_exclude_list": "${workspace.cnmops_exclude_list}",
  "GatherBatchEvidence.cnmops_chrom_file": "${workspace.autosome_file}",
  "GatherBatchEvidence.primary_contigs_fai": "${workspace.primary_contigs_fai}",
  "GatherBatchEvidence.genome_file": "${workspace.genome_file}",
  "GatherBatchEvidence.inclusion_bed": "${workspace.inclusion_bed}",
  "GatherBatchEvidence.matrix_qc_distance": "1000000",
  "GatherBatchEvidence.min_svsize": "50",
  "GatherBatchEvidence.run_matrix_qc": "true",

  "GatherBatchEvidence.unpadded_intervals_file" : "${workspace.unpadded_intervals_file}",
  "GatherBatchEvidence.dbsnp_vcf" : "${workspace.dbsnp_vcf}",
  "GatherBatchEvidence.ref_fasta": "${workspace.reference_fasta}",
  "GatherBatchEvidence.ref_fasta_index": "${workspace.reference_index}",
  "GatherBatchEvidence.ref_dict": "${workspace.reference_dict}",

  "GatherBatchEvidence.ploidy_sample_psi_scale": "0.001",
  "GatherBatchEvidence.contig_ploidy_model_tar" : "${this.contig_ploidy_model_tar}",
  "GatherBatchEvidence.gcnv_learning_rate" : 0.03,
  "GatherBatchEvidence.gcnv_num_thermal_advi_iters" : 250,
  "GatherBatchEvidence.gcnv_max_advi_iter_first_epoch" : 1000,
  "GatherBatchEvidence.gcnv_max_advi_iter_subsequent_epochs" : 200,
  "GatherBatchEvidence.gcnv_max_training_epochs" : 5,
  "GatherBatchEvidence.gcnv_min_training_epochs" : 1,
  "GatherBatchEvidence.gcnv_convergence_snr_averaging_window" : 100,
  "GatherBatchEvidence.gcnv_convergence_snr_countdown_window" : 10,
  "GatherBatchEvidence.gcnv_cnv_coherence_length" : 1000,
  "GatherBatchEvidence.gcnv_copy_number_posterior_expectation_mode" : "EXACT",
  "GatherBatchEvidence.gcnv_log_emission_sampling_rounds" : 20,
  "GatherBatchEvidence.gcnv_p_alt" : 0.000001,
  "GatherBatchEvidence.gcnv_sample_psi_scale" : 0.000001,
  "GatherBatchEvidence.ref_copy_number_autosomal_contigs": "${workspace.copy_number_autosomal_contigs}",
  "GatherBatchEvidence.allosomal_contigs": {{ reference_resources.allosomal_contigs | tojson }},
  "GatherBatchEvidence.gcnv_caller_internal_admixing_rate": "0.5",
  "GatherBatchEvidence.gcnv_caller_update_convergence_threshold": "0.000001",
  "GatherBatchEvidence.gcnv_convergence_snr_trigger_threshold": "0.2",
  "GatherBatchEvidence.gcnv_depth_correction_tau": "10000",
  "GatherBatchEvidence.gcnv_log_emission_sampling_median_rel_error": "0.001",
  "GatherBatchEvidence.gcnv_qs_cutoff": "30",

  "GatherBatchEvidence.batch": "${this.sample_set_id}",
  "GatherBatchEvidence.ped_file": "${workspace.cohort_ped_file}",
  "GatherBatchEvidence.gcnv_model_tars" : "${this.gcnv_model_tars}",
  "GatherBatchEvidence.PE_files": "${this.samples.pesr_disc}",
  "GatherBatchEvidence.SR_files": "${this.samples.pesr_split}",
  "GatherBatchEvidence.counts": "${this.samples.coverage_counts}",
  "GatherBatchEvidence.manta_vcfs": "${this.samples.manta_vcf}",
  "GatherBatchEvidence.samples": "${this.samples.sample_id}",
  "GatherBatchEvidence.melt_vcfs": "${this.samples.melt_vcf}",
  "GatherBatchEvidence.wham_vcfs": "${this.samples.wham_vcf}",
  "GatherBatchEvidence.gvcfs": "${this.samples.gvcf}"
}
