{
  "GenerateBatchMetrics.sv_pipeline_docker": "${workspace.sv_pipeline_docker}",
  "GenerateBatchMetrics.sv_base_mini_docker": "${workspace.sv_base_mini_docker}",
  "GenerateBatchMetrics.gatk_docker": "${workspace.gatk_docker}",

  "GenerateBatchMetrics.rmsk": "${workspace.rmsk}",
  "GenerateBatchMetrics.segdups": "${workspace.segdups}",
  "GenerateBatchMetrics.reference_dict": "${workspace.reference_dict}",

  "GenerateBatchMetrics.primary_contigs_list": "${workspace.primary_contigs_list}",
  "GenerateBatchMetrics.chr_x": {{ reference_resources.chr_x | tojson }},
  "GenerateBatchMetrics.chr_y": {{ reference_resources.chr_y | tojson }},

  "GenerateBatchMetrics.batch": "${this.sample_set_id}",
  "GenerateBatchMetrics.ped_file": "${workspace.cohort_ped_file}",
  
  "GenerateBatchMetrics.pe_file": "${this.merged_PE}",
  "GenerateBatchMetrics.baf_file": "${this.merged_BAF}",
  "GenerateBatchMetrics.rd_file": "${this.merged_bincov}",
  "GenerateBatchMetrics.sr_file": "${this.merged_SR}",
  "GenerateBatchMetrics.median_file": "${this.median_cov}",

  "GenerateBatchMetrics.depth_vcf" : "${this.clustered_depth_vcf}",
  "GenerateBatchMetrics.dragen_vcf" : "${this.clustered_dragen_vcf}",
  "GenerateBatchMetrics.manta_vcf" : "${this.clustered_manta_vcf}",
  "GenerateBatchMetrics.wham_vcf" : "${this.clustered_wham_vcf}",
  "GenerateBatchMetrics.scramble_vcf" : "${this.clustered_scramble_vcf}",
  "GenerateBatchMetrics.melt_vcf" : "${this.clustered_melt_vcf}"
}
