{
  "GenotypeBatch.sv_base_mini_docker": "${workspace.sv_base_mini_docker}",
  "GenotypeBatch.sv_pipeline_docker": "${workspace.sv_pipeline_docker}",
  "GenotypeBatch.gatk_docker" : "${workspace.gatk_docker}",

  "GenotypeBatch.pesr_exclusion_intervals": "${workspace.pesr_exclude_list}",
  "GenotypeBatch.reference_dict": "${workspace.reference_dict}",
  "GenotypeBatch.contig_list": "${workspace.primary_contigs_list}",

  "GenotypeBatch.batch": "${this.sample_set_id}",
  "GenotypeBatch.rf_cutoffs": "${this.cutoffs}",
  "GenotypeBatch.depth_exclusion_intervals": "${workspace.bin_exclude}",
  "GenotypeBatch.pe_file": "${this.merged_PE}",
  "GenotypeBatch.rd_file": "${this.merged_bincov}",
  "GenotypeBatch.sr_file": "${this.merged_SR}",
  "GenotypeBatch.median_coverage": "${this.median_cov}",
  "GenotypeBatch.vcf": "${workspace.merge_batch_sites_vcf}",

  "GenotypeBatch.training_intervals": "${workspace.depth_training_bed}",
  "GenotypeBatch.ploidy_table": "${this.ploidy_table}"
}
