{
  "MainVcfQc.primary_contigs_fai": "${workspace.primary_contigs_fai}",

  "MainVcfQc.site_level_comparison_datasets": [
    {{ reference_resources.ccdg_abel_site_level_benchmarking_dataset | tojson }},
    {{ reference_resources.gnomad_v4_site_level_benchmarking_dataset | tojson }},
    {{ reference_resources.gnomad_v2_collins_site_level_benchmarking_dataset | tojson }},
    {{ reference_resources.hgsv_byrska_bishop_site_level_benchmarking_dataset | tojson }},
    {{ reference_resources.thousand_genomes_site_level_benchmarking_dataset | tojson }}
  ],

  "MainVcfQc.sv_pipeline_docker": "${workspace.sv_pipeline_docker}",
  "MainVcfQc.sv_base_mini_docker": "${workspace.sv_base_mini_docker}",
  "MainVcfQc.sv_pipeline_qc_docker": "${workspace.sv_pipeline_qc_docker}",

  "MainVcfQc.prefix": "${this.sample_set_set_id}",
  "MainVcfQc.ped_file": "${workspace.cohort_ped_file}",

  "MainVcfQc.vcfs": "${this.cleaned_vcf}",

  "MainVcfQc.sv_per_shard": 2500,
  "MainVcfQc.samples_per_shard": 600

}
