{
  "MasterVcfQc.primary_contigs_fai": "${workspace.primary_contigs_fai}",

  "MasterVcfQc.thousand_genomes_benchmark_calls": {{ reference_resources.thousand_genomes_benchmark_calls | tojson }},

  "MasterVcfQc.random_seed": 0,

  "MasterVcfQc.sv_pipeline_docker": "${workspace.sv_pipeline_docker}",
  "MasterVcfQc.sv_base_mini_docker": "${workspace.sv_base_mini_docker}",
  "MasterVcfQc.sv_pipeline_qc_docker": "${workspace.sv_pipeline_qc_docker}",

  "MasterVcfQc.prefix": "${this.sample_set_id}",
  "MasterVcfQc.ped_file": "${workspace.cohort_ped_file}",

  "MasterVcfQc.vcf": "${this.cleaned_vcf}",

  "MasterVcfQc.sv_per_shard": 10000,
  "MasterVcfQc.samples_per_shard": 100

}
