{
  "RegenotypeCNVs.sv_pipeline_rdtest_docker": "${workspace.sv_pipeline_rdtest_docker}",
  "RegenotypeCNVs.sv_pipeline_base_docker": "${workspace.sv_pipeline_base_docker}",
  "RegenotypeCNVs.sv_base_mini_docker": "${workspace.sv_base_mini_docker}",
  "RegenotypeCNVs.sv_pipeline_docker": "${workspace.sv_pipeline_docker}",
  "RegenotypeCNVs.n_RdTest_bins": "100000",
  "RegenotypeCNVs.n_per_split": "5000",

  "RegenotypeCNVs.cohort": "${this.sample_set_set_id}",
  "RegenotypeCNVs.contig_list": "${workspace.primary_contigs_list}",
  "RegenotypeCNVs.regeno_coverage_medians": "${this.sample_sets.regeno_coverage_medians}",

  "RegenotypeCNVs.RD_depth_sepcutoffs": "${this.sample_sets.trained_genotype_depth_depth_sepcutoff}",

  "RegenotypeCNVs.cohort_depth_vcf": "${workspace.cohort_depth_vcf}",

  "RegenotypeCNVs.ped_file": "${workspace.cohort_ped_file}",
  "RegenotypeCNVs.batch_depth_vcfs": "${this.sample_sets.outlier_filtered_depth_vcf}",

  "RegenotypeCNVs.depth_vcfs": "${this.sample_sets.genotyped_depth_vcf}",
  "RegenotypeCNVs.coveragefiles": "${this.sample_sets.merged_bincov}",
  "RegenotypeCNVs.coveragefile_idxs": "${this.sample_sets.merged_bincov_index}",
  "RegenotypeCNVs.medianfiles": "${this.sample_sets.median_cov}",
  "RegenotypeCNVs.batches": "${this.sample_sets.sample_set_id}"
}
