{
  "RegenotypeCNVs.sv_base_mini_docker": "${workspace.sv_base_mini_docker}",
  "RegenotypeCNVs.sv_pipeline_docker": "${workspace.sv_pipeline_docker}",
  "RegenotypeCNVs.n_RdTest_bins": "100000",
  "RegenotypeCNVs.n_per_split": "5000",

  "RegenotypeCNVs.cohort": "${this.sample_set_set_id}",
  "RegenotypeCNVs.contig_list": "${workspace.primary_contigs_list}",
  "RegenotypeCNVs.regeno_coverage_medians": "${this.sample_sets.regeno_coverage_medians}",

  "RegenotypeCNVs.genotyping_rd_table": "${this.sample_sets.genotyping_rd_table}",

  "RegenotypeCNVs.merge_batch_sites_vcf": "${workspace.merge_batch_sites_vcf}",
  "RegenotypeCNVs.ploidy_tables": "${this.sample_sets.ploidy_table}",

  "RegenotypeCNVs.batch_depth_vcfs": "${this.sample_sets.outlier_filtered_depth_vcf}",

  "RegenotypeCNVs.depth_vcfs": "${this.sample_sets.genotyped_depth_vcf}",
  "RegenotypeCNVs.coveragefiles": "${this.sample_sets.merged_bincov}",
  "RegenotypeCNVs.coveragefile_idxs": "${this.sample_sets.merged_bincov_index}",
  "RegenotypeCNVs.medianfiles": "${this.sample_sets.median_cov}",
  "RegenotypeCNVs.batches": "${this.sample_sets.sample_set_id}"
}
