{
  "ScoreGenotypes.vcf": "${this.concordance_vcf}",
  "ScoreGenotypes.output_prefix": "${this.sample_set_set_id}",
  "ScoreGenotypes.gq_recalibrator_model_file": "${workspace.recalibrate_gq_model_file}",
  
  "ScoreGenotypes.recalibrate_gq_args": [
    "--keep-homvar false",
    "--keep-homref true",
    "--keep-multiallelic true",
    "--skip-genotype-filtering true",
    "--min-samples-to-estimate-allele-frequency -1"
  ],
  "ScoreGenotypes.genome_tracks": [
    {{ reference_resources.recalibrate_gq_genome_track_repeatmasker | tojson }},
    {{ reference_resources.recalibrate_gq_genome_track_segdup | tojson }},
    {{ reference_resources.recalibrate_gq_genome_track_simple_repeats | tojson }},
    {{ reference_resources.recalibrate_gq_genome_track_umap100 | tojson }},
    {{ reference_resources.recalibrate_gq_genome_track_umap24 | tojson }}
  ],

  "ScoreGenotypes.linux_docker": "${workspace.linux_docker}",
  "ScoreGenotypes.gatk_docker": "${workspace.gatk_docker}",
  "ScoreGenotypes.sv_base_mini_docker": "${workspace.sv_base_mini_docker}",
  "ScoreGenotypes.sv_pipeline_docker": "${workspace.sv_pipeline_docker}"
}
