{
  "StripyWorkflow.bam_or_cram_file": "${this.bam_or_cram_file}",
  "StripyWorkflow.sample_name": "${this.sample_id}",
  "StripyWorkflow.ped_file": "${workspace.cohort_ped_file}",
  "StripyWorkflow.reference_fasta": "${workspace.reference_fasta}",
  "StripyWorkflow.linux_docker": "${workspace.linux_docker}",
  "StripyWorkflow.stripy_docker": "${workspace.stripy_docker}"
}
