{
  "SVConcordance.gatk_docker": "${workspace.gatk_docker}",
  "SVConcordance.sv_base_mini_docker": "${workspace.sv_base_mini_docker}",

  "SVConcordance.eval_vcf" : "${this.cpx_refined_vcf}",
  "SVConcordance.truth_vcf" : "${this.joined_raw_calls_vcf}",

  "SVConcordance.output_prefix": "${this.sample_set_set_id}",

  "SVConcordance.contig_list": "${workspace.primary_contigs_list}",
  "SVConcordance.reference_dict": "${workspace.reference_dict}"
}
