{
  "GatherBatchEvidence.BAF_stats": "${this.BAF_stats}",
  "GatherBatchEvidence.Matrix_QC_plot": "${this.Matrix_QC_plot}",
  "GatherBatchEvidence.PE_stats": "${this.PE_stats}",
  "GatherBatchEvidence.RD_stats": "${this.RD_stats}",
  "GatherBatchEvidence.SR_stats": "${this.SR_stats}",
  "GatherBatchEvidence.cnmops_del": "${this.cnmops_del}",
  "GatherBatchEvidence.cnmops_del_index": "${this.cnmops_del_index}",
  "GatherBatchEvidence.cnmops_dup": "${this.cnmops_dup}",
  "GatherBatchEvidence.cnmops_dup_index": "${this.cnmops_dup_index}",
  "GatherBatchEvidence.cnmops_large_del": "${this.cnmops_large_del}",
  "GatherBatchEvidence.cnmops_large_del_index": "${this.cnmops_large_del_index}",
  "GatherBatchEvidence.cnmops_large_dup": "${this.cnmops_large_dup}",
  "GatherBatchEvidence.cnmops_large_dup_index": "${this.cnmops_large_dup_index}",
  "GatherBatchEvidence.combined_ped_file": "${this.combined_ped_file}",
  "GatherBatchEvidence.manta_tloc": "${this.manta_tloc}",
  "GatherBatchEvidence.median_cov": "${this.median_cov}",
  "GatherBatchEvidence.merged_BAF": "${this.merged_BAF}",
  "GatherBatchEvidence.merged_BAF_index": "${this.merged_BAF_index}",
  "GatherBatchEvidence.merged_PE": "${this.merged_PE}",
  "GatherBatchEvidence.merged_PE_index": "${this.merged_PE_index}",
  "GatherBatchEvidence.merged_SR": "${this.merged_SR}",
  "GatherBatchEvidence.merged_SR_index": "${this.merged_SR_index}",
  "GatherBatchEvidence.merged_bincov": "${this.merged_bincov}",
  "GatherBatchEvidence.merged_bincov_index": "${this.merged_bincov_index}",
  "GatherBatchEvidence.merged_dels": "${this.merged_dels}",
  "GatherBatchEvidence.merged_dups": "${this.merged_dups}",
  "GatherBatchEvidence.ploidy_matrix": "${this.ploidy_matrix_batchevidence}",
  "GatherBatchEvidence.ploidy_plots": "${this.ploidy_plots_batchevidence}",
  "GatherBatchEvidence.std_delly_vcf": "${this.std_delly_vcf}",
  "GatherBatchEvidence.std_manta_vcf": "${this.std_manta_vcf}",
  "GatherBatchEvidence.std_melt_vcf": "${this.std_melt_vcf}",
  "GatherBatchEvidence.std_wham_vcf": "${this.std_wham_vcf}",
  "GatherBatchEvidence.metrics_file_batchevidence": "${this.metrics_file_batchevidence}"
}
