{
  "JoinRawCalls.gatk_docker": {{ dockers.gatk_docker | tojson }},
  "JoinRawCalls.sv_base_mini_docker": {{ dockers.sv_base_mini_docker | tojson }},
  "JoinRawCalls.sv_pipeline_docker": {{ dockers.sv_pipeline_docker | tojson }},

  "JoinRawCalls.clustered_depth_vcfs" : [{{ test_batch.merged_depth_vcf | tojson }}],
  "JoinRawCalls.clustered_depth_vcf_indexes" : [{{ test_batch.merged_depth_vcf_index | tojson }}],

  "JoinRawCalls.clustered_manta_vcfs" : [{{ test_batch.merged_manta_vcf | tojson }}],
  "JoinRawCalls.clustered_manta_vcf_indexes" : [{{ test_batch.merged_manta_vcf_index | tojson }}],

  "JoinRawCalls.clustered_wham_vcfs" : [{{ test_batch.merged_wham_vcf | tojson }}],
  "JoinRawCalls.clustered_wham_vcf_indexes" : [{{ test_batch.merged_wham_vcf_index | tojson }}],

  "JoinRawCalls.clustered_scramble_vcfs" : [{{ test_batch.merged_scramble_vcf | tojson }}],
  "JoinRawCalls.clustered_scramble_vcf_indexes" : [{{ test_batch.merged_scramble_vcf_index | tojson }}],

  "JoinRawCalls.FormatVcfForGatk.formatter_args": "--fix-end",

  "JoinRawCalls.ped_file": {{ test_batch.ped_file | tojson }},

  "JoinRawCalls.contig_list": {{ reference_resources.primary_contigs_list | tojson }},
  "JoinRawCalls.reference_fasta": {{ reference_resources.reference_fasta | tojson }},
  "JoinRawCalls.reference_fasta_fai": {{ reference_resources.reference_index | tojson }},
  "JoinRawCalls.reference_dict": {{ reference_resources.reference_dict | tojson }},

  "JoinRawCalls.prefix": {{ test_batch.name | tojson }}
}
