{
  "GenotypeBatch.sv_base_mini_docker":{{ dockers.sv_base_mini_docker | tojson }},
  "GenotypeBatch.sv_pipeline_docker": {{ dockers.sv_pipeline_docker | tojson }},
  "GenotypeBatch.sv_pipeline_rdtest_docker": {{ dockers.sv_pipeline_rdtest_docker | tojson }},
  "GenotypeBatch.linux_docker" : {{ dockers.linux_docker | tojson }},

  "GenotypeBatch.n_RD_genotype_bins": "100000", 
  "GenotypeBatch.n_per_split": "5000", 
  "GenotypeBatch.pesr_exclude_list": {{ reference_resources.pesr_exclude_list | tojson }},
  "GenotypeBatch.seed_cutoffs": {{ reference_resources.seed_cutoffs | tojson }},
  "GenotypeBatch.reference_build": {{ reference_resources.reference_build | tojson }},
  "GenotypeBatch.ref_dict": {{ reference_resources.reference_dict | tojson }},

  "GenotypeBatch.primary_contigs_list": {{ reference_resources.primary_contigs_list | tojson }},
  "GenotypeBatch.sv_pipeline_base_docker": {{ dockers.sv_pipeline_base_docker | tojson }},

  "GenotypeBatch.batch": {{ test_batch.batch_name | tojson }},
  "GenotypeBatch.rf_cutoffs": {{ test_batch.cutoffs | tojson }},
  "GenotypeBatch.batch_depth_vcf": {{ test_batch.filtered_depth_vcf | tojson }},
  "GenotypeBatch.batch_pesr_vcf": {{ test_batch.filtered_pesr_vcf | tojson }},
  "GenotypeBatch.ped_file": {{ test_batch.ped_file | tojson }},
  "GenotypeBatch.bin_exclude": {{ reference_resources.bin_exclude | tojson }},
  "GenotypeBatch.discfile": {{ test_batch.merged_disc_file | tojson }},
  "GenotypeBatch.coveragefile": {{ test_batch.merged_coverage_file | tojson }},
  "GenotypeBatch.splitfile": {{ test_batch.merged_split_file | tojson }},
  "GenotypeBatch.medianfile": {{ test_batch.medianfile | tojson }},
  "GenotypeBatch.cohort_depth_vcf": {{ test_batch.cohort_depth_vcf | tojson }},
  "GenotypeBatch.cohort_pesr_vcf": {{ test_batch.cohort_pesr_vcf | tojson }}
}
