{
  "MakeCohortVcf.bin_exclude": {{ reference_resources.bin_exclude | tojson }},
  "MakeCohortVcf.contig_list": {{ reference_resources.primary_contigs_fai | tojson }},
  "MakeCohortVcf.allosome_fai": {{ reference_resources.allosome_file | tojson }},
  "MakeCohortVcf.cytobands": {{ reference_resources.cytobands | tojson }},
  "MakeCohortVcf.mei_bed": {{ reference_resources.mei_bed | tojson }},
  "MakeCohortVcf.pe_exclude_list": {{ reference_resources.pesr_exclude_list | tojson }},
  "MakeCohortVcf.depth_exclude_list": {{ reference_resources.depth_exclude_list | tojson }},
  "MakeCohortVcf.empty_file" : {{ reference_resources.empty_file | tojson }},
  "MakeCohortVcf.ref_dict": {{ reference_resources.reference_dict | tojson }},

  "MakeCohortVcf.thousand_genomes_tarballs": {{ reference_resources.thousand_genomes_tarballs | tojson }},
  "MakeCohortVcf.hgsv_tarballs": {{ reference_resources.hgsv_tarballs | tojson }},
  "MakeCohortVcf.asc_tarballs": {{ reference_resources.asc_tarballs | tojson }},
  "MakeCohortVcf.sanders_2015_tarball": {{ reference_resources.sanders_2015_tarball | tojson }},
  "MakeCohortVcf.collins_2017_tarball": {{ reference_resources.collins_2017_tarball | tojson }},
  "MakeCohortVcf.werling_2018_tarball": {{ reference_resources.werling_2018_tarball | tojson }},

  "MakeCohortVcf.chr_x": {{ reference_resources.chr_x | tojson }},
  "MakeCohortVcf.chr_y": {{ reference_resources.chr_y | tojson }},

  "MakeCohortVcf.min_sr_background_fail_batches": 0.5,
  "MakeCohortVcf.max_shard_size_resolve" : 500,
  "MakeCohortVcf.max_shards_per_chrom_clean_vcf_step1": 200,
  "MakeCohortVcf.min_records_per_shard_clean_vcf_step1": 5000,
  "MakeCohortVcf.clean_vcf1b_records_per_shard": 10000,
  "MakeCohortVcf.samples_per_clean_vcf_step2_shard": 100,
  "MakeCohortVcf.clean_vcf5_records_per_shard": 5000,
  "MakeCohortVcf.random_seed": 0,

  "MakeCohortVcf.primary_contigs_list": {{ reference_resources.primary_contigs_list | tojson }},
  "MakeCohortVcf.sv_pipeline_base_docker": {{ dockers.sv_pipeline_base_docker | tojson }},

  "MakeCohortVcf.linux_docker": {{ dockers.linux_docker | tojson }},
  "MakeCohortVcf.sv_pipeline_docker": {{ dockers.sv_pipeline_docker | tojson }},
  "MakeCohortVcf.sv_pipeline_hail_docker": {{ dockers.sv_pipeline_hail_docker | tojson }},
  "MakeCohortVcf.sv_pipeline_updates_docker": {{ dockers.sv_pipeline_updates_docker | tojson }},
  "MakeCohortVcf.sv_base_mini_docker":{{ dockers.sv_base_mini_docker | tojson }},
  "MakeCohortVcf.sv_pipeline_rdtest_docker": {{ dockers.sv_pipeline_rdtest_docker | tojson }},
  "MakeCohortVcf.sv_pipeline_qc_docker": {{ dockers.sv_pipeline_qc_docker | tojson }},

  "MakeCohortVcf.cohort_name": {{ test_batch.batch_name | tojson }},
  "MakeCohortVcf.batches": [
    {{ test_batch.batch_name | tojson }}
  ],
  "MakeCohortVcf.ped_file": {{ test_batch.ped_file | tojson }},
  "MakeCohortVcf.disc_files": [
    {{ test_batch.merged_disc_file | tojson }}
  ],
  "MakeCohortVcf.bincov_files": [
    {{ test_batch.merged_coverage_file | tojson }}
  ],
  "MakeCohortVcf.median_coverage_files": [
    {{ test_batch.medianfile | tojson }}
  ],
  "MakeCohortVcf.rf_cutoff_files": [
    {{ test_batch.cutoffs | tojson }}
  ],
  "MakeCohortVcf.pesr_vcfs": [
    {{ test_batch.genotyped_pesr_vcf| tojson }}
  ],
  "MakeCohortVcf.depth_vcfs": [
    {{ test_batch.genotyped_depth_vcf | tojson }}
  ],
  "MakeCohortVcf.depth_gt_rd_sep_files": [
    {{ test_batch.depth_gt_rd_sep_file | tojson }}
  ],
  "MakeCohortVcf.raw_sr_bothside_pass_files": [
    {{ test_batch.raw_sr_bothside_pass_files | tojson }}
  ],
  "MakeCohortVcf.raw_sr_background_fail_files": [
    {{ test_batch.raw_sr_background_fail_files | tojson }}
  ]
}
