{
  "BenchmarkGqFilter.data_label":
    "HGDP and HGSV",
  "BenchmarkGqFilter.original_scores": {
    "label": "original",
    "vcf": "gs://broad-dsde-methods-tbrookin/results/gq-filtering/inputs/hgdp_and_hgsv.cleaned_fixed.vcf.gz",
    "vcf_index": "gs://broad-dsde-methods-tbrookin/results/gq-filtering/inputs/hgdp_and_hgsv.cleaned_fixed.vcf.gz.tbi",
    "property": "gq",
    "passing_score": 1,
    "pickled_scores_file": "gs://broad-dsde-methods-tbrookin/results/gq-filtering/inputs/hgdp_and_hgsv.cleaned_fixed_gq.pickle.bz2"
  },
  "BenchmarkGqFilter.comparison_scores": [
    {
      "label": "recalibrated",
      "vcf": "gs://broad-dsde-methods-tbrookin/results/gq-filtering/2022-09-05_fixed-gq-bug/hgdp_and_hgsv.cleaned_fixed_annotated_gq_recalibrated.vcf.gz",
      "vcf_index": "gs://broad-dsde-methods-tbrookin/results/gq-filtering/2022-09-05_fixed-gq-bug/hgdp_and_hgsv.cleaned_fixed_annotated_gq_recalibrated.vcf.gz.tbi",
      "property": "sl",
      "passing_score": 1,
      "pickled_scores_file": "gs://broad-dsde-methods-tbrookin/results/gq-filtering/2022-09-05_fixed-gq-bug/hgdp_and_hgsv.cleaned_fixed_annotated_gq_recalibrated_sl.pickle"
    },
    {
      "label": "cross-validated",
      "vcf": "gs://broad-dsde-methods-tbrookin/results/gq-filtering/2022-09-05_fixed-gq-bug/hgdp_and_hgsv.cleaned_fixed_annotated_cross_validated.vcf.gz",
      "vcf_index": "gs://broad-dsde-methods-tbrookin/results/gq-filtering/2022-09-05_fixed-gq-bug/hgdp_and_hgsv.cleaned_fixed_annotated_cross_validated.vcf.gz.tbi",
      "property": "sl",
      "passing_score": 1,
      "pickled_scores_file": "gs://broad-dsde-methods-tbrookin/results/gq-filtering/2022-09-05_fixed-gq-bug/hgdp_and_hgsv.cleaned_fixed_annotated_cross_validated_sl.pickle"
    },
    {
      "label": "Xuefang",
      "vcf": "gs://broad-dsde-methods-tbrookin/results/gq-filtering/inputs/hgdp_and_hgsv.cleaned.boost_and_minGQ.sorted.manual_filter_step2.vcf.gz",
      "vcf_index": "gs://broad-dsde-methods-tbrookin/results/gq-filtering/inputs/hgdp_and_hgsv.cleaned.boost_and_minGQ.sorted.manual_filter_step2.vcf.gz.tbi",
      "property": "gq",
      "passing_score": 0,
      "pickled_scores_file": "gs://broad-dsde-methods-tbrookin/results/gq-filtering/inputs/hgdp_and_hgsv.cleaned.boost_and_minGQ.sorted.manual_filter_step2_gq.pickle.bz2"
    },
    {
      "label": "previous recalibrated",
      "vcf": "gs://broad-dsde-methods-tbrookin/results/gq-filtering/2022-03-29_down-scaled-gq/hgdp_and_hgsv.cleaned_fixed_gq_recalibrated.vcf.gz",
      "vcf_index": "gs://broad-dsde-methods-tbrookin/results/gq-filtering/2022-03-29_down-scaled-gq/hgdp_and_hgsv.cleaned_fixed_gq_recalibrated.vcf.gz.tbi",
      "property": "sl",
      "passing_score": 0,
      "pickled_scores_file": "gs://broad-dsde-methods-tbrookin/results/gq-filtering/2022-03-29_down-scaled-gq/hgdp_and_hgsv.cleaned_fixed_gq_recalibrated_sl.pickle"
    }

  ],
  "BenchmarkGqFilter.benchmark_args":
    [],
  "BenchmarkGqFilter.truth_overlap_info":
    "gs://broad-dsde-methods-tbrookin/results/gq-filtering/2022-09-05_fixed-gq-bug/truth_overlap.json",
  "BenchmarkGqFilter.ped_file": "gs://broad-dsde-methods-tbrookin/results/gq-filtering/inputs/HGDP_1KGP.ped",
  "BenchmarkGqFilter.sv_utils_docker": {{ dockers.sv_utils_docker | tojson }},
  "BenchmarkGqFilter.samtools_cloud_docker": {{ dockers.samtools_cloud_docker | tojson }},
  "BenchmarkGqFilter.pickled_variant_properties": "gs://broad-dsde-methods-tbrookin/results/gq-filtering/2022-09-05_fixed-gq-bug/hgdp_and_hgsv.cleaned_fixed_annotated_svtype_svlen_ac_is_autosome.pickle"
}