{
  "CrossValidateGqRecalibrator.train_vcf_label": {{ test_batch.name | tojson }},
  "CrossValidateGqRecalibrator.train_vcf": {{ test_batch.pacbio_sample_concordance_vcf | tojson }},
  "CrossValidateGqRecalibrator.train_vcf_index": {{ test_batch.pacbio_sample_concordance_vcf_index | tojson }},
  "CrossValidateGqRecalibrator.truth_json": {{ test_batch.recalibrate_gq_truth_json | tojson }},
  "CrossValidateGqRecalibrator.genome_tracks": {{ reference_resources.recalibrate_gq_genome_tracks | tojson }},

  "CrossValidateGqRecalibrator.benchmark_args": ["--size-ranges small:50:500,medium:500:5000,large:5000:inf"],
  "CrossValidateGqRecalibrator.new_pipeline_score_property": "sl",
  "CrossValidateGqRecalibrator.num_splits": 5,
  "CrossValidateGqRecalibrator.old_pipeline_passing_score": "1",
  "CrossValidateGqRecalibrator.old_pipeline_score_property": "gq",

  "CrossValidateGqRecalibrator.BenchmarkGqFilter.make_figures": [
    "precision-recall",
    "inheritance",
    "variants-per-sample",
    "violation-curve",
    "scores-histogram"
  ],
  "CrossValidateGqRecalibrator.recalibrate_gq_args": [
    "--keep-homvar false",
    "--keep-homref true",
    "--keep-multiallelic true",
    "--skip-genotype-filtering true",
    "--min-samples-to-estimate-allele-frequency -1"
  ],
  "CrossValidateGqRecalibrator.train_args": [
    "--learning-rate 0.002",
    "--target-precision 0.8",
    "--max-inheritance-af 0.1",
    "--large-af-weight-penalty 0.05",
    "--max-depth 11",
    "--subsample 0.8",
    "--colsample-by-tree 0.8",
    "--min-child-weight 200",
    "--gamma 0.5",
    "--truth-weight 0.90",
    "--keep-homvar false",
    "--keep-homref false",
    "--keep-multiallelic true",
    "--validation-proportion 0.2",
    "--early-stopping-loss Training",
    "--error-on-no-trios false",
    "--override-min-gq true",
    "--max-training-rounds 200",
    "--early-stopping-rounds 40"
  ],

  "CrossValidateGqRecalibrator.sv_utils_docker": {{ dockers.sv_utils_docker | tojson }},
  "CrossValidateGqRecalibrator.samtools_cloud_docker": {{ dockers.samtools_cloud_docker | tojson }},
  "CrossValidateGqRecalibrator.gatk_docker": {{ dockers.gatk_docker | tojson }},
  "CrossValidateGqRecalibrator.sv_base_mini_docker": {{ dockers.sv_base_mini_docker | tojson }},
  "CrossValidateGqRecalibrator.sv_pipeline_docker": {{ dockers.sv_pipeline_docker | tojson }}
}