{
  "CrossValidateGqRecalibrator.train_vcf": "gs://broad-dsde-methods-tbrookin/results/gq-filtering/2022-08-18_more-annotations/hgdp_and_hgsv.cleaned_fixed_annotated.vcf.gz",
  "CrossValidateGqRecalibrator.train_vcf_index": "gs://broad-dsde-methods-tbrookin/results/gq-filtering/2022-08-18_more-annotations/hgdp_and_hgsv.cleaned_fixed_annotated.vcf.gz.tbi",
  "CrossValidateGqRecalibrator.standardize_vcf": false,
  "CrossValidateGqRecalibrator.train_vcf_label": "HGDP and HGSV",
  "CrossValidateGqRecalibrator.truth_json": "gs://broad-dsde-methods-tbrookin/results/gq-filtering/2022-09-30_increase-regularization/truth_overlap.json",
  "CrossValidateGqRecalibrator.genome_tracks": [
    "gs://broad-dsde-methods-tbrookin/ucsc-genome-tracks/hg38-RepeatMasker.bed.gz",
    "gs://broad-dsde-methods-tbrookin/ucsc-genome-tracks/hg38-Segmental-Dups.bed.gz",
    "gs://broad-dsde-methods-tbrookin/ucsc-genome-tracks/hg38-Simple-Repeats.bed.gz",
    "gs://broad-dsde-methods-tbrookin/ucsc-genome-tracks/hg38_umap_s100.bed.gz",
    "gs://broad-dsde-methods-tbrookin/ucsc-genome-tracks/hg38_umap_s24.bed.gz"
  ],
  "CrossValidateGqRecalibrator.train_args": [
    "--learning-rate 0.05",
    "--target-precision 0.95",
    "--max-inheritance-af 0.1",
    "--large-af-weight-penalty 0.05",
    "--max-depth 7",
    "--subsample 0.8",
    "--colsample-by-tree 0.8",
    "--min-child-weight 5000",
    "--gamma 0.1",
    "--truth-weight 0.90",
    "--train-homref true",
    "--keep-homvar false",
    "--keep-multiallelic true",
    "--validation-proportion 0.2",
    "--early-stopping-loss Training"
  ],
  "CrossValidateGqRecalibrator.recalibrate_gq_args": [
    "--keep-homvar false",
    "--keep-multiallelic true",
    "--min-scaled-logits -1000"
  ],
  "CrossValidateGqRecalibrator.sv_utils_docker": {{ dockers.sv_utils_docker | tojson }},
  "CrossValidateGqRecalibrator.gatk_docker": {{ dockers.gq_recalibrator_docker | tojson }},
  "CrossValidateGqRecalibrator.sv_base_mini_docker": {{ dockers.sv_base_mini_docker | tojson }},
  "CrossValidateGqRecalibrator.samtools_cloud_docker": {{ dockers.samtools_cloud_docker | tojson }}
}