{
  "GetTruthInheritance.vcfs": [
    "gs://broad-dsde-methods-tbrookin/results/gq-filtering/2022-08-18_more-annotations/hgdp_and_hgsv.cleaned_fixed_annotated.vcf.gz"
  ],
  "GetTruthInheritance.vcf_indices": [
    "gs://broad-dsde-methods-tbrookin/results/gq-filtering/2022-08-18_more-annotations/hgdp_and_hgsv.cleaned_fixed_annotated.vcf.gz.tbi"
  ],
  "GetTruthInheritance.ped_files": [
    "gs://broad-dsde-methods-tbrookin/results/gq-filtering/inputs/HGDP_1KGP.ped"
  ],
  "GetTruthInheritance.truth_json_file_name": "hgdp_and_hgsv_ped_truth.json",
  "GetTruthInheritance.sv_utils_docker": {{ dockers.sv_utils_docker | tojson }}
}
