{
  "TrainGqRecalibrator.train_vcf": "gs://talkowski-sv-gnomad-output/HGDP/cleanvcf/hgdp_and_hgsv.cleaned.vcf.gz",
  "TrainGqRecalibrator.train_vcf_index": "gs://talkowski-sv-gnomad-output/HGDP/cleanvcf/hgdp_and_hgsv.cleaned.vcf.gz.tbi",
  "TrainGqRecalibrator.standardize_vcf": true,
  "TrainGqRecalibrator.ped_file": "gs://broad-dsde-methods-tbrookin/results/gq-filtering/inputs/HGDP_1KGP.ped",
  "TrainGqRecalibrator.truth_vcfs": [
    "gs://broad-dsde-methods-tbrookin/pacbio/HG00514.sv_calls.fixed.vcf.gz",
    "gs://broad-dsde-methods-tbrookin/pacbio/HG00733.SVs.fixed.src_method.vcf.gz",
    "gs://broad-dsde-methods-tbrookin/pacbio/NA19240.SVs.fixed.src_method.vcf.gz",
    "gs://broad-dsde-methods-tbrookin/pacbio/PB_SVs.vcf.gz"
  ],
  "TrainGqRecalibrator.truth_vcf_indices": [
    "gs://broad-dsde-methods-tbrookin/pacbio/HG00514.sv_calls.fixed.vcf.gz.tbi",
    "gs://broad-dsde-methods-tbrookin/pacbio/HG00733.SVs.fixed.src_method.vcf.gz.tbi",
    "gs://broad-dsde-methods-tbrookin/pacbio/NA19240.SVs.fixed.src_method.vcf.gz.tbi",
    "gs://broad-dsde-methods-tbrookin/pacbio/PB_SVs.vcf.gz.tbi"
  ],
  "TrainGqRecalibrator.vapor_sample_ids": [
    "HG00512",
    "HG00513",
    "HG00514",
    "HG00731",
    "HG00732",
    "HG00733",
    "NA19238",
    "NA19239",
    "NA19240"
  ],
  "TrainGqRecalibrator.vapor_files": [
    "gs://broad-dsde-methods-tbrookin/vapor/HG00512_CCS.bed.gz",
    "gs://broad-dsde-methods-tbrookin/vapor/HG00513_CCS.bed.gz",
    "gs://broad-dsde-methods-tbrookin/vapor/HG00514_CCS.bed.gz",
    "gs://broad-dsde-methods-tbrookin/vapor/HG00731_CCS.bed.gz",
    "gs://broad-dsde-methods-tbrookin/vapor/HG00732_CCS.bed.gz",
    "gs://broad-dsde-methods-tbrookin/vapor/HG00733_CCS.bed.gz",
    "gs://broad-dsde-methods-tbrookin/vapor/NA19238_CCS.bed.gz",
    "gs://broad-dsde-methods-tbrookin/vapor/NA19239_CCS.bed.gz",
    "gs://broad-dsde-methods-tbrookin/vapor/NA19240_CCS.bed.gz"
  ],
  "TrainGqRecalibrator.genome_tracks": [
    "gs://broad-dsde-methods-tbrookin/ucsc-genome-tracks/hg38-RepeatMasker.bed.gz",
    "gs://broad-dsde-methods-tbrookin/ucsc-genome-tracks/hg38-Segmental-Dups.bed.gz",
    "gs://broad-dsde-methods-tbrookin/ucsc-genome-tracks/hg38-Simple-Repeats.bed.gz",
    "gs://broad-dsde-methods-tbrookin/ucsc-genome-tracks/hg38_gaps.bed.gz",
    "gs://broad-dsde-methods-tbrookin/ucsc-genome-tracks/hg38_umap_s100.bed.gz",
    "gs://broad-dsde-methods-tbrookin/ucsc-genome-tracks/hg38_umap_s24.bed.gz",
    "gs://broad-dsde-methods-tbrookin/ucsc-genome-tracks/hg38_umap_s36.bed.gz",
    "gs://broad-dsde-methods-tbrookin/ucsc-genome-tracks/hg38_umap_s50.bed.gz"
  ],
  "TrainGqRecalibrator.standardize_vcf_args": [
    "--gq-scale 0.1"
  ],
  "TrainGqRecalibrator.train_args": [
    "--target-precision 0.95",
    "--max-inheritance-af 0.1",
    "--large-af-weight-penalty 0.05",
    "--max-depth 12",
    "--subsample 0.8",
    "--colsample-by-tree 0.8",
    "--min-child-weight 1000",
    "--truth-weight 0.25",
    "--train-homref true",
    "--keep-homvar false",
    "--keep-multiallelic true"
  ],
  "TrainGqRecalibrator.get_truth_overlap_args": [
    "--expand-point-svs-bp 1000",
    "--point-sv-scale-factor 1.0",
    "--expand-non-point-svs-bp 0",
    "--non-point-sv-scale-factor 0.0",
    "--min-overlap-cutoff-precision 0.8",
    "--inheritance-af-rareness 0.05"
  ],
  "TrainGqRecalibrator.sv_utils_docker": {{ dockers.sv_utils_docker | tojson }},
  "TrainGqRecalibrator.gatk_docker": {{ dockers.gq_recalibrator_docker | tojson }},
  "TrainGqRecalibrator.samtools_cloud_docker": {{ dockers.samtools_cloud_docker | tojson }}
}