{
  "TrainGqRecalibrator.train_vcf": {{ test_batch.pacbio_sample_concordance_vcf | tojson }},
  "TrainGqRecalibrator.train_vcf_index": {{ test_batch.pacbio_sample_concordance_vcf_index | tojson }},
  "TrainGqRecalibrator.truth_json": {{ test_batch.vapor_irs_training_json | tojson }},
  "TrainGqRecalibrator.ped_file": {{ test_batch.ped_file | tojson }},
  "TrainGqRecalibrator.genome_tracks": {{ reference_resources.recalibrate_gq_genome_tracks | tojson }},

  "TrainGqRecalibrator.train_args": [
    "--learning-rate 0.002",
    "--target-precision 0.8",
    "--max-inheritance-af 0.1",
    "--large-af-weight-penalty 0.05",
    "--max-depth 11",
    "--subsample 0.8",
    "--colsample-by-tree 0.8",
    "--min-child-weight 200",
    "--gamma 0.5",
    "--truth-weight 0.90",
    "--keep-homvar false",
    "--keep-homref false",
    "--keep-multiallelic true",
    "--validation-proportion 0.2",
    "--early-stopping-loss Training",
    "--error-on-no-trios false",
    "--override-min-gq true",
    "--max-training-rounds 200",
    "--early-stopping-rounds 40"
  ],

  "TrainGqRecalibrator.sv_utils_docker": {{ dockers.sv_utils_docker | tojson }},
  "TrainGqRecalibrator.samtools_cloud_docker": {{ dockers.samtools_cloud_docker | tojson }},
  "TrainGqRecalibrator.gatk_docker": {{ dockers.gq_recalibrator_docker | tojson }},
  "TrainGqRecalibrator.sv_base_mini_docker": {{ dockers.sv_base_mini_docker | tojson }},
  "TrainGqRecalibrator.sv_pipeline_docker": {{ dockers.sv_pipeline_docker | tojson }}
}
