entity:sample_id	bam_or_cram_file	bam_or_cram_index	participant	requester_pays_cram
{{ single_sample.sample_id }}	{{ single_sample.bam_or_cram_file }}	{{ single_sample.bam_or_cram_index }}	{{ single_sample.sample_id }}	{{ single_sample.requester_pays_cram }}
