{
  "SubsetVcfBySamplesList.vcf" :   {{ test_batch.clean_vcf | tojson }},

  "SubsetVcfBySamplesList.sv_base_mini_docker":{{ dockers.sv_base_mini_docker | tojson }},

  "SubsetVcfBySamplesList.list_of_samples": "gs://gatk-sv-ref-panel-1kg/test_inputs/ref_panel_1kg_subset_10_samples.txt"
}
