{
  "SubsetVcfBySamplesList.vcf" :   {{ test_batch.clean_vcf | tojson }},

  "SubsetVcfBySamplesList.sv_base_mini_docker":{{ dockers.sv_base_mini_docker | tojson }},

  "SubsetVcfBySamplesList.list_of_samples": "gs://gatk-sv-resources-public/hg38/v0/sv-resources/ref-panel/1KG/v1/ref_panel_1kg_subset_10_samples.txt"
}
