{
  "Module0506Test.test_name" : {{ test_batch.batch_name | tojson }},
  "Module0506Test.base_metrics" : "gs://gatk-sv-resources/test/module0506/large/module05_06.test_large.metrics.tsv",
  "Module0506Test.samples": [
    "SM-BZNZQ",
    "SM-BZNZR",
    "SM-BZNZS",
    "SM-BZNZT",
    "SM-BZNZU",
    "SM-BZNZV",
    "SM-BZNZW",
    "SM-BZO12",
    "SM-BZO13",
    "SM-BZO14",
    "SM-BZO15",
    "SM-BZO16",
    "SM-BZO17",
    "SM-BZO18",
    "SM-BZO19",
    "SM-BZO1A",
    "SM-BZO1B",
    "SM-BZO1C",
    "SM-BZO1D",
    "SM-BZO1E",
    "SM-BZO1F",
    "SM-G947I",
    "SM-G947T",
    "SM-G947V",
    "SM-G947Z",
    "SM-GN4BG",
    "SM-GN4BH",
    "SM-GN4BI",
    "SM-GN4BJ",
    "SM-GN4BK",
    "SM-GN5WW",
    "SM-GN5WX",
    "SM-GN5WY",
    "SM-GN5WZ",
    "SM-GN5X1",
    "SM-GZQJT",
    "SM-GZQJV",
    "SM-GZQJW",
    "SM-GZQJX",
    "SM-GZQK6",
    "SM-GZQK7",
    "SM-GZQK8",
    "SM-GZQKA",
    "SM-GZQKI",
    "SM-GZQKJ",
    "SM-GZQKK",
    "SM-GZQKM",
    "SM-GZQKU",
    "SM-GZQKV",
    "SM-GZQKW",
    "SM-GZQKY",
    "SM-GZQL7",
    "SM-GZQL8",
    "SM-GZQL9",
    "SM-GZQLB",
    "SM-GZQLJ",
    "SM-GZQLK",
    "SM-GZQLL",
    "SM-GZQLN",
    "SM-GZQLV",
    "SM-GZQLW",
    "SM-GZQLX",
    "SM-GZQM8",
    "SM-GZQM9",
    "SM-GZQMA",
    "SM-GZQMC",
    "SM-GZQPL",
    "SM-GZQPX",
    "SM-GZQQA",
    "SM-GZQRA",
    "SM-GZQRM",
    "SM-GZQRY",
    "SM-HXUD2",
    "TCGA-3C-AALJ-10A-01D-A702-36",
    "TCGA-4C-A93U-10A-01D-A702-36",
    "TCGA-4H-AAAK-10A-01D-A702-36",
    "TCGA-93-A4JQ-10A-01D-A702-36",
    "TCGA-A2-A4RX-10A-01D-A702-36",
    "TCGA-BJ-A3PU-10A-01D-A703-36",
    "TCGA-BR-A4J1-10A-01D-A703-36",
    "TCGA-C8-A8HR-10A-01D-A703-36",
    "TCGA-DB-A4XD-10A-01D-A704-36",
    "TCGA-DB-A75K-10A-01D-A704-36",
    "TCGA-DB-A75M-10A-01D-A704-36",
    "TCGA-DU-A7TD-10A-01D-A704-36",
    "TCGA-E1-A7YI-10A-01D-A704-36",
    "TCGA-EJ-A46G-10A-01D-A704-36",
    "TCGA-EJ-A65F-10A-01D-A704-36",
    "TCGA-F6-A8O3-10A-01D-A704-36",
    "TCGA-F6-A8O4-10A-01D-A704-36",
    "TCGA-F9-A7VF-10A-01D-A704-36",
    "TCGA-FG-A4MU-10A-01D-A705-36",
    "TCGA-FG-A4MY-10A-01D-A705-36",
    "TCGA-HE-A5NI-10A-01D-A705-36",
    "TCGA-LN-A9FQ-10A-01D-A705-36",
    "TCGA-MP-A4TC-10A-01D-A706-36",
    "TCGA-P5-A72W-10A-01D-A706-36",
    "TCGA-P5-A72X-10A-01D-A706-36",
    "TCGA-P5-A735-10A-01D-A706-36",
    "TCGA-P5-A736-10A-01D-A706-36",
    "TCGA-P5-A77X-10A-01D-A706-36",
    "TCGA-PL-A8LZ-10A-01D-A706-36",
    "TCGA-S3-AA0Z-10A-01D-A706-36",
    "TCGA-SS-A7HO-10A-01D-A703-36",
    "TCGA-W9-A837-10A-01D-A706-36"
  ],

  "Module0506Test.PlotMetrics.sv_pipeline_base_docker": {{ dockers.sv_pipeline_base_docker | tojson }},
  "Module0506Test.Module0506Metrics.sv_pipeline_base_docker": {{ dockers.sv_pipeline_base_docker | tojson }},
  "Module0506Test.Module0506Metrics.linux_docker": {{ dockers.linux_docker | tojson }},
  
  "Module0506Test.Module0506Metrics.contig_list" : {{ reference_resources.primary_contigs_list | tojson }},

  "Module0506Test.Module0506Metrics.baseline_complex_genotype_vcf" : {{ test_batch.baseline_complex_genotype_vcf | tojson }},
  "Module0506Test.Module0506Metrics.baseline_cleaned_vcf" : {{ test_batch.baseline_cleaned_vcf | tojson }},

  "Module0506Test.Module0506.bin_exclude": {{ reference_resources.bin_exclude | tojson }},
  "Module0506Test.Module0506.contig_list": {{ reference_resources.primary_contigs_fai | tojson }},
  "Module0506Test.Module0506.cytobands": {{ reference_resources.cytobands | tojson }},
  "Module0506Test.Module0506.mei_bed": {{ reference_resources.mei_bed | tojson }},
  "Module0506Test.Module0506.pe_exclude_list": {{ reference_resources.pesr_exclude_list | tojson }},
  "Module0506Test.Module0506.depth_exclude_list": {{ reference_resources.depth_exclude_list | tojson }},
  "Module0506Test.Module0506.empty_file" : {{ reference_resources.empty_file | tojson }},
  "Module0506Test.Module0506.ref_dict": {{ reference_resources.reference_dict | tojson }},

  "Module0506Test.Module0506.thousand_genomes_tarballs": {{ reference_resources.thousand_genomes_tarballs | tojson }},
  "Module0506Test.Module0506.hgsv_tarballs": {{ reference_resources.hgsv_tarballs | tojson }},
  "Module0506Test.Module0506.asc_tarballs": {{ reference_resources.asc_tarballs | tojson }},
  "Module0506Test.Module0506.sanders_2015_tarball": {{ reference_resources.sanders_2015_tarball | tojson }},
  "Module0506Test.Module0506.collins_2017_tarball": {{ reference_resources.collins_2017_tarball | tojson }},
  "Module0506Test.Module0506.werling_2018_tarball": {{ reference_resources.werling_2018_tarball | tojson }},

  "Module0506Test.Module0506.min_sr_background_fail_batches": 0.5,
  "Module0506Test.Module0506.max_shards_per_chrom_clean_vcf_step1": 200,
  "Module0506Test.Module0506.min_records_per_shard_clean_vcf_step1": 5000,
  "Module0506Test.Module0506.samples_per_clean_vcf_step2_shard": 100,
  "Module0506Test.Module0506.random_seed": 0,
  "Module0506Test.Module0506.max_shards_per_chrom": 100,
  "Module0506Test.Module0506.min_variants_per_shard": 30,

  "Module0506Test.Module0506.linux_docker": {{ dockers.linux_docker | tojson }},
  "Module0506Test.Module0506.sv_pipeline_docker": {{ dockers.sv_pipeline_docker | tojson }},
  "Module0506Test.Module0506.sv_base_mini_docker":{{ dockers.sv_base_mini_docker | tojson }},
  "Module0506Test.Module0506.sv_pipeline_rdtest_docker": {{ dockers.sv_pipeline_rdtest_docker | tojson }},
  "Module0506Test.Module0506.sv_pipeline_qc_docker": {{ dockers.sv_pipeline_qc_docker | tojson }},

  "Module0506Test.Module0506.cohort_name": {{ test_batch.batch_name | tojson }},
  "Module0506Test.Module0506.batches": [
    {{ test_batch.batch_name | tojson }}
  ],
  "Module0506Test.Module0506.ped_files": [
    {{ test_batch.filtered_ped_file | tojson }}
  ],
  "Module0506Test.Module0506.disc_files": [
    {{ test_batch.merged_disc_file | tojson }}
  ],
  "Module0506Test.Module0506.bincov_files": [
    {{ test_batch.merged_coverage_file | tojson }}
  ],
  "Module0506Test.Module0506.median_coverage_files": [
    {{ test_batch.medianfile | tojson }}
  ],
  "Module0506Test.Module0506.rf_cutoff_files": [
    {{ test_batch.cutoffs | tojson }}
  ],
  "Module0506Test.Module0506.pesr_vcfs": [
    {{ test_batch.genotyped_pesr_vcf| tojson }}
  ],
  "Module0506Test.Module0506.depth_vcfs": [
    {{ test_batch.genotyped_depth_vcf | tojson }}
  ],
  "Module0506Test.Module0506.depth_gt_rd_sep_files": [
    {{ test_batch.depth_gt_rd_sep_file | tojson }}
  ],
  "Module0506Test.Module0506.raw_sr_bothside_pass_files": [
    {{ test_batch.raw_sr_bothside_pass_files | tojson }}
  ],
  "Module0506Test.Module0506.raw_sr_background_fail_files": [
    {{ test_batch.raw_sr_background_fail_files | tojson }}
  ]
}
