{
  "SetSampleIdLegacy.sample_name": "xyzzy",
  "SetSampleIdLegacy.PE_file": {{ test_batch.PE_example_file | tojson }},
  "SetSampleIdLegacy.SR_file": {{ test_batch.SR_example_file | tojson }},
  "SetSampleIdLegacy.SD_file": {{ test_batch.SD_example_file | tojson }},
  "SetSampleIdLegacy.reference_dict": {{ reference_resources.reference_dict | tojson }},
  "SetSampleIdLegacy.gatk_docker": {{ dockers.gatk_docker | tojson }}
}
