{
  "GenerateBatchMetrics.gatk_docker": {{ dockers.gatk_docker | tojson }},
  "GenerateBatchMetrics.sv_pipeline_docker": {{ dockers.sv_pipeline_docker | tojson }},
  "GenerateBatchMetrics.sv_base_mini_docker":{{ dockers.sv_base_mini_docker | tojson }},

  "GenerateBatchMetrics.rmsk": {{ reference_resources.rmsk | tojson }},
  "GenerateBatchMetrics.segdups": {{ reference_resources.segdups | tojson }},
  "GenerateBatchMetrics.reference_dict": {{ reference_resources.reference_dict | tojson }},
  "GenerateBatchMetrics.chr_x": {{ reference_resources.chr_x | tojson }},
  "GenerateBatchMetrics.chr_y": {{ reference_resources.chr_y | tojson }},

  "GenerateBatchMetrics.primary_contigs_list": {{ reference_resources.primary_contigs_list | tojson }},

  "GenerateBatchMetrics.batch": {{ test_batch.name | tojson }},
  "GenerateBatchMetrics.pe_file": {{ test_batch.merged_disc_file | tojson }},
  "GenerateBatchMetrics.baf_file": {{ test_batch.merged_baf_file | tojson }},
  "GenerateBatchMetrics.rd_file": {{ test_batch.merged_coverage_file | tojson }},
  "GenerateBatchMetrics.sr_file": {{ test_batch.merged_split_file | tojson }},
  "GenerateBatchMetrics.median_file": {{ test_batch.medianfile | tojson }},
  "GenerateBatchMetrics.ped_file": {{ test_batch.ped_file | tojson }},

  "GenerateBatchMetrics.depth_vcf" : {{ test_batch.merged_depth_vcf | tojson }},
  "GenerateBatchMetrics.manta_vcf" : {{ test_batch.merged_manta_vcf | tojson }},
  "GenerateBatchMetrics.wham_vcf" : {{ test_batch.merged_wham_vcf | tojson }},
  "GenerateBatchMetrics.scramble_vcf" : {{ test_batch.merged_scramble_vcf | tojson }}
}
