{
  "GenotypeComplexVariants.bin_exclude": {{ reference_resources.bin_exclude | tojson }},
  "GenotypeComplexVariants.contig_list": {{ reference_resources.primary_contigs_fai | tojson }},
  "GenotypeComplexVariants.ref_dict": {{ reference_resources.reference_dict | tojson }},

  "GenotypeComplexVariants.linux_docker": {{ dockers.linux_docker | tojson }},
  "GenotypeComplexVariants.sv_pipeline_docker": {{ dockers.sv_pipeline_docker | tojson }},
  "GenotypeComplexVariants.sv_base_mini_docker":{{ dockers.sv_base_mini_docker | tojson }},

  "GenotypeComplexVariants.cohort_name": {{ test_batch.name | tojson }},
  "GenotypeComplexVariants.batches": [
    {{ test_batch.name | tojson }}
  ],
  "GenotypeComplexVariants.depth_vcfs": {{ test_batch.regenotyped_depth_vcf | tojson }},
  "GenotypeComplexVariants.complex_resolve_vcfs": {{ test_batch.complex_resolve_vcfs | tojson }},
  "GenotypeComplexVariants.complex_resolve_vcf_indexes": {{ test_batch.complex_resolve_vcf_indexes | tojson }},
  "GenotypeComplexVariants.ped_file": {{ test_batch.ped_file | tojson }},
  "GenotypeComplexVariants.bincov_files": [
    {{ test_batch.merged_coverage_file | tojson }}
  ],
  "GenotypeComplexVariants.depth_gt_rd_sep_files": [
    {{ test_batch.genotype_depth_depth_sepcutoff | tojson }}
  ],
  "GenotypeComplexVariants.median_coverage_files": [
    {{ test_batch.medianfile | tojson }}
  ]
}
