{
  "GatherSampleEvidenceBatch.primary_contigs_list": {{ reference_resources.primary_contigs_list | tojson }},
  "GatherSampleEvidenceBatch.reference_fasta": {{ reference_resources.reference_fasta | tojson }},
  "GatherSampleEvidenceBatch.reference_index": {{ reference_resources.reference_index | tojson }},
  "GatherSampleEvidenceBatch.reference_dict": {{ reference_resources.reference_dict | tojson }},
  "GatherSampleEvidenceBatch.reference_version": {{ reference_resources.reference_version | tojson }},

  "GatherSampleEvidenceBatch.collect_coverage": "true",
  "GatherSampleEvidenceBatch.collect_pesr": "true",

  "GatherSampleEvidenceBatch.preprocessed_intervals": {{ reference_resources.preprocessed_intervals | tojson }},

  "GatherSampleEvidenceBatch.delly_exclude_intervals_file": {{ reference_resources.delly_exclude_intervals_file | tojson }},
  "GatherSampleEvidenceBatch.manta_region_bed": {{ reference_resources.manta_region_bed | tojson }},
  "GatherSampleEvidenceBatch.melt_standard_vcf_header": {{ reference_resources.melt_std_vcf_header | tojson }},

  "GatherSampleEvidenceBatch.wham_include_list_bed_file": {{ reference_resources.wham_include_list_bed_file | tojson }},

  "GatherSampleEvidenceBatch.samtools_cloud_docker": {{ dockers.samtools_cloud_docker | tojson }},
  "GatherSampleEvidenceBatch.sv_base_mini_docker":{{ dockers.sv_base_mini_docker | tojson }},
  "GatherSampleEvidenceBatch.sv_pipeline_docker": {{ dockers.sv_pipeline_docker | tojson }},
  "GatherSampleEvidenceBatch.manta_docker": {{ dockers.manta_docker | tojson }},
  "GatherSampleEvidenceBatch.melt_docker" : {{ dockers.melt_docker | tojson }},
  "GatherSampleEvidenceBatch.wham_docker": {{ dockers.wham_docker | tojson }},
  "GatherSampleEvidenceBatch.genomes_in_the_cloud_docker" : {{ dockers.genomes_in_the_cloud_docker | tojson }},
  "GatherSampleEvidenceBatch.gatk_docker": {{ dockers.gatk_docker | tojson }},
  "GatherSampleEvidenceBatch.gatk_docker_pesr_override" : {{ dockers.gatk_docker | tojson }},
  "GatherSampleEvidenceBatch.cloud_sdk_docker": {{ dockers.cloud_sdk_docker | tojson }},

  "GatherSampleEvidenceBatch.batch": {{ test_batch.name | tojson }},
  "GatherSampleEvidenceBatch.primary_contigs_fai": {{ reference_resources.primary_contigs_fai | tojson }},
  "GatherSampleEvidenceBatch.sv_pipeline_base_docker": {{ dockers.sv_pipeline_base_docker | tojson }},
  "GatherSampleEvidenceBatch.linux_docker": {{ dockers.linux_docker | tojson }},

  "GatherSampleEvidenceBatch.bam_or_cram_files": {{ test_batch.bam_or_cram_files | tojson }},
  "GatherSampleEvidenceBatch.sample_ids": {{ test_batch.samples | tojson }}
}
