{
  "GenotypeBatch.sv_base_mini_docker":{{ dockers.sv_base_mini_docker | tojson }},
  "GenotypeBatch.sv_pipeline_docker": {{ dockers.sv_pipeline_docker | tojson }},
  "GenotypeBatch.gatk_docker" : {{ dockers.gatk_docker | tojson }},

  "GenotypeBatch.pesr_exclusion_intervals": {{ reference_resources.pesr_exclude_list | tojson }},
  "GenotypeBatch.reference_dict": {{ reference_resources.reference_dict | tojson }},
  "GenotypeBatch.contig_list": {{ reference_resources.primary_contigs_list | tojson }},

  "GenotypeBatch.batch": {{ test_batch.name | tojson }},
  "GenotypeBatch.rf_cutoffs": {{ test_batch.cutoffs | tojson }},
  "GenotypeBatch.depth_exclusion_intervals": {{ reference_resources.bin_exclude | tojson }},
  "GenotypeBatch.pe_file": {{ test_batch.merged_pe_file | tojson }},
  "GenotypeBatch.rd_file": {{ test_batch.merged_rd_file | tojson }},
  "GenotypeBatch.sr_file": {{ test_batch.merged_sr_file | tojson }},
  "GenotypeBatch.median_coverage": {{ test_batch.medianfile | tojson }},
  "GenotypeBatch.vcf": {{ test_batch.merge_batch_sites_vcf | tojson }},

  "GenotypeBatch.training_intervals": {{ reference_resources.depth_training_bed | tojson }},
  "GenotypeBatch.ploidy_table": {{ test_batch.ploidy_table | tojson }}
}
