{
  "GatherBatchEvidence.sv_base_mini_docker":{{ dockers.sv_base_mini_docker | tojson }},
  "GatherBatchEvidence.sv_base_docker": {{ dockers.sv_base_docker | tojson }},
  "GatherBatchEvidence.sv_pipeline_docker": {{ dockers.sv_pipeline_docker | tojson }},
  "GatherBatchEvidence.sv_pipeline_qc_docker": {{ dockers.sv_pipeline_qc_docker | tojson }},
  "GatherBatchEvidence.cnmops_docker": {{ dockers.cnmops_docker | tojson }},
  "GatherBatchEvidence.linux_docker" : {{ dockers.linux_docker | tojson }},
  "GatherBatchEvidence.gatk_docker": {{ dockers.gatk_docker | tojson }},
  "GatherBatchEvidence.gcnv_gatk_docker" : {{ dockers.gatk_docker | tojson }},
  "GatherBatchEvidence.condense_counts_docker" : {{ dockers.condense_counts_docker | tojson }},
  "GatherBatchEvidence.cytoband":{{ reference_resources.cytobands | tojson }},
  "GatherBatchEvidence.mei_bed":{{ reference_resources.mei_bed | tojson }},
  "GatherBatchEvidence.cnmops_allo_file": {{ reference_resources.allosome_file | tojson }},
  "GatherBatchEvidence.cnmops_exclude_list": {{ reference_resources.cnmops_exclude_list | tojson }},
  "GatherBatchEvidence.cnmops_chrom_file": {{ reference_resources.autosome_file | tojson }},
  "GatherBatchEvidence.primary_contigs_fai": {{ reference_resources.primary_contigs_fai | tojson }},
  "GatherBatchEvidence.genome_file": {{ reference_resources.genome_file | tojson }},
  "GatherBatchEvidence.inclusion_bed": {{ reference_resources.inclusion_bed | tojson }},
  "GatherBatchEvidence.matrix_qc_distance": "1000000",
  "GatherBatchEvidence.min_svsize": "50",
  "GatherBatchEvidence.run_matrix_qc": "true",

  "GatherBatchEvidence.unpadded_intervals_file" : {{ reference_resources.unpadded_intervals_file | tojson }},
  "GatherBatchEvidence.dbsnp_vcf" : {{ reference_resources.dbsnp_vcf | tojson }},
  "GatherBatchEvidence.ref_fasta": {{ reference_resources.reference_fasta | tojson }},
  "GatherBatchEvidence.ref_fasta_index": {{ reference_resources.reference_index | tojson }},
  "GatherBatchEvidence.ref_dict": {{ reference_resources.reference_dict | tojson }},

  "GatherBatchEvidence.ploidy_sample_psi_scale": "0.001",
  "GatherBatchEvidence.contig_ploidy_model_tar" : {{ test_batch.contig_ploidy_model_tar | tojson }},
  "GatherBatchEvidence.gcnv_learning_rate" : 0.03,
  "GatherBatchEvidence.gcnv_num_thermal_advi_iters" : 250,
  "GatherBatchEvidence.gcnv_max_advi_iter_first_epoch" : 1000,
  "GatherBatchEvidence.gcnv_max_advi_iter_subsequent_epochs" : 200,
  "GatherBatchEvidence.gcnv_max_training_epochs" : 5,
  "GatherBatchEvidence.gcnv_min_training_epochs" : 1,
  "GatherBatchEvidence.gcnv_convergence_snr_averaging_window" : 100,
  "GatherBatchEvidence.gcnv_convergence_snr_countdown_window" : 10,
  "GatherBatchEvidence.gcnv_cnv_coherence_length" : 1000,
  "GatherBatchEvidence.gcnv_copy_number_posterior_expectation_mode" : "EXACT",
  "GatherBatchEvidence.gcnv_log_emission_sampling_rounds" : 20,
  "GatherBatchEvidence.gcnv_p_alt" : 0.000001,
  "GatherBatchEvidence.gcnv_sample_psi_scale" : 0.000001,
  "GatherBatchEvidence.ref_copy_number_autosomal_contigs": {{ reference_resources.copy_number_autosomal_contigs | tojson }},
  "GatherBatchEvidence.allosomal_contigs": {{ reference_resources.allosomal_contigs | tojson }},
  "GatherBatchEvidence.gcnv_caller_internal_admixing_rate": "0.5",
  "GatherBatchEvidence.gcnv_caller_update_convergence_threshold": "0.000001",
  "GatherBatchEvidence.gcnv_convergence_snr_trigger_threshold": "0.2",
  "GatherBatchEvidence.gcnv_depth_correction_tau": "10000",
  "GatherBatchEvidence.gcnv_log_emission_sampling_median_rel_error": "0.001",
  "GatherBatchEvidence.gcnv_qs_cutoff": "30",

  "GatherBatchEvidence.batch": {{ test_batch.batch_name | tojson }},
  "GatherBatchEvidence.ped_file": {{ test_batch.ped_file | tojson }},
  "GatherBatchEvidence.gcnv_model_tars" : {{ test_batch.gcnv_model_tars | tojson }},
  "GatherBatchEvidence.PE_files": {{ test_batch.PE_files | tojson }},
  "GatherBatchEvidence.SR_files": {{ test_batch.SR_files | tojson }},
  "GatherBatchEvidence.counts": {{ test_batch.counts | tojson }},
  "GatherBatchEvidence.manta_vcfs": {{ test_batch.manta_vcfs | tojson }},
  "GatherBatchEvidence.samples": {{ test_batch.samples | tojson }},
  "GatherBatchEvidence.melt_vcfs": {{ test_batch.melt_vcfs | tojson }},
  "GatherBatchEvidence.wham_vcfs": {{ test_batch.wham_vcfs | tojson }},
  "GatherBatchEvidence.gvcfs": {{ test_batch.gvcfs | tojson }}
}
