{
  "Module02Test.test_name" : {{ test_batch.batch_name | tojson }},
  "Module02Test.base_metrics" : {{ test_batch.base_metrics_module02 | tojson }},
  "Module02Test.samples": {{ test_batch.samples | tojson }},

  "Module02Test.PlotMetrics.sv_pipeline_base_docker": {{ dockers.sv_pipeline_base_docker | tojson }},
  "Module02Test.Module02Metrics.sv_pipeline_base_docker": {{ dockers.sv_pipeline_base_docker | tojson }},
  "Module02Test.Module02Metrics.linux_docker" : {{ dockers.linux_docker | tojson }},
  "Module02Test.Module02Metrics.contig_list" : {{ reference_resources.primary_contigs_list | tojson }},

  "Module02Test.Module02.sv_pipeline_docker": {{ dockers.sv_pipeline_docker | tojson }},
  "Module02Test.Module02.sv_pipeline_rdtest_docker": {{ dockers.sv_pipeline_rdtest_docker | tojson }},
  "Module02Test.Module02.sv_base_mini_docker":{{ dockers.sv_base_mini_docker | tojson }},
  "Module02Test.Module02.sv_base_docker": {{ dockers.sv_base_docker | tojson }},
  "Module02Test.Module02.sv_pipeline_base_docker": {{ dockers.sv_pipeline_base_docker | tojson }},
  "Module02Test.Module02.linux_docker" : {{ dockers.linux_docker | tojson }},

  "Module02Test.Module02.BAF_split_size": "10000",
  "Module02Test.Module02.RD_split_size": "10000",
  "Module02Test.Module02.PE_split_size": "10000",
  "Module02Test.Module02.SR_split_size": "1000",
  "Module02Test.Module02.common_cnv_size_cutoff": "5000",
  "Module02Test.Module02.allosome_contigs": {{ reference_resources.allosome_file | tojson }},
  "Module02Test.Module02.autosome_contigs": {{ reference_resources.autosome_file | tojson }},
  "Module02Test.Module02.rmsk": {{ reference_resources.rmsk | tojson }},
  "Module02Test.Module02.segdups": {{ reference_resources.segdups | tojson }},
  "Module02Test.Module02.ref_dict": {{ reference_resources.reference_dict | tojson }},

  "Module02Test.Module02.batch": {{ test_batch.batch_name | tojson }},
  "Module02Test.Module02.ped_file": {{ test_batch.ped_file | tojson }},
  "Module02Test.Module02.discfile": {{ test_batch.merged_disc_file | tojson }},
  "Module02Test.Module02.baf_metrics": {{ test_batch.merged_baf_file | tojson }},
  "Module02Test.Module02.coveragefile": {{ test_batch.merged_coverage_file | tojson }},
  "Module02Test.Module02.splitfile": {{ test_batch.merged_split_file | tojson }},
  "Module02Test.Module02.medianfile": {{ test_batch.medianfile | tojson }},
  "Module02Test.Module02.depth_vcf" : {{ test_batch.merged_depth_vcf | tojson }},
  "Module02Test.Module02.manta_vcf" : {{ test_batch.merged_manta_vcf | tojson }},
  "Module02Test.Module02.wham_vcf" : {{ test_batch.merged_wham_vcf | tojson }},
  "Module02Test.Module02.melt_vcf" : {{ test_batch.merged_melt_vcf | tojson }}
}
