{
    "VaPoR.sv_base_mini_docker" : {{ dockers.sv_base_mini_docker | tojson }},
    "VaPoR.sv_pipeline_docker" : {{ dockers.sv_pipeline_docker | tojson }},
    "VaPoR.vapor_docker": {{ dockers.vapor_docker | tojson }},
    "VaPoR.primary_contigs_list": {{ reference_resources.primary_contigs_list | tojson }},
    "VaPoR.ref_fasta" : {{ reference_resources.reference_fasta | tojson }},
    "VaPoR.ref_fai" : {{ reference_resources.reference_index | tojson }},
    "VaPoR.ref_dict": {{ reference_resources.reference_dict | tojson }},

    "VaPoR.prefix": "HG00512_CCS",
    "VaPoR.bam_or_cram_file": "gs://fc-2da4d25d-daa3-4968-ad1e-c9b9de6422df/results/PBCCSWholeGenome/HG00512_CCS/alignments/HG00512_CCS.corrected.bam",
    "VaPoR.bam_or_cram_index": "gs://fc-2da4d25d-daa3-4968-ad1e-c9b9de6422df/results/PBCCSWholeGenome/HG00512_CCS/alignments/HG00512_CCS.corrected.bam.bai",
    "VaPoR.bed_file": "gs://talkowski-sv-gnomad-output/1KGP/vapor/HG00512.vapor.bed.gz"
}
