{
    "VaPoRBatch.sv_base_mini_docker" : {{ dockers.sv_base_mini_docker | tojson }},
    "VaPoRBatch.sv_pipeline_docker" : {{ dockers.sv_pipeline_docker | tojson }},
    "VaPoRBatch.vapor_docker": {{ dockers.vapor_docker | tojson }},
    "VaPoRBatch.contigs": {{ reference_resources.primary_contigs_list | tojson }},
    "VaPoRBatch.ref_fasta" : {{ reference_resources.reference_fasta | tojson }},
    "VaPoRBatch.ref_fai" : {{ reference_resources.reference_index | tojson }},
    "VaPoRBatch.ref_dict": {{ reference_resources.reference_dict | tojson }},

    "VaPoRBatch.samples": {{ test_batch.pacbio_samples | tojson }},
    "VaPoRBatch.bam_or_cram_files": {{ test_batch.pacbio_crams | tojson }},
    "VaPoRBatch.bam_or_cram_indexes": {{ test_batch.pacbio_cram_indexes | tojson }},
    "VaPoRBatch.bed_file": {{ test_batch.clean_bed | tojson }}
}
