{
  "Module00b.run_vcf_qc" : "true",
  "Module00b.sv_base_mini_docker":{{ dockers.sv_base_mini_docker | tojson }},
  "Module00b.sv_pipeline_docker": {{ dockers.sv_pipeline_docker | tojson }},
  "Module00b.sv_pipeline_qc_docker": {{ dockers.sv_pipeline_qc_docker | tojson }},
  "Module00b.sv_base_docker": {{ dockers.sv_base_docker | tojson }},
  "Module00b.wgd_scoring_mask": {{ reference_resources.wgd_scoring_mask | tojson }},
  "Module00b.genome_file": {{ reference_resources.genome_file | tojson }},

  "Module00b.batch": {{ test_batch.batch_name | tojson }},
  "Module00b.counts": {{ test_batch.counts | tojson }},
  "Module00b.manta_vcfs": {{ test_batch.manta_vcfs | tojson }},
  "Module00b.melt_vcfs": {{ test_batch.melt_vcfs | tojson }},
  "Module00b.wham_vcfs": {{ test_batch.wham_vcfs | tojson }},
  "Module00b.samples": {{ test_batch.samples | tojson }}
}
