{
  "FilterOutlierSamples.sv_pipeline_docker": "${workspace.sv_pipeline_docker}",
  "FilterOutlierSamples.sv_base_mini_docker": "${workspace.sv_base_mini_docker}",
  "FilterOutlierSamples.linux_docker" : "${workspace.linux_docker}",

  "FilterOutlierSamples.N_IQR_cutoff": "6",

  "FilterOutlierSamples.name": "${this.sample_set_set_id}",
  "FilterOutlierSamples.vcf" : "${this.output_vcf}"
}
