{
  "MakeCohortVcf.bin_exclude": "${workspace.bin_exclude}",
  "MakeCohortVcf.contig_list": "${workspace.primary_contigs_fai}",
  "MakeCohortVcf.allosome_fai": "${workspace.allosome_file}",
  "MakeCohortVcf.cytobands": "${workspace.cytobands}",
  "MakeCohortVcf.mei_bed": "${workspace.mei_bed}",
  "MakeCohortVcf.pe_exclude_list": "${workspace.pesr_exclude_list}",
  "MakeCohortVcf.depth_exclude_list": "${workspace.depth_exclude_list}",
  "MakeCohortVcf.empty_file" : "${workspace.empty_file}",
  "MakeCohortVcf.ref_dict": "${workspace.reference_dict}",

  "MakeCohortVcf.thousand_genomes_tarballs": {{ reference_resources.thousand_genomes_tarballs | tojson }},

  "MakeCohortVcf.min_sr_background_fail_batches": 0.5,
  "MakeCohortVcf.max_shards_per_chrom_clean_vcf_step1": 200,
  "MakeCohortVcf.min_records_per_shard_clean_vcf_step1": 5000,
  "MakeCohortVcf.clean_vcf5_records_per_shard": 5000,
  "MakeCohortVcf.samples_per_clean_vcf_step2_shard": 100,
  "MakeCohortVcf.random_seed": 0,
  "MakeCohortVcf.max_shard_size_resolve": 500,

  "MakeCohortVcf.linux_docker": "${workspace.linux_docker}",
  "MakeCohortVcf.sv_pipeline_docker": "${workspace.sv_pipeline_docker}",
  "MakeCohortVcf.sv_base_mini_docker": "${workspace.sv_base_mini_docker}",
  "MakeCohortVcf.sv_pipeline_rdtest_docker": "${workspace.sv_pipeline_rdtest_docker}",
  "MakeCohortVcf.sv_pipeline_qc_docker": "${workspace.sv_pipeline_qc_docker}",

  "MakeCohortVcf.primary_contigs_list": "${workspace.primary_contigs_list}",
  "MakeCohortVcf.sv_pipeline_base_docker": "${workspace.sv_pipeline_base_docker}",

  "MakeCohortVcf.cohort_name": "${this.sample_set_set_id}",
  "MakeCohortVcf.batches": "${this.sample_sets.sample_set_id}",
  "MakeCohortVcf.ped_file": "${workspace.cohort_ped_file}",
  "MakeCohortVcf.disc_files": "${this.sample_sets.merged_PE}",
  "MakeCohortVcf.bincov_files": "${this.sample_sets.merged_bincov}",
  "MakeCohortVcf.median_coverage_files": "${this.sample_sets.median_cov}",
  "MakeCohortVcf.rf_cutoff_files": "${this.sample_sets.cutoffs}",
  "MakeCohortVcf.pesr_vcfs": "${this.sample_sets.genotyped_pesr_vcf}",
  "MakeCohortVcf.depth_vcfs": "${this.regenotyped_depth_vcfs}",
  "MakeCohortVcf.depth_gt_rd_sep_files": "${this.sample_sets.trained_genotype_depth_depth_sepcutoff}",
  "MakeCohortVcf.raw_sr_bothside_pass_files": "${this.sample_sets.sr_bothside_pass}",
  "MakeCohortVcf.raw_sr_background_fail_files": "${this.sample_sets.sr_background_fail}"
}
