{
  "MergeBatchSites.sv_pipeline_docker": "${workspace.sv_pipeline_docker}",
  "MergeBatchSites.cohort": "${this.sample_set_set_id}",
  "MergeBatchSites.pesr_vcfs": "${this.sample_sets.outlier_filtered_pesr_vcf}",
  "MergeBatchSites.depth_vcfs": "${this.sample_sets.outlier_filtered_depth_vcf}"
}
