{
  "Module03.sv_pipeline_docker": "${workspace.sv_pipeline_docker}",
  "Module03.sv_base_mini_docker": "${workspace.sv_base_mini_docker}",
  "Module03.linux_docker" : "${workspace.linux_docker}",

  "Module03.outlier_cutoff_nIQR": "10000",

  "Module03.primary_contigs_list": "${workspace.primary_contigs_list}",
  "Module03.sv_pipeline_base_docker": "${workspace.sv_pipeline_base_docker}",
  "Module03.ped_file": "${workspace.cohort_ped_file}",

  "Module03.batch": "${this.sample_set_id}",
  "Module03.depth_vcf" : "${this.clustered_depth_vcf}",
  "Module03.manta_vcf" : "${this.clustered_manta_vcf}",
  "Module03.wham_vcf" : "${this.clustered_wham_vcf}",
  "Module03.melt_vcf" : "${this.clustered_melt_vcf}",
  "Module03.evidence_metrics": "${this.metrics}",
  "Module03.evidence_metrics_common": "${this.metrics_common}"
}
