{
  "Module00c.BAF_stats": "${this.BAF_stats}",
  "Module00c.Matrix_QC_plot": "${this.Matrix_QC_plot}",
  "Module00c.PE_stats": "${this.PE_stats}",
  "Module00c.RD_stats": "${this.RD_stats}",
  "Module00c.SR_stats": "${this.SR_stats}",
  "Module00c.cnmops_del": "${this.cnmops_del}",
  "Module00c.cnmops_del_index": "${this.cnmops_del_index}",
  "Module00c.cnmops_dup": "${this.cnmops_dup}",
  "Module00c.cnmops_dup_index": "${this.cnmops_dup_index}",
  "Module00c.cnmops_large_del": "${this.cnmops_large_del}",
  "Module00c.cnmops_large_del_index": "${this.cnmops_large_del_index}",
  "Module00c.cnmops_large_dup": "${this.cnmops_large_dup}",
  "Module00c.cnmops_large_dup_index": "${this.cnmops_large_dup_index}",
  "Module00c.combined_ped_file": "${this.combined_ped_file}",
  "Module00c.manta_tloc": "${this.manta_tloc}",
  "Module00c.median_cov": "${this.median_cov}",
  "Module00c.merged_BAF": "${this.merged_BAF}",
  "Module00c.merged_BAF_index": "${this.merged_BAF_index}",
  "Module00c.merged_PE": "${this.merged_PE}",
  "Module00c.merged_PE_index": "${this.merged_PE_index}",
  "Module00c.merged_SR": "${this.merged_SR}",
  "Module00c.merged_SR_index": "${this.merged_SR_index}",
  "Module00c.merged_bincov": "${this.merged_bincov}",
  "Module00c.merged_bincov_index": "${this.merged_bincov_index}",
  "Module00c.merged_dels": "${this.merged_dels}",
  "Module00c.merged_dups": "${this.merged_dups}",
  "Module00c.ploidy_matrix": "${this.ploidy_matrix_00c}",
  "Module00c.ploidy_plots": "${this.ploidy_plots_00c}",
  "Module00c.std_delly_vcf": "${this.std_delly_vcf}",
  "Module00c.std_manta_vcf": "${this.std_manta_vcf}",
  "Module00c.std_melt_vcf": "${this.std_melt_vcf}",
  "Module00c.std_wham_vcf": "${this.std_wham_vcf}"
}
