{
  "Module02.sv_pipeline_docker": "${workspace.sv_pipeline_docker}",
  "Module02.sv_pipeline_rdtest_docker": "${workspace.sv_pipeline_rdtest_docker}",
  "Module02.sv_base_mini_docker": "${workspace.sv_base_mini_docker}",
  "Module02.sv_base_docker": "${workspace.sv_base_docker}",
  "Module02.sv_pipeline_base_docker": "${workspace.sv_pipeline_base_docker}",
  "Module02.linux_docker" : "${workspace.linux_docker}",

  "Module02.BAF_split_size": "10000",
  "Module02.RD_split_size": "10000",
  "Module02.PE_split_size": "10000",
  "Module02.SR_split_size": "1000",
  "Module02.common_cnv_size_cutoff": "5000",
  "Module02.allosome_contigs": "${workspace.allosome_file}",
  "Module02.autosome_contigs": "${workspace.autosome_file}",
  "Module02.rmsk": "${workspace.rmsk}",
  "Module02.segdups": "${workspace.segdups}",
  "Module02.ref_dict": "${workspace.reference_dict}",

  "Module02.batch": "${this.sample_set_id}",
  "Module02.ped_file": "${workspace.cohort_ped_file}",
  
  "Module02.discfile": "${this.merged_PE}",
  "Module02.baf_metrics": "${this.merged_BAF}",
  "Module02.coveragefile": "${this.merged_bincov}",
  "Module02.splitfile": "${this.merged_SR}",
  "Module02.medianfile": "${this.median_cov}",
  "Module02.depth_vcf" : "${this.clustered_depth_vcf}",
  "Module02.manta_vcf" : "${this.clustered_manta_vcf}",
  "Module02.wham_vcf" : "${this.clustered_wham_vcf}",
  "Module02.melt_vcf" : "${this.clustered_melt_vcf}"
}
