{
  "TrainGCNV.annotated_intervals": "${this.annotated_intervals}",
  "TrainGCNV.cohort_contig_ploidy_calls_tar": "${this.contig_ploidy_calls_tar}",
  "TrainGCNV.cohort_contig_ploidy_model_tar": "${this.contig_ploidy_model_tar}",
  "TrainGCNV.cohort_denoised_copy_ratios": "${this.denoised_copy_ratios}",
  "TrainGCNV.cohort_gcnv_calls_tars": "${this.gcnv_calls_tars}",
  "TrainGCNV.cohort_gcnv_model_tars": "${this.gcnv_model_tars}",
  "TrainGCNV.cohort_gcnv_tracking_tars": "${this.gcnv_tracking_tars}",
  "TrainGCNV.cohort_genotyped_intervals_vcfs": "${this.genotyped_intervals_vcfs}",
  "TrainGCNV.cohort_genotyped_segments_vcfs": "${this.genotyped_segments_vcfs}",
  "TrainGCNV.filtered_intervals_cnv": "${this.filtered_intervals_cnv}",
  "TrainGCNV.filtered_intervals_ploidy": "${this.filtered_intervals_ploidy}"
}
