argparse
numpy
Pillow
Scrapy==0.24.4
Twisted==14.0.2
boto==2.36.0
cffi
characteristic==14.2.0
cryptography
cssselect==0.9.1
lxml
pyOpenSSL==0.14
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycparser==2.10
pymongo==2.8
queuelib==1.2.2
scrapy-mongodb==0.8.0
scrapyd==1.0.1
service-identity==14.0.0
six==1.8.0
w3lib==1.10.0
zope.interface==4.1.1
