{
  "GATKSVPipelinePhase1.sv_base_mini_docker":{{ dockers.sv_base_mini_docker | tojson }},
  "GATKSVPipelinePhase1.sv_base_docker": {{ dockers.sv_base_docker | tojson }},
  "GATKSVPipelinePhase1.sv_pipeline_base_docker": {{ dockers.sv_pipeline_base_docker | tojson }},
  "GATKSVPipelinePhase1.sv_pipeline_docker": {{ dockers.sv_pipeline_docker | tojson }},
  "GATKSVPipelinePhase1.sv_pipeline_rdtest_docker": {{ dockers.sv_pipeline_rdtest_docker | tojson }},
  "GATKSVPipelinePhase1.sv_pipeline_qc_docker": {{ dockers.sv_pipeline_qc_docker | tojson }},
  "GATKSVPipelinePhase1.linux_docker" : {{ dockers.linux_docker | tojson }},
  "GATKSVPipelinePhase1.cnmops_docker": {{ dockers.cnmops_docker | tojson }},
  "GATKSVPipelinePhase1.gatk_docker": {{ dockers.gatk_docker | tojson }},
  "GATKSVPipelinePhase1.condense_counts_docker" : {{ dockers.condense_counts_docker | tojson }},
  
  "GATKSVPipelinePhase1.cnmops_allo_file": {{ reference_resources.allosome_file | tojson }},
  "GATKSVPipelinePhase1.cnmops_exclude_list": {{ reference_resources.cnmops_exclude_list | tojson }},
  "GATKSVPipelinePhase1.cnmops_chrom_file": {{ reference_resources.autosome_file | tojson }},
  "GATKSVPipelinePhase1.contigs": {{ reference_resources.primary_contigs_fai | tojson }},
  "GATKSVPipelinePhase1.genome_file": {{ reference_resources.genome_file | tojson }},
  "GATKSVPipelinePhase1.inclusion_bed": {{ reference_resources.inclusion_bed | tojson }},
  "GATKSVPipelinePhase1.cytoband":{{ reference_resources.cytobands | tojson }},
  "GATKSVPipelinePhase1.mei_bed":{{ reference_resources.mei_bed | tojson }},

  "GATKSVPipelinePhase1.matrix_qc_distance": "1000000",
  "GATKSVPipelinePhase1.min_svsize": "50",
  "GATKSVPipelinePhase1.run_matrix_qc": "true",

  "GATKSVPipelinePhase1.depth_flags": "--merge-coordinates",
  "GATKSVPipelinePhase1.depth_frac": "0.8",
  "GATKSVPipelinePhase1.pesr_svsize": "0",
  "GATKSVPipelinePhase1.pesr_frac": "0.1",
  "GATKSVPipelinePhase1.pesr_flags": "--preserve-ids",
  "GATKSVPipelinePhase1.pesr_exclude_list": {{ reference_resources.pesr_exclude_list | tojson }},
  "GATKSVPipelinePhase1.pesr_distance": "300",

  "GATKSVPipelinePhase1.BAF_split_size": "10000",
  "GATKSVPipelinePhase1.RD_split_size": "10000",
  "GATKSVPipelinePhase1.PE_split_size": "10000",
  "GATKSVPipelinePhase1.SR_split_size": "1000",
  "GATKSVPipelinePhase1.common_cnv_size_cutoff": "5000",
  "GATKSVPipelinePhase1.allosome_contigs": {{ reference_resources.allosome_file | tojson }},
  "GATKSVPipelinePhase1.autosome_contigs": {{ reference_resources.autosome_file | tojson }},
  "GATKSVPipelinePhase1.rmsk": {{ reference_resources.rmsk | tojson }},
  "GATKSVPipelinePhase1.segdups": {{ reference_resources.segdups | tojson }},

  "GATKSVPipelinePhase1.outlier_cutoff_table" : {{ test_batch.outlier_cutoff_table | tojson }},
  "GATKSVPipelinePhase1.outlier_cutoff_nIQR": "6",

  "GATKSVPipelinePhase1.ploidy_sample_psi_scale": "0.001",
  "GATKSVPipelinePhase1.contig_ploidy_model_tar" : {{ test_batch.contig_ploidy_model_tar | tojson }},
  "GATKSVPipelinePhase1.gcnv_learning_rate" : 0.03,
  "GATKSVPipelinePhase1.gcnv_num_thermal_advi_iters" : 250,
  "GATKSVPipelinePhase1.gcnv_max_advi_iter_first_epoch" : 1000,
  "GATKSVPipelinePhase1.gcnv_max_advi_iter_subsequent_epochs" : 200,
  "GATKSVPipelinePhase1.gcnv_max_training_epochs" : 5,
  "GATKSVPipelinePhase1.gcnv_min_training_epochs" : 1,
  "GATKSVPipelinePhase1.gcnv_convergence_snr_averaging_window" : 100,
  "GATKSVPipelinePhase1.gcnv_convergence_snr_countdown_window" : 10,
  "GATKSVPipelinePhase1.gcnv_cnv_coherence_length" : 1000,
  "GATKSVPipelinePhase1.gcnv_copy_number_posterior_expectation_mode" : "EXACT",
  "GATKSVPipelinePhase1.gcnv_log_emission_sampling_rounds" : 20,
  "GATKSVPipelinePhase1.gcnv_p_alt" : 0.000001,
  "GATKSVPipelinePhase1.gcnv_sample_psi_scale" : 0.000001,
  "GATKSVPipelinePhase1.ref_copy_number_autosomal_contigs": {{ reference_resources.copy_number_autosomal_contigs | tojson }},
  "GATKSVPipelinePhase1.allosomal_contigs": {{ reference_resources.allosomal_contigs | tojson }},
  "GATKSVPipelinePhase1.gcnv_caller_internal_admixing_rate": "0.5",
  "GATKSVPipelinePhase1.gcnv_caller_update_convergence_threshold": "0.000001",
  "GATKSVPipelinePhase1.gcnv_convergence_snr_trigger_threshold": "0.2",
  "GATKSVPipelinePhase1.gcnv_depth_correction_tau": "10000",
  "GATKSVPipelinePhase1.gcnv_log_emission_sampling_median_rel_error": "0.001",
  "GATKSVPipelinePhase1.gcnv_qs_cutoff": "30",


  "GATKSVPipelinePhase1.unpadded_intervals_file" : {{ reference_resources.unpadded_intervals_file | tojson }},
  "GATKSVPipelinePhase1.dbsnp_vcf" : {{ reference_resources.dbsnp_vcf | tojson }},
  "GATKSVPipelinePhase1.reference_fasta": {{ reference_resources.reference_fasta | tojson }},
  "GATKSVPipelinePhase1.reference_index": {{ reference_resources.reference_index | tojson }},
  "GATKSVPipelinePhase1.reference_dict": {{ reference_resources.reference_dict | tojson }},

  "GATKSVPipelinePhase1.batch": "ref_panel_v1",
  "GATKSVPipelinePhase1.ped_file": {{ test_batch.ped_file | tojson }},
  "GATKSVPipelinePhase1.samples": {{ test_batch.samples | tojson }},
  "GATKSVPipelinePhase1.gcnv_model_tars" : {{ test_batch.gcnv_model_tars | tojson }},
  "GATKSVPipelinePhase1.gvcfs": {{ test_batch.gvcfs | tojson }},
  "GATKSVPipelinePhase1.PE_files": {{ test_batch.PE_files | tojson }},
  "GATKSVPipelinePhase1.SR_files": {{ test_batch.SR_files | tojson }},
  "GATKSVPipelinePhase1.counts": {{ test_batch.counts | tojson }},
  "GATKSVPipelinePhase1.manta_vcfs": {{ test_batch.manta_vcfs | tojson }},
  "GATKSVPipelinePhase1.melt_vcfs": {{ test_batch.melt_vcfs | tojson }},
  "GATKSVPipelinePhase1.wham_vcfs": {{ test_batch.wham_vcfs | tojson }}
}
