{
  "Module03Test.test_name" : {{ test_batch.batch_name | tojson }},
  "Module03Test.base_metrics" : {{ test_batch.base_metrics_module03 | tojson }},
  "Module03Test.samples": {{ test_batch.samples | tojson }},
  "Module03Test.PlotMetrics.sv_pipeline_base_docker": {{ dockers.sv_pipeline_base_docker | tojson }},
  "Module03Test.Module03Metrics.sv_pipeline_base_docker": {{ dockers.sv_pipeline_base_docker | tojson }},
  "Module03Test.Module03Metrics.sv_base_mini_docker": {{ dockers.sv_base_mini_docker | tojson }},
  "Module03Test.Module03Metrics.linux_docker" : {{ dockers.linux_docker | tojson }},
  "Module03Test.Module03Metrics.contig_list" : {{ reference_resources.primary_contigs_list | tojson }},

  "Module03Test.Module03Metrics.baseline_filtered_pesr_vcf" : {{ test_batch.baseline_filtered_pesr_vcf | tojson }},
  "Module03Test.Module03Metrics.baseline_filtered_depth_vcf" : {{ test_batch.baseline_filtered_depth_vcf | tojson }},
  "Module03Test.Module03Metrics.ped_file": {{ test_batch.ped_file | tojson }},

  "Module03Test.Module03.sv_pipeline_docker": {{ dockers.sv_pipeline_docker | tojson }},
  "Module03Test.Module03.sv_base_mini_docker":{{ dockers.sv_base_mini_docker | tojson }},
  "Module03Test.Module03.linux_docker" : {{ dockers.linux_docker | tojson }},

  "Module03Test.Module03.outlier_cutoff_nIQR": "10000",
  "Module03Test.Module03.outlier_cutoff_table" : {{ test_batch.outlier_cutoff_table | tojson }},

  "Module03Test.Module03.batch": {{ test_batch.batch_name | tojson }},
  "Module03Test.Module03.depth_vcf" : {{ test_batch.merged_depth_vcf | tojson }},
  "Module03Test.Module03.manta_vcf" : {{ test_batch.merged_manta_vcf | tojson }},
  "Module03Test.Module03.wham_vcf" : {{ test_batch.merged_wham_vcf | tojson }},
  "Module03Test.Module03.melt_vcf" : {{ test_batch.merged_melt_vcf | tojson }},
  "Module03Test.Module03.evidence_metrics": {{ test_batch.evidence_metrics | tojson }},
  "Module03Test.Module03.evidence_metrics_common": {{ test_batch.evidence_metrics_common | tojson }}
}
