{
  "Module01.sv_base_mini_docker":{{ dockers.sv_base_mini_docker | tojson }},
  "Module01.gatk_docker": {{ dockers.gatk_docker | tojson }},

  "Module01.contig_list": {{ reference_resources.primary_contigs_list | tojson }},
  "Module01.ref_dict": {{ reference_resources.reference_dict | tojson }},

  "Module01.pesr_include_intervals": {{ reference_resources.pesr_include_intervals | tojson }},
  "Module01.pesr_min_inclusion_interval_overlap": "0.01",
  "Module01.pesr_min_size": "50",
  "Module01.depth_include_intervals": {{ reference_resources.depth_include_intervals | tojson }},
  "Module01.depth_min_inclusion_interval_overlap": "0.5",
  "Module01.depth_min_size": "5000",

  "Module01.batch": {{ test_batch.batch_name | tojson }},
  "Module01.vcf": {{ test_batch.merged_standardized_vcf| tojson }}
}
