{
  "Module04b.sv_pipeline_rdtest_docker": {{ dockers.sv_pipeline_rdtest_docker | tojson }},
  "Module04b.sv_pipeline_base_docker": {{ dockers.sv_pipeline_base_docker | tojson }},
  "Module04b.sv_base_mini_docker":{{ dockers.sv_base_mini_docker | tojson }},
  "Module04b.sv_pipeline_docker": {{ dockers.sv_pipeline_docker | tojson }},
  "Module04b.n_RdTest_bins": "100000",
  "Module04b.n_per_split": "5000",

  "Module04b.cohort": {{ test_batch.batch_name | tojson }},
  "Module04b.contig_list": {{ reference_resources.primary_contigs_list | tojson }},
  "Module04b.regeno_coverage_medians": [
    "gs://broad-dsde-methods-eph/Module04StressTest/Module04/6d90e729-0cd1-4752-94b3-e0ad128c6dc4/call-GenotypeDepthPart2/GenotypeDepthPart2/2b962a21-897e-49ac-8055-118ba459f7e4/call-RDTestGenotypeOver5kb/shard-0/cacheCopy/gt5kb.aaaaaa.bed.median_geno",
    "gs://broad-dsde-methods-eph/Module04StressTest/Module04/6d90e729-0cd1-4752-94b3-e0ad128c6dc4/call-GenotypeDepthPart2/GenotypeDepthPart2/2b962a21-897e-49ac-8055-118ba459f7e4/call-RDTestGenotypeOver5kb/shard-1/cacheCopy/gt5kb.aaaaab.bed.median_geno"
  ],

  "Module04b.RD_depth_sepcutoffs": ["gs://talkowskicromwellresults/M04/Module04/89617399-fcaa-4aef-9759-7f3d04f328d3/call-GenotypeDepthPart1/GenotypeDepthPart1/dd257617-3e1f-47b5-b17b-2144c1931986/call-TrainRDGenotyping/TrainRDGenotyping/8b8ea223-1bc1-4e7b-a07c-ca2b47e8e699/call-UpdateCutoff/depth_sepcutoff.txt"],

  "Module04b.cohort_depth_vcf": {{ test_batch.cohort_depth_vcf | tojson }},

  "Module04b.famfiles": [{{ test_batch.filtered_ped_file | tojson }}],
  "Module04b.batch_depth_vcfs": [{{ test_batch.filtered_depth_vcf | tojson }}],
  "Module04b.samples_lists": [{{ test_batch.cohort_samplelist | tojson }}],

  "Module04b.depth_vcfs": ["gs://talkowskicromwellresults/M04/Module04/89617399-fcaa-4aef-9759-7f3d04f328d3/call-GenotypeDepthPart2/GenotypeDepthPart2/afcbb44e-d36a-44a1-b007-69b16d4f754a/call-ConcatGenotypedVcfs/test_large.depth.vcf.gz"],
  "Module04b.coveragefiles": [{{ test_batch.merged_coverage_file | tojson }}],
  "Module04b.coveragefile_idxs": [{{ test_batch.merged_coverage_file_idx| tojson }}],
  "Module04b.medianfiles": [{{ test_batch.medianfile | tojson }}],
  "Module04b.batches": ["test"]
}
