{
  "Module04b.sv_pipeline_rdtest_docker": {{ dockers.sv_pipeline_rdtest_docker | tojson }},
  "Module04b.sv_pipeline_base_docker": {{ dockers.sv_pipeline_base_docker | tojson }},
  "Module04b.sv_base_mini_docker":{{ dockers.sv_base_mini_docker | tojson }},
  "Module04b.sv_pipeline_docker": {{ dockers.sv_pipeline_docker | tojson }},
  "Module04b.n_RdTest_bins": "100000",
  "Module04b.n_per_split": "5000",

  "Module04b.cohort": {{ test_batch.batch_name | tojson }},
  "Module04b.contig_list": {{ reference_resources.primary_contigs_list | tojson }},
  "Module04b.regeno_coverage_medians": {{ test_batch.regeno_coverage_medians | tojson }},

  "Module04b.RD_depth_sepcutoffs": [{{ test_batch.depth_gt_rd_sep_file | tojson }}],

  "Module04b.cohort_depth_vcf": {{ test_batch.cohort_depth_vcf | tojson }},

  "Module04b.famfiles": [{{ test_batch.filtered_ped_file | tojson }}],
  "Module04b.batch_depth_vcfs": [{{ test_batch.filtered_depth_vcf | tojson }}],
  "Module04b.samples_lists": [{{ test_batch.cohort_samplelist | tojson }}],

  "Module04b.depth_vcfs": [{{ test_batch.genotyped_depth_vcf | tojson }}],
  "Module04b.coveragefiles": [{{ test_batch.merged_coverage_file | tojson }}],
  "Module04b.coveragefile_idxs": [{{ test_batch.merged_coverage_file_idx| tojson }}],
  "Module04b.medianfiles": [{{ test_batch.medianfile | tojson }}],
  "Module04b.batches": ["test"]
}
