{
  "FilterBatchSites.sv_pipeline_docker": {{ dockers.sv_pipeline_docker | tojson }},

  "FilterBatchSites.batch": {{ test_batch.batch_name | tojson }},
  "FilterBatchSites.depth_vcf" : {{ test_batch.merged_depth_vcf | tojson }},
  "FilterBatchSites.manta_vcf" : {{ test_batch.merged_manta_vcf | tojson }},
  "FilterBatchSites.wham_vcf" : {{ test_batch.merged_wham_vcf | tojson }},
  "FilterBatchSites.melt_vcf" : {{ test_batch.merged_melt_vcf | tojson }},
  "FilterBatchSites.evidence_metrics": {{ test_batch.evidence_metrics | tojson }},
  "FilterBatchSites.evidence_metrics_common": {{ test_batch.evidence_metrics_common | tojson }}
}
