{
  "FilterBatchSamples.sv_pipeline_docker": {{ dockers.sv_pipeline_docker | tojson }},
  "FilterBatchSamples.sv_base_mini_docker":{{ dockers.sv_base_mini_docker | tojson }},
  "FilterBatchSamples.linux_docker" : {{ dockers.linux_docker | tojson }},

  "FilterBatchSamples.N_IQR_cutoff": "10000",
  "FilterBatchSamples.outlier_cutoff_table" : {{ test_batch.outlier_cutoff_table | tojson }},

  "FilterBatchSamples.batch": {{ test_batch.batch_name | tojson }},
  "FilterBatchSamples.manta_vcf": {{ test_batch.sites_filtered_manta_vcf | tojson }},
  "FilterBatchSamples.wham_vcf": {{ test_batch.sites_filtered_wham_vcf | tojson }},
  "FilterBatchSamples.melt_vcf": {{ test_batch.sites_filtered_melt_vcf | tojson }},
  "FilterBatchSamples.depth_vcf": {{ test_batch.sites_filtered_depth_vcf | tojson }},
  "FilterBatchSamples.manta_counts": {{ test_batch.sites_filtered_svcounts_manta | tojson }},
  "FilterBatchSamples.wham_counts": {{ test_batch.sites_filtered_svcounts_wham | tojson }},
  "FilterBatchSamples.melt_counts": {{ test_batch.sites_filtered_svcounts_melt | tojson }},
  "FilterBatchSamples.depth_counts": {{ test_batch.sites_filtered_svcounts_depth | tojson }}
}
