{
  "PlotSVCountsPerSample.sv_pipeline_docker": {{ dockers.sv_pipeline_docker | tojson }},
  
  "PlotSVCountsPerSample.N_IQR_cutoff": "6",

  "PlotSVCountsPerSample.prefix": {{ test_batch.batch_name | tojson }},
  "PlotSVCountsPerSample.vcfs" : [ 
    {{ test_batch.sites_filtered_manta_vcf | tojson }}, 
    {{ test_batch.sites_filtered_wham_vcf | tojson }}, 
    {{ test_batch.sites_filtered_melt_vcf | tojson }}, 
    {{ test_batch.sites_filtered_depth_vcf | tojson }}
  ]
}
