name: Build Docker Images

on:
  push:
    branches:
      - master
    paths:
      - 'src/**'
      - 'dockerfiles/**'
      - 'scripts/docker/build_docker.py'
      - 'scripts/docker/resources.Dockerfile'
      - '.github/workflows/sv_pipeline_docker.yml'
  pull_request:
    branches:
      - master
    paths:
      - 'src/**'
      - 'dockerfiles/**'
      - 'scripts/docker/build_docker.py'
      - 'scripts/docker/resources.Dockerfile'
      - '.github/workflows/sv_pipeline_docker.yml'

jobs:
  test_build:
    runs-on: ubuntu-20.04
    name: Build GATK-SV Pipeline Docker Images
    env:
      GITHUB_CONTEXT: ${{ toJson(github) }}
    strategy:
      matrix:
        python-version: ['3.8']
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          # By default, this checks out only the current commit;
          # however, since a diff between the current commit and
          # the base commit is required to determined which docker
          # images to rebuild, we use the following to check out
          # the complete git history.
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install termcolor

      - name: Determine Target Images
        id: target_images
        run: |
          # The commit SHA of the base branch which this PR targets;
          # ideally broadinstitute/gatk-sv:master.
          BASE_COMMIT_SHA=$(echo "$GITHUB_CONTEXT"| jq -r '.event.pull_request.base.sha')

          # The commit SHA of the commit that triggered the action.
          COMMIT_SHA=${{ github.event.pull_request.head.sha }}

          # A list of all the files changed between the current commit & base.
          CHANGED_FILES=$(git diff --name-only $BASE_COMMIT_SHA $COMMIT_SHA)

          TARGETS=()
          try_add_target() {
            if [[ ! " ${TARGETS[*]} " =~ $1 ]]; then
              TARGETS+=($1)
            fi
          }
          for i in "${CHANGED_FILES[@]}"
          do
            if [[ $i == *".github/workflows/sv_pipeline_docker.yml" ]]; then
              # A change to this file may impact how images are built,
              # hence all the images are rebuilt.
              try_add_target "all"
              break
            fi
            if [[ $i == *"src/svtk"* ||
                  $i == *"src/sv-pipeline"* ||
                  $i == *"src/svtest"* ||
                  $i == *"src/svqc"* ]]; then
              try_add_target "sv-pipeline"
              try_add_target "sv-pipeline-base"
              try_add_target "sv-pipeline-children-r"
            fi
            if [[ $i == *"src/RdTest"* ]]; then
              try_add_target "sv-pipeline-rdtest"
            fi
            if [[ $i == *"src/WGD"* ]]; then
              try_add_target "sv-pipeline-qc"
              try_add_target "cnmops"
            fi
            if [[ $i == *"scripts/docker/resources.Dockerfile"* ]]; then
              try_add_target "gatksv-pipeline-v1-resources"
            fi
            if [[ $i == *"dockerfiles/delly/Dockerfile" ]]; then
              try_add_target "delly"
            fi
            if [[ $i == *"dockerfiles/manta/Dockerfile" ]]; then
              try_add_target "manta"
            fi
            if [[ $i == *"dockerfiles/wham/Dockerfile" ]]; then
              try_add_target "wham"
            fi
            if [[ $i == *"dockerfiles/sv-base-mini/Dockerfile" ]]; then
              try_add_target "sv-base-mini"
            fi
            if [[ $i == *"dockerfiles/sv-base/Dockerfile" ]]; then
              try_add_target "sv-base"
            fi
            if [[ $i == *"dockerfiles/samtools-cloud/Dockerfile" ]]; then
              try_add_target "samtools-cloud"
            fi
          done

          # Join the determined targets in a space-delimited string.
          TARGETS=$(IFS=' '; echo "${TARGETS[*]}")
          echo "::set-output name=TARGETS::$TARGETS"
          echo "::debug::Docker images to rebuild: $TARGETS"

      - name: Run build_docker.py [Pull Request]
        if: github.event_name == 'pull_request'
        run: |
          PR_NUM=${{ github.event.number }}
          COMMIT_SHA=${{ github.event.pull_request.head.sha }}
          IMAGE_TAG=${PR_NUM}-${COMMIT_SHA::8}
          echo "::debug::Image tag: $IMAGE_TAG"
          cd ./scripts/docker/
          python build_docker.py --targets ${{ steps.target_images.outputs.TARGETS }} --image-tag $IMAGE_TAG

      - name: Run build_docker.py [Push]
        if: github.event_name == 'push'
        run: |
          # Get push/merge commit SHA and its time stamp
          # from Github's context json.
          MERGE_COMMIT_SHA=$(echo "$GITHUB_CONTEXT"| jq '.event.commits[].id' | tail -2 | head -1 |sed 's/\"//g')
          TIME_STAMP=$(echo "$GITHUB_CONTEXT"| jq '.event.commits[].timestamp' | tail -2 | head -1 |sed 's/\"//g')

          # Extract date, without dash, from time stamp; e.g.,
          # from: 2021-07-09T20:43:27-07:00
          # to:   20210709
          DATE="$(cut -d'T' -f1 <<<${TIME_STAMP//-})"

          IMAGE_TAG=$DATE-${MERGE_COMMIT_SHA::8}
          echo "::debug::Image tag: $IMAGE_TAG"

          cd ./scripts/docker/
          python build_docker.py --targets ${{ steps.target_images.outputs.TARGETS }} --image-tag $IMAGE_TAG
