name: Build Docker Images

on:
  push:
    branches:
      - master
    paths:
      - 'src/**'
      - 'dockerfiles/**'
      - 'scripts/**'
      - '.github/workflows/sv_pipeline_docker.yml'
  pull_request:
    branches:
      - master
    paths:
      - 'src/**'
      - 'dockerfiles/**'
      - 'scripts/**'
      - '.github/workflows/sv_pipeline_docker.yml'

jobs:
  test_build:
    runs-on: ubuntu-20.04
    name: Build GATK-SV Pipeline Docker Images
    env:
      GITHUB_CONTEXT: ${{ toJson(github) }}
    strategy:
      matrix:
        python-version: ['3.8']
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install termcolor

      - name: Run build_docker.py [Pull Request]
        if: github.event_name == 'pull_request'
        run: |
          PR_NUM=${{ github.event.number }}
          COMMIT_SHA=${{ github.event.pull_request.head.sha }}
          IMAGE_TAG=${PR_NUM}-${COMMIT_SHA::8}
          echo "::debug::Image tag: $IMAGE_TAG"
          cd ./scripts/docker/
          python build_docker.py --targets all --image-tag $IMAGE_TAG

      - name: Run build_docker.py [Push]
        if: github.event_name == 'push'
        run: |
          # Get push/merge commit SHA and its time stamp
          # from Github's context json.
          MERGE_COMMIT_SHA=$(echo "$GITHUB_CONTEXT"| jq '.event.commits[].id' | tail -2 | head -1 |sed 's/\"//g')
          TIME_STAMP=$(echo "$GITHUB_CONTEXT"| jq '.event.commits[].timestamp' | tail -2 | head -1 |sed 's/\"//g')

          # Extract date, without dash, from time stamp; e.g.,
          # from: 2021-07-09T20:43:27-07:00
          # to:   20210709
          DATE="$(cut -d'T' -f1 <<<${TIME_STAMP//-})"

          IMAGE_TAG=$DATE-${MERGE_COMMIT_SHA::8}
          echo "::debug::Image tag: $IMAGE_TAG"

          cd ./scripts/docker/
          python build_docker.py --targets all --image-tag $IMAGE_TAG
