name: Docker Images

on:
  push:
    branches:
      - master
      - dummy_master_2
    paths:
      - 'src/**'
      - 'dockerfiles/**'
      - 'scripts/docker/build_docker.py'
      - '.github/workflows/sv_pipeline_docker.yml'
  pull_request:
    branches:
      - master
      - dummy_master_2
    paths:
      - 'src/**'
      - 'dockerfiles/**'
      - 'scripts/docker/build_docker.py'
      - '.github/workflows/sv_pipeline_docker.yml'

jobs:
  build_args_job:
    runs-on: ubuntu-20.04
    name: Determine Build Args
    env:
      GITHUB_CONTEXT: ${{ toJson(github) }}
    outputs:
      base_sha: ${{ steps.commit_sha.outputs.BASE_SHA }}
      head_sha: ${{ steps.commit_sha.outputs.HEAD_SHA }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          # By default, this checks out only the current commit;
          # however, since a diff between the current commit and
          # the base commit is required to determined which docker
          # images to rebuild, we use the following to check out
          # the complete git history.
          fetch-depth: 0

      - name: Determine Commit SHAs
        id: commit_sha
        # This action determines the SHA of two commits:
        # - BASE (BASE_SHA): The commit SHA of the base branch (e.g.,
        #   broadinstitute/gatk-sv:master) which the feature branch targets.
        # - HEAD (HEAD_SHA): The commit SHA of the latest commit on the
        #   feature branch.
        #
        # In the following example, BASE_SHA=B and HEAD_SHA=Z
        #
        #     	    X---Y---Z     feature
        #          /         \
        #     A---B---C---D---E   master
        #
        # 'E' is the merge commit (e.g., 'Merge pull request #0').
        #
        # This action can be invoked as a result of (a) pushing commits X,
        # Y, or Z, or (b) pushing merge commit E (i.e., merging the PR).
        # Depending on (a) and (b) the commit SHAs are determined differently.
        # In case of (a), the commit SHAs are extracted from the
        # 'event.pull_request' key in the github's context JSON. In case of
        # (b), the commit SHAs are extracted from the list of commits recorded
        # under the 'event' key.
        #
        # Note: Github's context JSON is printed in the action's debug page.
        #
        run: |
          echo "::debug::EVENT_NAME: ${{ github.event_name }}"
          if [[ ${{ github.event_name }} == "pull_request" ]]; then
            BASE_SHA=${{ github.event.pull_request.base.sha }}
            HEAD_SHA=${{ github.event.pull_request.head.sha }}
          else
            BASE_SHA=${{ github.event.before }}
            HEAD_SHA=$(echo "$GITHUB_CONTEXT" | jq '.event.commits[].id' | tail -2 | head -1 | sed 's/\"//g')
          fi

          echo "::debug::BASE_SHA: $BASE_SHA"
          echo "::debug::HEAD_SHA: $HEAD_SHA"

          # Avail the determined commit SHAs to other steps.
          echo "::set-output name=BASE_SHA::$BASE_SHA"
          echo "::set-output name=HEAD_SHA::$HEAD_SHA"

  build_job:
    runs-on: ubuntu-20.04
    name: Test Images Build
    if: github.event_name == 'pull_request'
    needs: build_args_job
    strategy:
      matrix:
        python-version: ['3.8']
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          # See the comment on build_args_job.
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install termcolor

      - name: Run build_docker.py
        run: |
          cd ./scripts/docker/
          python build_docker.py --base-git-commit ${{ needs.build_args_job.outputs.base_sha }} --current-git-commit ${{ needs.build_args_job.outputs.head_sha }}

  publish_job:
    # This job first configures gcloud with the authentication of a
    # service account. It then uses gcloud to configure the docker
    # credentials. Finally, it rebuilds the docker images (targets are
    # determined by the `build_args_job`) and pushes them to GCR.
    name: Publish
    runs-on: ubuntu-20.04
    environment: GCP_PROJECT_ID
    if: github.event_name == 'push'
    needs: build_args_job
    strategy:
      matrix:
        python-version: ['3.8']
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          # See the comment on build_args_job.
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install termcolor

      - name: Setup gcloud CLI
        uses: google-github-actions/setup-gcloud@v0.3.0
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_GCR_SA_KEY }}
          # xref: https://github.com/google-github-actions/setup-gcloud#inputs
          # If you need to set `export_default_credentials: true`
          # make sure to pass the `--disable-git-protect` flag to
          # build_docker.py; because the setting export_default_credentials
          # to true will cause creating an untracked file in the root of
          # GATK-SV cloned directory which will cause build_docker.py to
          # raise an exception about the uncommitted file.

      - name: Configure Docker using gcloud
        # This step uses gcloud to configure docker credentials to access GCR
        # using a service account.
        # See: https://cloud.google.com/container-registry/docs/advanced-authentication
        #
        # The build_docker.py uses the `--squash` flag when building the
        # images to be pushed to GCR. This flag is only available when
        # experimental features are enabled, hence the features are enabled
        # in this flag.
        run: |
          gcloud auth configure-docker
          tmp=$(mktemp)
          sudo jq '.+{experimental:true}' /etc/docker/daemon.json > "$tmp"
          sudo mv "$tmp" /etc/docker/daemon.json
          sudo systemctl restart docker.service

      - name: Build and Publish Docker Images
        run: |
          cd ./scripts/docker/
          python build_docker.py --base-git-commit ${{ needs.build_args_job.outputs.base_sha }} --current-git-commit ${{ needs.build_args_job.outputs.head_sha }} --gcr-project ${{ secrets.GCP_PROJECT_ID }}/gatk-sv

      - name: Commit Changes to dockers.json
        run: |
          git config --global user.name 'aaaaaaaaaaaaa'
          git config --global user.email 'aaaaaaaaaaaaa@users.noreply.github.com'
          git commit -am "Automated report"
          git push
